#apartments {
  .building .h1 {
    color: $brand-primary;
  }

  h3 {
    padding: 60px 15px 20px;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &:first-of-type {
      padding-top: 20px;
    }
  }

  .apartment {
    .h5 {
      margin-bottom: 5px;
      font-size: 18px;
    }

    h4 {
      margin-top: 0;
      font-size: 24px;

      a, sup {
        color: $gray-darker;
      }
    }

    .btn {
      padding-left: 95px;
      padding-right: 95px;
    }
  }
}
