.apartment-inline-details {

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .item {
    min-width: 90px;
    flex: 1 1 auto;
    font-size: 13px;
    text-align: center;

    .header {
      background: $gray-custom-2;
      color: $black-almost;
      text-transform: uppercase;
      padding: 5px;
    }

    .content {
      color: $brand-primary;
      font-weight: $font-weight-semi-bold;
      padding: 5px;

      svg {
        height: 1em;
        width: 1em;
        top: .1em;
        position: relative;
      }

      &.red {
        color: $red-custom-0;
      }
    }

    @media (min-width: $screen-lg) {
      min-width: 0;
      margin-right: 15px;
      text-align: left;

      .header, .content {
        display: inline-block;
        background: white;
        padding: 0;
      }
    }
  }
}
