.apartment-table-details {

  .primary, .secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    min-width: 100px;
    flex: 1 1 auto;
    font-size: 13px;

    .header {
      background: $gray-custom-2;
      font-weight: $font-weight-light;
      color: $gray-darker;
      text-transform: uppercase;
      text-align: center;
      padding: 5px 0;
    }

    .content {
      padding: 5px 0;
      color: $brand-primary;
      font-weight: $font-weight-semi-bold;
      text-align: center;

      svg {
        height: 1em;
        width: 1em;
        top: .1em;
        position: relative;
      }

      &.red {
        color: $red-custom-0;
      }
    }
  }

  .secondary {
    .item {
      .content {
        font-weight: $font-weight-light;
        color: $gray-darker;
        text-align: left;
        overflow: hidden;
      }
    }
  }
}
