#apartment {
  min-height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  border: 0;

  .top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $screen-lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    color: $black-almost;
    font-size: 13px;

    padding: 5px 10px;

    border-bottom: none;

    .controls {
      flex: 1 1 auto;

      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      @media (max-width: $screen-lg) {
        width: 100%;
      }

      .return {
        flex: 1 1 auto;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

        .back {
          padding-left: 25px;
          padding-right: 15px;

          svg {
            position: absolute;
            height: 15px;
            width: 15px;
            left: 10px;
            top: 8px;
          }
        }
      }

      .developer {
        flex: 0 1 auto;
        .developer-name {
          margin: 0;

          .logo {
            display: none;
          }

          .name {
            text-align: right;
          }
        }

        @media (min-width: $screen-lg) {
          .developer-name {
            margin: 5px 0 0 0;
            .logo {
              display: block;
            }
            .name {
              display: none;
            }
          }
        }
      }
    }

    .details {
      flex: 1 1 auto;
      margin-top: 5px;
      margin-bottom: 5px;

      @media (max-width: $screen-lg) {
        width: 100%;
      }
    }

    .gap {
      flex: 100 1 auto;
      @media (max-width: $screen-lg) {
        display: none;
      }
    }

    .program {
      flex: 1 1 auto;

      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      @media (max-width: $screen-lg) {
        width: 100%;
      }

      .name {
        @media (max-width: $screen-xs) {
          width: 100%;
        }

        flex: 1 1 auto;
        white-space: nowrap;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .apartments-list {
        flex: 0 1 auto;
        margin-right: 5px;
        margin-top: 5px;
        margin-bottom: 5px;

        .choices__inner {
          font-size: 13px;
          padding-top: 6px;
        }

        .choices__list--dropdown {
          .choices__item {
            font-size: 12px;
          }
        }

        .choices__list--dropdown {
          // krpano layers issues
          z-index: 3011;
        }
      }

      .request {
        flex: 0 1 auto;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  .tours {
    // default
    height: calc(100vh - #{$size-header});
    position: relative;

    .tour {
      width: 100%;
      height: 100%;
      position: absolute;

      visibility: hidden;

      &.active {
        // fastest tours switch
        visibility: visible;
      }

      &.interior {
        // exterior's polygonal hotspot in interior fix
        z-index: 1;
      }

      &.aerial {
        background: white;
        .apartment-controls {
          .controls {
            float: right;
            right: 0;
          }
        }
        .frame-container {
          width: 100%;
          height: 100%;

          iframe {
            width: 100%;
            height: 100%;

            @media (max-width: $screen-sm) {
              height: 80%;
            }
          }
        }
      }
    }
  }
}
