.apartment-controls {
  pointer-events: none;

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    overflow: hidden;

    $control-width: 55px;
    $control-height: 55px;
    $control-width-small: 40px;
    $control-height-small: 40px;

    width: $control-width;
    @media (max-width: $screen-sm) {
      width: $control-width-small;
    }

    top: 0;
    height: 100%;

    .control {
      pointer-events: all;
      flex: 0 1 auto;
      position: relative;
      cursor: pointer;
      display: inline-flex;

      width: $control-width;
      height: $control-height;

      @media (max-width: $screen-sm) {
        width: $control-width-small;
        height: $control-height-small
      }

      img {
        width: $control-width;
        height: $control-height;
        @media (max-width: $screen-sm) {
          width: $control-width-small;
          height: $control-height-small
        }
      }

      filter: grayscale(100%);
      transition: filter 0.3s;
      opacity: 0.8;

      &.active {
        filter: grayscale(0%);
        transition: filter 0.3s;
        opacity: 1;
      }

      &.interior {
        display: none;
      }

      &.exterior {
        display: none;
      }

      &.aerial {
        display: none;
      }
    }
  }
}
