<a href="/admin/{{ parameters.url }}/{{ parameters.id }}/edit" class="item">{{ __('Edit') }}</a>

{% if parameters.enablePublish %}
  <a href id="publish-{{ parameters.id }}" class="item"
     onclick="app.onSwitch('#publish-{{ parameters.id }}', event)"
     data-switch='{"model": "{{ parameters.type }}", "_id": "{{ parameters.id }}", "property": "isPublished"}'>
      <span data-on="{{ __('Publish') }}" data-off="{{ __('Unpublish') }}">
        {% if parameters.isPublished %}
          {{ __('Unpublish') }}
        {% else %}
          {{ __('Publish') }}
        {% endif %}
      </span>
  </a>
{% endif %}

{% if parameters.enableSold %}
  <a href id="sold-{{ parameters.id }}" class="item red"
     onclick="app.onSwitch('#sold-{{ parameters.id }}', event)"
     data-switch='{"model": "{{ parameters.type }}", "_id": "{{ parameters.id }}", "property": "isSold", "updated": "{{ parameters.soldUpdated }}"}'>
      <span data-on="{{ __('Not sold') }}" data-off="{{ __('Sold') }}">
        {% if parameters.isSold %}
          {{ __('Sold') }}
        {% else %}
          {{ __('Not sold') }}
        {% endif %}
      </span>
  </a>
{% endif %}

