{% for apartment in parameters.apartments %}
  <div class="stat-el">
    <div class="thumbnail">
      {% if apartment.interior.thumbnail %}
        <div class="image">
          <a href="/apartments/{{ apartment._id }}">
            {% if apartment.isSold %}
              {% set parameters = {
                saleType: apartment.saleType
              } %}
              {% include "front/partials/apartment/apartment-sold.njk" %}
            {% endif %}
            <div class="overlay hover-opacity-0-to-50 {% if apartment.isSold %}red{% endif %}"></div>
            <div class="img lazy" data-bg="url({{ apartment.interior.thumbnail }})"></div>
          </a>
        </div>
      {% else %}
        <div class="image empty">
          <a href="/apartments/{{ apartment._id }}">
            {% if apartment.isSold %}
              {% set parameters = {
                saleType: apartment.saleType
              } %}
              {% include "front/partials/apartment/apartment-sold.njk" %}
            {% endif %}
            <div class="overlay hover-opacity-0-to-50 {% if apartment.isSold %}red{% endif %}"></div>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="controls">
      <div class="info">
        <div class="name">{{ apartment.name }}</div>
        <div class="subinfo">
          <div class="item highlight">{{ apartment.lot }}</div>
          {% if apartment.price > 0 %}
            <div class="item">{{ apartment.price }}&nbsp;&euro;</div>
          {% endif %}
        </div>
        <div class="gap"></div>
        <div class="links">
          {% set parameters = {
            url: 'apartments',
            type: 'apartment',
            id: apartment._id,
            enablePublish: true,
            isPublished: apartment.isPublished,
            enableSold: true,
            isSold: apartment.isSold,
            soldUpdated: 'isSoldUpdatedAt'
          } %}
          {% include 'front/partials/stats/actions.njk' %}
        </div>
      </div>
      <div class="counters">
        <div class="rating">{% include 'front/partials/icons/heart-solid.njk' %}{{ apartment.counterRating }}</div>
        <div class="shares">{% include 'front/partials/icons/share.njk' %}{{ apartment.counterShares }}</div>
      </div>
    </div>
  </div>
{% endfor %}
