{% for program in parameters.programs %}
  <div class="stat-el">
    <div class="thumbnail">
      {% if program.exterior.thumbnail %}
        <div class="image">
          <a href="/programs/{{ program._id }}">
            <div class="overlay hover-opacity-0-to-50"></div>
            <div class="img lazy" data-bg="url({{ program.exterior.thumbnail }})"></div>
          </a>
        </div>
      {% else %}
        <div class="image empty">
          <a href="/programs/{{ program._id }}">
            <div class="overlay hover-opacity-0-to-50"></div>
          </a>
        </div>
      {% endif %}
    </div>
    <div class="controls">
      <div class="info">
        <div class="name">{{ program.name }}</div>
        <div class="subinfo">
          <div class="item">{{ __('Apartments') }}:&nbsp;<span class="highlight">{{ program.countApartments }}</span></div>
        </div>
        <div class="gap"></div>
        <div class="links">
          {% set parameters = {
            url: 'programs',
            type: 'program',
            enablePublish: true,
            id: program._id,
            isPublished: program.isPublished
          } %}
          {% include 'front/partials/stats/actions.njk' %}
        </div>
      </div>
      <div class="counters">
        <div class="rating">{% include 'front/partials/icons/heart-solid.njk' %}{{ program.counterRating }}</div>
        <div class="shares">{% include 'front/partials/icons/share.njk' %}{{ program.counterShares }}</div>
      </div>
    </div>
  </div>
{% endfor %}
