{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'apptours' %}

{% block content %}
  <div class="apptour panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./apptours/{{ apptour._id }}/edit" method="post">

          <div class="form-group">
            <label>{{ __('Id') }}</label>
            <p>{{ apptour._id }}</p>
            <p><a href="/apptours/{{ apptour._id }}" target="_blank">{{ __('Preview') }}</a></p>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="isPublished" {% if apptour.isPublished %} checked {% endif %}>
                {{ __('Published') }}
              </label>
            </div>
          </div>

          {% if template.authRole == 'admin' %}
            <div class="form-group">
              <label>Preview task</label>
              <p><a href="./tasks/{{ apptour.previewTaskId }}/edit" target="_blank">{{ apptour.previewTaskId }}</a></p>
            </div>
            <div class="form-group">
              <label>Save task</label>
              <p><a href="./tasks/{{ apptour.saveTaskId }}/edit" target="_blank">{{ apptour.saveTaskId }}</a></p>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="5">{{ apptour | stringify }}</textarea>
            </div>
          {% endif %}

          <div class="form-group">
            <div class="map"></div>

            <input class="form-control hidden" type="text" name="location_lng"
                   value="{{ apptour.location.coordinates[0] }}">
            <input class="form-control hidden" type="text" name="location_lat"
                   value="{{ apptour.location.coordinates[1] }}">

            <label>{{ __('Address') }}</label>
            <input class="form-control" type="text" name="address" value="{{ apptour.address }}">
          </div>

          <div class="form-group">
            <label>{{ __('Type') }}</label>
            {% set parameters = {selected: apptour.type, types: apartmentsTypes} %}
            {% include "back/partials/apartment/type-select.njk" %}
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="house" {% if apptour.house %} checked {% endif %}>
                {{ __('House') }}
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>{{ __('Area') }}</label>
            <input name="area" type="number" step="0.1" class="form-control" value="{{ apptour.area }}">
          </div>

          <div class="form-group">
            <label>{{ __('Price') }}</label>
            <input name="price" type="number" class="form-control" value="{{ apptour.price }}">
          </div>

          <div class="form-group">
            <label>{{ __('Gas class') }}</label>
            <p>{{ apptour.gasClass }}</p>
          </div>

          <div class="form-group">
            <label>{{ __('Energy class') }}</label>
            <p>{{ apptour.energyClass }}</p>
          </div>

          <div class="form-group">
            <label>{{ __('Sale type') }}</label>
            {% set parameters = {selected: apptour.saleType, types: saleTypes} %}
            {% include "back/partials/apartment/sale-type-select.njk" %}
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="isSold" {% if apptour.isSold %} checked {% endif %}>
                {{ __('Sold') }}
              </label>
            </div>
          </div>

          <div class="form-group">
            <label>{{ __('Description') }}</label>
            <textarea class="form-control" name="description">{{ apptour.description }}</textarea>
          </div>

          <div class="form-group">
            <label>{{ __('User') }}</label>
            <a href="./users/{{ user._id }}/edit" target="_blank">{{ user.email }}</a>
          </div>

          <div class="form-group">
            <label>{{ __('Moderation') }}</label>
            {% set parameters = {selected: apptour.moderationStatus} %}
            {% include "back/partials/moderation-status-select.njk" %}
          </div>

          <div class="form-group">
            <p>{{ __('Locale') }}: <strong>{{ apptour.locale }}</strong></p>
          </div>

          <div class="form-group">
            <label>{{ __('Moderation message') }}</label>
            <small>{{ __('Will be shown to the user') }}</small>
            <textarea class="form-control" name="moderationMessage">{{ apptour.moderationMessage }}</textarea>
          </div>

          {% if apptour.updatedBy %}
            <div class="form-row">
              <div class="form-group">
                <label>{{ __('Updated') }}</label>
                <p>{{ apptour.updatedBy.name }}
                  <a href="mailto:{{ apptour.updatedBy.email }}">{{ apptour.updatedBy.email }}</a>
                </p>
              </div>
            </div>
          {% endif %}

          <div class="actions">
            <a class="btn btn-default" href="/admin/apptours" role="button">{{ __('Cancel') }}</a>
            <button type="submit" onsubmit="return false;" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key={{ env.MAPS_GOOGLE_KEY }}&libraries=places"></script>
{% endblock %}
