{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'apptours' %}

{% block content %}
  <div class="apptours panel">
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>
{% endblock %}
