{% macro create(header, address, location, trim) %}
  <a href class="address-modal"
     data-header="{{ header }}"
     data-address="{{ address }}"
     data-location="{{ location | dump }}">
    {{- address | truncate(trim, true) -}}
  </a>
{% endmacro %}
