{% set headerDisable = true %}
{% extends "front/layout.njk" %}

{% set fullWidth = true %}

{%- set pageTitle -%}
  {{ program.name + ' / ' + apartment.lot }}
{%- endset -%}

{% block meta %}
  <meta property="og:title" content="{{ program.name + ' ' + apartment.lot }}">
  <meta property="og:description" content="{{ developer.name }}">
  <meta property="og:image" content="{{ req.protocol + "://" + req.get('host') + interior.thumbnail }}">
  <meta property="og:url" content="{{ req.protocol + "://" + req.get('host') + req.originalUrl }}">
{% endblock %}

{% block content %}

{% include 'front/partials/tour/scrolltop.njk' %}

<section id="apartment">
  <div class="top-nav">
    <div class="controls">
      {% if not template.mobile %}
      <div class="return">
        <button class="back btn btn-primary">
          {% include 'front/partials/icons/back.njk' %}{{ __('Return') }}
        </button>
      </div>
      {% endif %}
      {% if developer %}
        <div class="developer">
          {% set parameters = {developer: developer} %}
          {% include "front/partials/developer-name.njk" %}
        </div>
      {% endif %}
    </div>
    <div class="details">
      {% set parameters = {apartment: apartment} %}
      {% include "front/partials/apartment/inline-details.njk" %}
    </div>
    <div class="gap"></div>
    <div class="program">
      {% if program %}
        <div class="name">
          {{ __('Program') }} <a href="/programs/{{ program._id }}">{{ program.name }}</a>
        </div>
        {% set parameters = {apartment: apartment, allApartments: allApartments, allBuildings: allBuildings} %}
        {% include "front/partials/apartment/apartments-list.njk" %}
      {% endif %}
      <div class="request">
        <button class="btn btn-success" id="request-apartment-button">{{ __('Request info') }}</button>
      </div>
    </div>
  </div>

  <div class="tours">
    <div class="tour interior active">
      {% set parameters = {
        tour: interior,

        shareTitle: apartment.name,
        entityType: 'Apartment',
        entityId: apartment._id,
        shareUrl: '/apartments/' + apartment._id,
        integrateUrl:'/tours/' + interior._id,
        favoriteEnabled: true,
        favoriteId: favoriteId
      } %}
      {% include 'front/partials/tour/tour.njk' %}
    </div>
    {% if exterior %}
      <div class="tour exterior">
        {% set parameters = {
          tour: exterior,
          mainScene: apartment.exteriorScene,
          polygons: apartment.exteriorPolygons,
          hideSidebarRight: true,
          delay: 2000,

          shareTitle: apartment.name,
          entityType: 'Apartment',
          entityId: apartment._id,
          shareUrl: '/apartments/' + apartment._id,
          integrateUrl:'/tours/' + exterior._id,
          favoriteEnabled: true,
          favoriteId: favoriteId
        } %}
        {% include 'front/partials/tour/tour.njk' %}
      </div>
    {% endif %}
    {% if program.aerial_url %}
      {% set parameters = {
        url: program.aerial_url
      } %}
      {% include 'front/partials/apartment/aerial.njk' %}
    {% endif %}
  </div>
</section>
{% endblock %}

{% block outro %}
  {% set parameters = {
    developerId: developer._id,
    programId: program._id,
    buildingId: building._id,
    apartmentId: apartment._id
  } %}
  {% include "front/partials/modals/request-apartment.njk" %}
{% endblock %}
