{% for sequence in sequences %}
  <tr data-id="{{ sequence._id }}">
    <td><a href="./sequences/{{ sequence._id }}/edit">{{ sequence.name }}</a></td>
    <td class="actions">
      {% set parameters = {
        url: 'sequences',
        id: sequence._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
