{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'logs' %}

{% block content %}
  <div class="log panel">
    <form>
      <div class="form-group">
        <label>{{ __('Id') }}</label>
        <p>{{ log._id }}</p>
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="30">{{ log | stringify }}</textarea>
      </div>

      <div class="actions">
        <a class="btn btn-default" href="/admin/logs" role="button">{{ __('Cancel') }}</a>
      </div>
    </form>
  </div>
{% endblock %}
