{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'logs' %}

{% block content %}
  <div class="logs panel">
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>
{% endblock %}
