{% for partner in partners %}
  <tr data-id="{{ partner._id }}">
    <td><a href="./partners/{{ partner._id }}/edit">{{ partner.name }}</a></td>  
    <td>{{ partner.code }}</td>
    <td>{{ partner.email }}</td>
    <td>
      <a href="/api/export?partnerCode={{ partner.code }}&key={{ partner.key }}&format=xml" target="_blank">Export XML</a>
      <a href="/api/export?partnerCode={{ partner.code }}&key={{ partner.key }}&format=json" target="_blank">Export JSON</a>
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'partners',
        type: 'partner',
        id: partner._id,
        hideLink: true,
        enableEnable: true,
        isEnabled: partner.isEnabled
      } %}      
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}

