{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'phrases' %}

{% block content %}
  <div class="phrase panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./phrases/{{ phrase._id }}/edit" method="post">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input name="name" type="text" class="form-control" value="{{ phrase.name }}" required>
          </div>
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
