.btn {
  position: relative;

  &.single {
    width: 100%;
  }

  &.busy {
    span {
      opacity: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -15px 0 0 -15px;
      width: 30px;
      height: 30px;
      background-color: $brand-primary;
      border-radius: 100%;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
}
