.error-container {
  .error-message {
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
