input, select, button {
  outline: none;
  border-radius: 0;
  font-weight: $font-weight-light;
  border: solid 1px $gray-dark;
  background: white;
  height: 33px;
}

input, textarea, select {
  appearance: none;
}

input::placeholder {
  color: $gray-dark;
  opacity: 1;
}

input {
  vertical-align: middle;
  padding: 5px 10px;
}

label {
  color: $black-almost;
  font-weight: $font-weight-semi-bold;
}

select[multiple] {
  font-size: 12px;
  border-radius: 0;
  border: solid 1px $gray-dark;
  background: white;
  padding: 5px;
  // for mobile
  min-height: 33px;

  option {
    padding: 2px 5px;
  }
}

// same for choices js
select {
  min-width: 150px;
  // prevent content flashing
  color: white;
}

// ie disable text input clear button
input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

// disable shadows
.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: none;
  outline: none !important;
}

.btn {
  transition: $effect-buttons;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: darken($brand-primary, 20%) !important;
  background: white !important;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  color: darken($gray-darker, 15%) !important;
  background: white !important;
}
