body > header {
  background: white;
  border-bottom: 1px solid $gray-dark;
  position: fixed;
  z-index: 1030;
  top: 0;
  width: 100%;
  height: $size-header;
  user-select: none;

  &.fixed {
    position: absolute;
  }

  &.headroom {
    will-change: transform;
    transition: transform .2s linear;
  }
  &.headroom--pinned {
    transform: translateY(0%);
  }
  &.headroom--unpinned {
    transform: translateY(-100%);
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;

    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .logo {
    flex: 0 1 auto;
    .logo-image {
      svg {
        height: 28px;
        width: 155px;
      }
    }
  }

  .gap {
    flex: 100 1 auto;
  }

  .header-controls {
    flex: 0 1 auto;
    height: 100%;
    margin-left: 10px;
    white-space: nowrap;

    .control {
      display: inline-flex;
      height: 100%;
      cursor: pointer;
      color: $black-almost;

      transition: color .3s;

      &.active {
        color: $brand-primary;
        transition: color .3s;
      }
    }

    #header-control-menu {
      width: 26px;
      svg {
        width: 26px;
        height: 64px;
      }
    }
  }
}
