.hover-opacity-0-to-50 {
  opacity: 0;
  transition: opacity 0.5s;
}

.hover-opacity-0-to-50:active {
  opacity: 0.5;
  transition: opacity 0.5s;
}

@media (hover) {
  .hover-opacity-0-to-50:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
  }
}

.hover-saturate-150 {
  transition: filter 0.5s;
}

.hover-saturate-150:active {
  filter: saturate(150%);
  transition: filter 0.5s;
}

@media (hover) {
  .hover-saturate-150:hover {
    filter: saturate(150%);
    transition: filter 0.5s;
  }
}

.hover-opacity-70 {
  transition: filter 0.5s;
}

.hover-opacity-70:active {
  filter: opacity(70%);
  transition: filter 0.5s;
}

@media (hover) {
  .hover-opacity-70:hover {
    filter: opacity(70%);
    transition: filter 0.5s;
  }
}
