#index {

  min-width: 300px;

  .logo {
    padding: 16px;
    user-select: none;

    img {
      width: 80%;
      max-width: 300px;
      @media (max-width: $screen-sm) {
        max-width: 200px;
      }
    }
  }

  .motto {
    font-size: 14px;
    font-weight: $font-weight-light;
    padding-left: 16px;
    padding-right: 16px;
    color: $black-almost;

    user-select: none;

    span {
      color: $brand-primary;
      font-weight: $font-weight-semi-bold;
    }
  }

  // TODO remove
  .coming-soon {
    font-size: 14px;
    font-weight: $font-weight-light;
    color: $black-almost;
    padding: 20px;
  }

  #search-bar {
    padding: 15px 0;
  }

  table {
    position: absolute;
    display: table;
    width: 100%;
    top: 0;
    height: 100vh;

    td {
      text-align: center;
    }

    tr.footer {
      height: 50px;
      user-select: none;

      a {
        color: $gray-darker;
        font-size: 13px;
        font-weight: $font-weight-light;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
