h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
  color: $black-almost;
  font-weight: $font-weight-semi-bold;
}

a * {
  color: $brand-primary;
}

a {
  transition: $effect-links;
}

p {
  margin: 0;
}

// prevent "save image" on touch devices
img {
  pointer-events: none;
}

body {
  user-select: none;

  @media (min-width: $screen-sm) {
    background: #fff;
  }

  // fixes ios modal windows shift on address bar open
  -webkit-overflow-scrolling:touch;
}

main {
  position: relative;
  z-index: 10;
  margin-top: $size-header;

  &.no-header {
    margin-top: 0;
  }

  > .container {
    padding: 0;
  }
}

section {

  @media (min-width: $screen-sm) {
    margin-bottom: 20px;
    border: 1px solid $gray-dark;
  }

  &:first-child {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  > header {
    padding: 20px 15px;
    min-height: $size-header;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .h1 {
      margin-bottom: 0;
      font-weight: $font-weight-semi-bold;
      color: $black-almost;

      @media (min-width: $screen-sm) {
        float: left;
      }
    }

    .sort {
      font-weight: $font-weight-semi-bold;
      color: $gray-darker;
      margin-top: 20px;

      select, .choices__inner {
        min-width: 170px;
      }

      @media (min-width: $screen-sm) {
        float: right;
        margin-top: 0;
      }
    }
  }

  .top-nav {
    min-height: $size-header;
    padding: 5px 15px;
    border-bottom: 1px solid $color-delimiter;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }

    .controls {
      font-size: 16px;
      font-weight: $font-weight-semi-bold;
      position: relative;

      .control {
        display: inline-block;
        margin: 10px 0;

        @media (min-width: $screen-sm) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    .primary.controls {
      flex: 1 1 auto;
      margin-top: 5px;

      .control {
        @media (min-width: $screen-sm) {
          margin-left: 40px;
        }
      }
    }

    .secondary.controls {
      flex: 0 1 auto;

      .control {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }

      a {
        &.control {
          color: $black-almost;
        }
      }
    }
  }

  .sub-nav {
    padding: 20px 15px;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

