.list-el {
  margin: 0 15px;
  padding: 20px 0;
  border-bottom: 1px solid $color-delimiter;

  @media (min-width: $screen-sm) {
    margin-left: 40px;
    margin-right: 40px;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: 0;
  }

  .image {
    position: relative;
    margin-bottom: 15px;
    height: 200px;

    @include image-preload-animation;

    @media (min-width: $screen-sm) {
      width: 280px;
      height: 155px;
      float: left;
    }

    &.empty {
      background: $gray-custom-2;

      .name {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }

      a * {
        color: $gray-darker;
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      @include overlay-view;
    }

    @include apartment-sold;

    .img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    + .text {
      @media (min-width: $screen-sm) {
        width: calc(100% - 280px);
        padding-left: 20px;
        float: right;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    :first-child {
      flex: 1 1 auto;
    }

    .details {
      margin-top: 15px;
    }

    .actions {
      margin-top: 15px;

      .primary {
        margin-bottom: 15px;

        @media (min-width: $screen-sm) {
          float: right;
          margin-bottom: 0;
        }
      }

      .secondary {

        margin-left: 2px;

        @media (min-width: $screen-sm) {
          float: left;
          margin-top: 7px;
        }
      }
    }
  }
}
