// z-index issues on ios
.loading {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 1;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9010;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-color: $brand-primary;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.loading-circle {
  min-height: 50px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 1;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9010;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background-color: $brand-primary;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
}

.loading-circle-no-zindex {
  @extend .loading-circle;
  &:before, &:after {
    z-index: unset;
  }
}
