@mixin overlay-view() {
  position: absolute;
  background-image: url("/assets/shared/images/search-overlay.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $brand-primary;
  background-size: 50px;

  &.red {
    background-color: $red-custom-0;
  }
}

@mixin image-preload-animation() {
  background: linear-gradient(45deg, $brand-primary-light, lighten($brand-primary-light, 20%), $brand-primary-light);
  background-size: 400% 400%;
  animation: preload-gradient 1s ease 5;

  @keyframes preload-gradient {
    0% {
      background-position: 0 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0 50%
    }
  }
}

@mixin apartment-sold($small: false) {
  @if $small {
    .apartment-sold {
      font-size: 0;
      position: absolute;
      opacity: .8;
      color: $red-custom-0;

      .text {
        color: white;
        position: absolute;
        font-size: 8px;
        font-weight: bold;
        text-transform: uppercase;
        transform: rotate(-45deg);
        height: 35px;
        width: 35px;
        text-align: center;
        padding-top: 8px;
      }
    }
    .apartment-sold:before {
      content: '';
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 40px;
      border-left: 40px solid $red-custom-0;
    }
  } @else {
    .apartment-sold {
      font-size: 0;
      position: absolute;
      opacity: .8;
      color: $red-custom-0;

      .text {
        color: white;
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        transform: rotate(-45deg);
        height: 50px;
        width: 50px;
        text-align: center;
        padding-top: 12px;
      }
    }
    .apartment-sold:before {
      content: '';
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 60px;
      border-left: 60px solid $red-custom-0;
    }
  }
}
