.modal-content {
  border-radius: 0;
  border: none;
  overflow: hidden;
  background: none;
  box-shadow: none;
  color: $black-almost;

  .modal-form {

    .modal-row {
      display: flex;
      flex-wrap: wrap;
      padding: 7px;

      .modal-col {
        min-width: 50%;
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-left: 7px;
        }

        @media (max-width: $screen-sm) {
          min-width: 100%;
          &:first-child {
            padding-right: 0;
            padding-bottom: 14px;
          }
          &:last-child {
            padding-left: 0;
          }
        }
      }
    }

    input::placeholder {
      color: $gray-darker;
      opacity: 1;
    }

    select::placeholder {
      color: $gray-darker;
    }

    input, select {
      height: 36px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      border: 1px solid $gray-custom-2;
      background: $gray-custom-2;
      color: $black-almost;

      text-overflow: ellipsis;
      appearance: none;
    }

    .wrong-input {
      border: 1px solid $red-custom-0;
    }

    margin-bottom: 18px;
  }
}

.modal-footer {
  border: none;
  padding: 0;
  margin-top: -18px;

  .btn {
    height: 36px;
  }

  .btn:last-child {
    margin-right: 22px;
  }

  .btn-icon {
    padding-left: 40px;

    svg {
      left: 18px;
      top: 9px;
      height: 16px;
      width: 15px;
      position: absolute;
    }
  }
}

.modal-body {
  background: white;
  border-radius: 0;

  .form-group {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.modal-backdrop {
  background: $black-almost;
}

.modal-header {
  border: 0;
  color: #fff;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

  .close {
    font-size: 36px;
    color: #fff;
    text-shadow: none;
    opacity: 1;

    &:hover {
      opacity: .8;
    }
  }
}

.bootstrap-dialog.type-primary .modal-header {
  font-weight: $font-weight-semi-bold;
  background: none;
  border: none;
  padding: 0;
  padding-bottom: 10px;

  .bootstrap-dialog-header {
    .bootstrap-dialog-title {
      margin-top: 7px;
      margin-left: 7px;
      font-size: 18px;
    }

    .bootstrap-dialog-close-button .close {
      color: white;
      margin-top: 0;
      opacity: 1;
      font-size: 36px;
    }
  }
}
