.readmore {
  .content {
    font-weight: $font-weight-light;
    position: relative;
    overflow: hidden;

    strong {
      font-weight: normal;
    }

    a, a * {
    }

    ul, ol {
      padding-top: 5px;
      padding-bottom: 5px;
      margin: 0;
    }

    p {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    p:first-child, ul:first-child, ol:first-child {
      padding-top: 0;
    }
  }

  .fadeout {
    display: none;

    &.active {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 35%;
      background-image: linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
    }
  }

  .expand {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
