// modal window
.request-header {
  width: 100%;
  text-align: center;
  color: $gray-darker;
  font-weight: $font-weight-light;

  h2 {
    color: $brand-primary;
    padding-bottom: 10px;
  }
}

// request buttons block for program and developer views
.request-buttons {

  button {
    margin-bottom: 6px;
    padding: 0 8px;
    text-align: left;
  }

  #request-glasses-button {

    background: $gray-custom-1;
    border-color: $gray-custom-1;

    span {
      font-size: 12px;
      text-transform: uppercase;
      background: $red-custom-0;
      padding: 0 6px;
      margin-left: 4px;
    }

  }

  #request-glasses-button:hover {
    background: $gray-custom-3;
  }
}
