.social {
  font-size: 13px;
  user-select: none;
  opacity: 0;

  .like {
    display: inline-block;
    min-width: 35px;
    white-space: nowrap;
    margin-right: 5px;
    cursor: pointer;
    color: $brand-primary;

    svg {
      height: 1em;
      width: 1em;
      top: .1em;
      position: relative;
    }

    .icon-liked {
      display: none;
    }

    &.active {
      color: $red-custom-0;

      .count {
        font-weight: bold;
      }
    }
  }

  .bounce {
    display: inline-block;
    position: relative;
    animation: like_bounce 0.3s linear;
  }
  @keyframes like_bounce {
    0% { top: 0; }
    50% { top: -0.5em; }
    100% { top: 0; }
  }

  .share {
    white-space: nowrap;
    cursor: pointer;
    color: darken($gray-darker, 20%);

    svg {
      height: 1em;
      width: 1em;
      top: .1em;
      position: relative;
    }
  }

  .favorite {
    white-space: nowrap;
    cursor: pointer;
    color: darken($gray-darker, 20%);
    margin-right: 10px;

    svg {
      height: 1em;
      width: 1em;
      top: .1em;
      position: relative;
    }

    &.active {
      svg {
        color: $orange-custom-0;
      }
    }
  }
}

.social-modal {
  display: none;
  padding: 0 10px;

  .sharing-buttons {

    .share-button {
      display: inline-block;
      padding-right: 5px;
      padding-bottom: 5px;
      cursor: pointer;

      svg {
        width: 33px;
        height: 33px;
      }
    }
  }

  input::placeholder {
    color: $gray-darker;
    opacity: 1;
  }

  h4 {
    color: $gray-custom-0;
    padding-left: 2px;
  }

  input {
    width: 100%;
    height: 34px;
    border: none;
    background: $gray-custom-1;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-overflow: ellipsis;
    margin-top: 5px;
  }

  .group {
    padding-bottom: 10px;
  }

  .integrate {
    display: none;
  }
}
