.swal2-popup {
  font-size: 16px;
  font-weight: $font-weight-light;
  border-radius: 0;

  .swal2-success {
    border-color: $brand-primary;

    .swal2-success-line-tip {
      background: $brand-primary;
    }

    .swal2-success-line-long {
      background: $brand-primary;
    }

    .swal2-success-ring {
      border: .25em solid rgba($brand-primary, .3);
    }
  }
}

// index page fix
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: unset;
}
