.tabs-nav {
  min-height: $size-header;
  padding: 15px 15px 0;
  border-bottom: 1px solid $color-delimiter;

  @media (min-width: $screen-sm) {
    padding-left: 40px;
    padding-right: 40px;
  }

  a {
    margin-bottom: 15px;
    margin-right: 10px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }
}
