// https://github.com/kazzkiq/balloon.css

$balloon-bg: #000;
$balloon-base-size: 10px !default;
$balloon-arrow-height: 10px;
$balloon-arrow-margin: 15px;

@mixin arrow($color, $position: up) {
  width: 0;
  height: 0;

  border-left: $balloon-arrow-height solid transparent;
  border-right: $balloon-arrow-height solid transparent;

  @if ($position == up) {
    border-top: $balloon-arrow-height solid $color;
    border-bottom: $balloon-arrow-height solid transparent;
  }

  @if ($position == down) {
    border-top: $balloon-arrow-height solid transparent;
    border-bottom: $balloon-arrow-height solid $color;
  }
}

@mixin base-effects() {
  opacity: 0;
  pointer-events: none;
  //transition: all .2s ease-out .2s;
}

@mixin no-effects() {
  transition: none;
}

@mixin normalized-text() {
  font-family: sans-serif !important;
  font-weight: $font-weight-light !important;
  font-style: normal !important;
  text-shadow: none !important;
  font-size: $balloon-base-size + 2 !important;
}

// IE 11 button bugfix
button[data-balloon] {
  overflow: visible;
}

[data-balloon] {
  position: relative; // alt. absolute or fixed

  // Fixing iOS Safari event issue.
  // More info at: https://goo.gl/w8JF4W
  cursor: pointer;

  &:after {
    @include base-effects();
    @include normalized-text();
    background: $balloon-bg;
    border-radius: 0;
    color: #fff;
    content: attr(data-balloon);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
  }

  &:before {
    @include arrow($balloon-bg);
    @include base-effects();

    content: '';
    position: absolute;
    z-index: 10;
  }

  &[data-balloon-visible] {
    &:before,
    &:after {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &[data-balloon-pos="up"] {
    &:after {
      bottom: 100%;
      left: 50%;
      margin-bottom: $balloon-arrow-margin;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }
    &:before {
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 10px);
      transform-origin: top;
    }

    &[data-balloon-visible] {
      &:after {
        transform: translate(-50%, 0);
      }

      &:before {
        transform: translate(-50%, 0);
      }
    }
  }

  &[data-balloon-pos='down'] {
    &:after {
      left: 50%;
      margin-top: $balloon-arrow-margin;
      top: 100%;
      transform: translate(-50%, -10px);
    }

    &:before {
      @include arrow($balloon-bg, 'down');
      left: 50%;
      top: 100%;
      transform: translate(-50%, -10px);
    }

    &[data-balloon-visible] {
      &:after {
        transform: translate(-50%, 0);
      }

      &:before {
        transform: translate(-50%, 0);
      }
    }
  }
}
