#user-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $black-almost;

  padding: 10px 0;
  margin-top: 10px;
  margin-left: 17px;
  border-radius: 3px;
  user-select: none;

  .balloon::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 9px solid $black-almost;
    border-right: 9px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    right: -17px;
    top: 2px;
  }

  .controls {
    position: relative;
    display: flex;
    flex-direction: column;

    .control {
      flex: 0 1 auto;
      color: white;
      transition: color 0.3s;
      padding: 10px 20px;

      &.requests, &.messages {
        .count-new {
          display: none;
          border-radius: 3px;
          font-weight: $font-weight-semi-bold;
          background: $red-custom-0;
          transition: background 0.3s;
          padding: 0 6px;
          margin-left: 10px;
        }
      }

      &.requests:hover, &.messages:hover {
        .count-new {
          background: darken($red-custom-0, 20%);
          color: $gray-dark;
          transition: background 0.3s, color 0.3s;
        }
      }

      &.logout {
        color: $gray-dark;
      }

      &.link {
        cursor: pointer;
      }

      &.link:hover {
        color: $gray-dark;
        transition: color 0.3s;
      }
    }

    .locales {
      flex: 0 1 auto;
      cursor: pointer;
      padding: 10px 20px;

      .locale {
        float: left;

        &[data-locale="fr"] {
          margin-right: 10px;
        }

        .flag {
          height: 16px;
        }
      }
    }

    .separator {
      flex: 0 1 auto;
      text-align: center;
      line-height: 0;
      padding: 5px 0;

      .dot {
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: $gray;
      }
    }
  }
}
