$size-header: 65px;

$gray-custom-0: #6F7E84;
$gray-custom-1: #595b5a;
$gray-custom-2: #f5f5f5;
$gray-custom-3: #484848;
$gray-custom-4: #dddddd;

$red-custom-0: #e9334f;
$orange-custom-0: #f0ad4e;

$brand-primary-light: #93dbdd;

$color-delimiter: $gray;

$effect-links: color 0.3s ease-in-out;
$effect-buttons: all 0.3s ease-in-out;

$font-weight-light: 300;
$font-weight-semi-bold: 600;
