{% import "back/macros/routes.njk" as routes with context %}

{% macro getLayersNames(scenes, scene) %}
  {% set l = [scene.layer.name] %}
  {% for s in scenes %}
    {% if s.type._id == scene.type._id and s.layer.isBaseLayer == false %}
      {% set l = (l.push(s.layer.name),l) %}
    {% endif %}
  {% endfor %}
  {%- if l | length > 1 -%}
    ({{- l | join(', ') -}})
  {%- endif -%}
{% endmacro %}

{% for tour in tours %}
  <tr data-id="{{ tour._id }}" data-path="{{ tour.path }}">
    <td>
      {% if tour.thumbnail|length %}
        <a href="/tours/{{ tour._id }}" target="_blank">
          <img class="tour-thumbnail" src="{{ tour.thumbnail }}" alt="">
        </a>
      {% endif %}
    </td>
    <td>
      <div class="date" data-date="{{ tour.createdAt | timestamp }}" data-format="lll"></div>
    </td>
    <td>
      <div class="essentials">
        <div class="name">{{ tour.name | truncate(30, true, "...") }}</div>
        <div class="scenes">
          <div class="title">{{ __('scenes') | capitalize }}: {{ tour.scenes | length }}</div>
          <div class="list">
            {% for scene in tour.scenes %}
              {% if scene.layer.isBaseLayer == true %}
                <div class="scene">- {{ scene.name | truncate(30, true, "...") }} {{ getLayersNames(tour.scenes, scene) }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if tour.generateStatus and tour.generateStatus != 'completed' %}
          <div class="additional">
            {% if tour.generateStatus == 'processing' %}
              {{ routes.rt(__(tour.generateStatus | tourGenerateStatus), 'info') }}
            {% else %}
              {{ routes.rt(__(tour.generateStatus | tourGenerateStatus), 'error') }}
            {% endif %}
          </div>
        {% endif %}
      </div>
    </td>
    <td>
      <div class="path">
        {% if tour.type == 'exterior' and tour.program %}
          {{ routes.rtlink(tour.program.developer, 'developers') }}
          {{ routes.rtlink(tour.program, 'programs') }}
          <a href="{{ '/programs/' + tour.program._id }}" target="_blank">{{ routes.rticon('far fa-link') }}</a>
        {% elseif tour.type == 'interior' and (tour.apartment or tour.apartmentsAdditional) %}
          {% if tour.apartment %}
            <div class="apartment">
              {{ routes.rtlink(tour.apartment.building.program.developer, 'developers') }}
              {{ routes.rtlink(tour.apartment.building.program, 'programs') }}
              {{ routes.rtlink(tour.apartment.building, 'buildings') }}
              {{ routes.rtlink(tour.apartment, 'apartments') }}
              <a href="{{ '/apartments/' + tour.apartment._id }}" target="_blank">{{ routes.rticon('far fa-link') }}</a>
            </div>
          {% endif %}
          {% if tour.apartmentsAdditional | length %}
            <div>{{ __('Additional apartments') }}:
              {% for a in tour.apartmentsAdditional %}
                {{ routes.rtlink(a, 'apartments') }}
              {% endfor %}
            </div>
          {% endif %}
        {% else %}
          {{ routes.rt(__('Not assigned'), 'error') }}
        {% endif %}
      </div>
    </td>
    <td>{{ tour.counterRating }}</td>
    <td>{{ tour.counterShares }}</td>
    <td>
      {% set parameters = {tour: tour} %}
      {% include 'back/partials/grids/actions-tours.njk' %}
    </td>
  </tr>
{% endfor %}
