{% extends "front/layout.njk" %}

{% set pageTitle = __('Messages') %}
{% if template.mobile %}
  {% set headerDisable = true %}
{% endif %}

{% block content %}
  <div id="messages" class="container {% if template.mobile %}mobile{% endif %}">
    <div class="loader loading"></div>
  </div>
{% endblock %}

{% block scripts %}
  {% include 'front/partials/scripts/talkjs.njk' %}
  <script>

    Talk.ready.then(function () {

      var photoUrl = '{{ talkjsUser.photoUrl }}';

      var u = {
        id: '{{ talkjsUser.id }}',
        name: '{{ talkjsUser.name }}',
        email: '{{ talkjsUser.email }}',
        locale: '{{ req.locale }}',
        role: '{{ talkjsGetRole('user', req.locale) }}'
      };

      if (photoUrl) u.photoUrl = photoUrl;

      var user = new Talk.User(u);

      var talkSession = new Talk.Session({
        appId: '{{ talkjsAppId() }}',
        me: user,
        signature: '{{ talkjsSignature(talkjsUser.id) }}'
      });

      {% if req.query.conversationId %}
      var inbox = talkSession.createInbox({selected: '{{ req.query.conversationId }}'});
      {% else %}
      var inbox = talkSession.createInbox();
      {% endif %}
      inbox.mount(document.getElementById('messages'));
    });

  </script>
{% endblock %}
