<div class="modal" id="create-{{ parameters.type }}-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="./{{ parameters.type }}s/create" method="post" class="form-inline">
        <div class="modal-header">
          <div class="modal-title">{{ __('Create new %s', __(parameters.text)) }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input type="text" name="name" class="form-control" required>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Create') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
