<div class="modal" id="delete-all-{{ parameters.type }}">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">{{ __('Delete All %s', __(parameters.text)) }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>{{ __('Do you really want to delete all %s', __(parameters.text)) }}</p
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="button" class="btn btn-danger confirm-del-all"><span>{{ __('Delete All') }}</span></button>
        </div>
    </div>
  </div>
</div>
