<div class="modal" id="export-programs">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-inline">
        <div class="modal-header">
          <div class="modal-title">{{ __('Apartments') }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Status') }}</label>
            <select name="sold" class="form-control selectpicker">
              <option value="">{{ __('Any') }}</option>
              <option value="yes">{{ __('sold') | capitalize }}</option>
              <option value="no" selected>{{ __('not sold') | capitalize }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ __('Type') }}</label>
            <select multiple name="types"
                    class="form-control"
                    data-none-selected-text="{{ __('All') }}">
              {%- for type in parameters.apartmentsTypes -%}
                <option value="{{ type }}">
                  {{ __(type | apartmentType) }}
                </option>
              {%- endfor -%}
            </select>
          </div>
          <div class="form-group">
            <label>{{ __('Programs') }}</label>
            <select multiple name="programs"
                    class="form-control"
                    data-none-selected-text="{{ __('All') }}">
              {%- for program in parameters.programs -%}
                <option value="{{ program._id }}">
                  {{ program.name }}
                </option>
              {%- endfor -%}
            </select>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="button" class="btn btn-success submit">{{ __('Export') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
