{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'partners' %}

{% block content %}
  <div class="partner panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./partners/{{ partner._id }}/edit" method="post">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input name="name" type="text" class="form-control" value="{{ partner.name }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Code') }}</label>
            <input name="code" type="text" class="form-control" value="{{ partner.code }}" readonly>
          </div>
          <div class="form-group">
            <label>{{ __('Email') }}</label>
            <input name="email" type="email" class="form-control" value="{{ partner.email }}" required>
          </div>
          <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isEnabled" {% if partner.isEnabled %} checked {% endif %}>
              {{ __('Enabled') }}
            </label>
          </div>
        </div>
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
        <h2>Exports</h2>
        <p>
          <a href="/api/export?partnerCode={{ partner.code }}&key={{ partner.key }}&format=xml" target="_blank">Export XML</a> -
          <a href="/api/export?partnerCode={{ partner.code }}&key={{ partner.key }}&format=json" target="_blank">Export JSON</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
