{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'partners' %}

{% block content %}
  <div class="partners panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('partner')) }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'partner', text: 'partner'} %}
  {% include "back/partials/modals/create-with-name-and-email.njk" %}
{% endblock %}
