{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block content %}
  <div class="intro">
    <div class="reset-password panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Member validated') }}</div>
        <p>{{ __('The member has joined your ads group') }}</p>
      </div>
    </div>
  </div>
{% endblock %}
