{% extends "back/layout.njk" %}
{% set page = 'developers' %}

{% block content %}
  <div class="panel">
    <h1>{{ developer.name }}</h1>
    <p>{{ __('Are you sure you want to delete this %s? This operation is irreversible.', __('developer')) }}</p>
    <div class="actions">
      <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
      <a href="./developers/{{ developer._id }}/delete?confirmed=1" class="btn btn-danger">{{ __('Delete') }}</a>
    </div>
  </div>
{% endblock %}
