{% extends "back/layout.njk" %}
{% set page = 'developers' %}

{% block content %}
  <div class="panel">
    <p>{{ __('Are you sure you want to delete those %s? This operation is irreversible.', __('developer')) }}</p>
    <div class="actions">
      <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
      <a href="./developers/developer/deleteAll?confirmed=1" class="btn btn-danger">{{ __('Delete All') }}</a>
    </div>
  </div>
{% endblock %}
