{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'developers' %}

{% block content %}
<div class="developer panel">
  <div class="row">
    <div class="col-md-6">
      <form action="./developers/{{ developer._id }}/edit" method="post">
        <div class="form-group">
          <label>{{ __('Name') }}</label>
          <input name="name" type="text" class="form-control" value="{{ developer.name }}" required>
        </div>
        <div class="form-group">
          <label>{{ __('Alias') }}</label>
          <input name="alias" type="text" class="form-control" pattern="^[a-zA-Z0-9][a-zA-Z0-9]{0,61}$" value="{{ developer.alias }}">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isPublished" {% if developer.isPublished %} checked {% endif %}>
              {{ __('Published') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Description') }}</label>
          <textarea class="html form-control" name="description">{{ developer.description }}</textarea>
        </div>
        <div class="form-group">
          <label>{{ __('Programs') }}</label>
          {% include "back/partials/programs-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Avatar logo') }}</label>
          {% if developer.logoAvatar %}
            {% set initialImage = "/storage/files/developers/" + developer._id + "/" + developer.logoAvatar %}
            {% set inputValue = developer.logoAvatar %}
          {% endif %}
          {% if developer.logoAvatarOriginal %}
            {% set initialImageOriginal = "/storage/files/developers/" + developer._id + "/" + developer.logoAvatarOriginal %}
            {% set inputValueOriginal = developer.logoAvatarOriginal %}
          {% endif %}
          {% set parameters = {
            inputName: 'logoAvatar',
            inputValue: inputValue,
            initialImage: initialImage,

            saveOriginal: true,
            inputNameOriginal: 'logoAvatarOriginal',
            inputValueOriginal: inputValueOriginal,
            initialImageOriginal: initialImageOriginal,

            cropTitle: 'Avatar logo',
            cropSettings: logoAvatarSettings,

            uploadUrl: '/admin/developers/' + developer._id + '/save-logo',
            removeUrl: '/admin/developers/' + developer._id + '/remove-logo'
          } %}
          {% include "back/partials/image-cropper.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Tour logo url') }}</label>
          <input name="logoTourUrl" type="url" class="form-control" value="{{ developer.logoTourUrl }}">
        </div>
        <div class="form-group">
          <label>{{ __('Slider') }}</label>
          {% set parameters = {imagesets: imagesets, selected: developer.slider._id, name: 'slider', type: 'slider'} %}
          {% include "back/partials/imageset-select.njk" %}
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="requestGlasses" {% if developer.requestGlasses %} checked {% endif %}>
              {{ __('Allow 3d glasses requests') }}
            </label>
          </div>
        </div>
        {% set parameters = {user: developer.user, group: developer.group} %}
        {% include "back/partials/permissions.njk" %}
        <div class="actions">
          <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
