{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'developers' %}

{% block content %}
  <div class="developers panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('developer')) }}</button>
      <button type="button" class="btn btn-danger btn-del-all" id="developer-del-all">{{ __('Delete All') }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'developer', text: 'developer'} %}
  {% include "back/partials/modals/create.njk" %}

  {% set parameters = {type: 'developer', text: 'developer'} %}
  {% include "back/partials/modals/deleteAll.njk" %}
{% endblock %}
