{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'developers' %}

{% block content %}
  <div class="developer-permissions panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./developers/{{ developer._id }}/permissions" method="post">
          <div class="form-group">
            <label>{{ __('Apply permissions to all developer\'s objects') }}</label>
          </div>
          {% set parameters = {user: developer.user, group: developer.group} %}
          {% include "back/partials/permissions.njk" %}
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
