{% import "back/macros/routes.njk" as m with context %}

<div class="repeater-select">
  <div data-repeater-list="apartments">
    {% if buildingApartments|length %}
      {% for building_apartments in buildingApartments %}
        <div data-repeater-item>
          <div class="input-group">
            <select
              name="data"
              class="form-control"
              title=""
              data-live-search="true"
              data-style="btn-link"
              data-size="5">
              <option data-hidden="true" value=""></option>
              {% for a in apartments %}
                <option value="{{ a._id }}" {% if a._id == building_apartments._id %}selected{% endif %}
                        data-content="{{ m.rt(a.name, 'primary') }}{{ m.rt(a.building.program.developer.name) }}{{ m.rt(a.building.program.name) }}{{ m.rt(a.building.name) }}">
                </option>
              {% endfor %}
            </select>
            <span class="input-group-btn">
        <span class="remove btn btn-link" data-repeater-delete type="button"><i class="far fa-trash"></i></span>
        </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div data-repeater-item>
        <div class="input-group">
          <select
            name="data"
            class="form-control"
            title=""
            data-live-search="true"
            data-style="btn-link"
            data-size="5">
            <option data-hidden="true" value=""></option>
            {% for a in apartments %}
              <option value="{{ a._id }}"
                      data-content="{{ m.rt(a.name, 'primary') }}{{ m.rt(a.building.program.developer.name) }}{{ m.rt(a.building.program.name) }}{{ m.rt(a.building.name) }}">
              </option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
        <span class="remove btn btn-link" data-repeater-delete type="button"><i class="far fa-trash"></i></span>
        </span>
        </div>
      </div>
    {% endif %}
  </div>
  <span class="add btn btn-link" data-repeater-create type="button"><i class="far fa-plus"></i> {{ __('Add') }}</span>
</div>
