<select name="developer" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for developer in parameters.developers %}
    <option value="{{ developer._id }}"
            {% if developer._id == parameters.selected %}selected{% endif %}>{{ developer.name }}</option>
  {% endfor %}
</select>
