<div class="modal" id="exterior-settings-modal" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Exterior tour') }}</div>
        </div>
        <div class="modal-body">
          <p>{{ __('Please, select a main scene for the apartment') }}:</p>
          <div style="width:100%; height: 450px;">
            {% include 'back/partials/exterior-settings-tour.njk' %}
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
