<div class="tour-exterior-settings">
  <div class="sidebar left">
    <div class="toggle">
      <i class="far fa-chevron-circle-left slide-out"></i>
      <i class="far fa-chevron-circle-right slide-in"></i>
    </div>

    <div class="scenes">
    </div>
  </div>

  <div id="panorama" class="panorama-partial"></div>
</div>
