<div class="file-uploader" data-parameters="{{ parameters | dump }}">
  <div class="placeholder"><i class="far fa-file"></i></div>

  <div>
    <a href="{{ parameters.currentUrl + parameters.inputValue }}" class="file-result" target="_blank">{{ parameters.currentUrlText }}</a>
  </div>

  <input class="file-upload" type="file" accept="{{ parameters.format }}" >

  <small>{{ __('Size limit') }}: <span class="limit"></span></small>

  <div class="actions">
    <a href="#" class="action upload"><i class="far fa-upload"></i>&nbsp;{{ __('Upload') }}</a>
    <a href="#" class="action remove"><i class="far fa-trash"></i>&nbsp;{{ __('Remove') }}</a>
  </div>

  <input name="{{ parameters.inputName }}" type="text" class="file-hidden-input form-control hidden">
</div>
