<div class="file-manager">
  <div class="actions row">
    <div class="col-md-6">
      <label for="upload"><i class="far fa-upload"></i> {{ __('Upload') }}</label>
      <input type="file" id="upload" class="show-for-sr" multiple>
    </div>
    <div class="col-md-6 text-right">
      <button type="button" class="refresh btn btn-primary">
        <i class="far fa-sync"></i>
      </button>
      <button type="button" class="create-directory btn btn-primary">
        <i class="far fa-folder"></i> {{ __('Create directory') }}
      </button>
      <button type="button" class="delete btn btn-danger">
        <i class="far fa-trash"></i> {{ __('Delete selected') }}
      </button>
    </div>
  </div>
  <div class="path"></div>
  <div class="list"></div>
</div>
