<div class="image-cropper" data-parameters="{{ parameters | dump }}">

  <div class="placeholder"><i class="far fa-image"></i></div>

  {% if parameters.cropSettings.circle == true %}{% set circle = 'circle' %}{% endif %}
  <img class="image-result {{ circle }}" src="{{ parameters.initialImage }}">

  <input class="image-upload" type="file" data-idinputimageupload= "{{ parameters.id }}">

  <div class="actions">
    <a href="#" class="action upload" data-iduploadlink= "{{ parameters.id }}"><i class="far fa-upload"></i>&nbsp;{{ __('Upload') }}</a>
    <a href="#" class="action crop"><i class="far fa-crop"></i>&nbsp;{{ __('Crop') }}</a>
    <a href="#" class="action remove"><i class="far fa-trash"></i>&nbsp;{{ __('Remove') }}</a>
  </div>

  <input name="{{ parameters.inputName }}" value="{{ parameters.inputValue }}" type="text" class="image-hidden-input form-control hidden">
  <input name="{{ parameters.inputNameOriginal }}" value="{{ parameters.inputValueOriginal }}" type="text" class="image-hidden-input-original form-control hidden">


  <script type="text/x-template" id="image-crop-modal-template">
    <div class="modal" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <form class="modalform">
            <div class="modal-header">
              <div class="modal-title">{{ __(parameters.cropTitle) }}</div>
            </div>
            <div class="modal-body">
              <div class="image-crop-container">
                <img class="image-crop" data-idimagecrop= "{{ parameters.id }}">
              </div>
            </div>
            <div class="modal-footer actions">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
              <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </script>
</div>

