<select name="{{ parameters.name }}" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for i in parameters.imagesets %}
    {% if i.type == parameters.type %}
      <option value="{{ i._id }}" {% if i._id == parameters.selected %}selected{% endif %}>{{ i.name }}</option>
    {% endif %}
  {% endfor %}
</select>
