<div class="form-row">
  <div class="form-group col-md-6">
    <label>Fr</label>
    <input name="locales[fr]" type="text" class="form-control" value="{{ parameters.locales.fr }}" >
    <label>{{ __('Weight') }}</label>
    <input name="localesWeight[fr]" type="number" class="form-control" value="{{ parameters.localesWeight.fr }}" >
  </div>
  <div class="form-group col-md-6">
    <label>En</label>
    <input name="locales[en]" type="text" class="form-control" value="{{ parameters.locales.en }}" >
    <label>{{ __('Weight') }}</label>
    <input name="localesWeight[en]" type="number" class="form-control" value="{{ parameters.localesWeight.en }}" >
  </div>
</div>
