<select name="moderationStatus" class="form-control" required>
  <option value="pending" {% if parameters.selected == 'pending' %}selected{% endif %}>{{ __('Pending') }}</option>
  <option value="approved" {% if parameters.selected == 'approved' %}selected{% endif %}>{{ __('Approved') }}</option>
  <option value="rejected" {% if parameters.selected == 'rejected' %}selected{% endif %}>{{ __('Rejected') }}</option>
</select>
