{% if template.authRole in ['admin', 'editor'] %}
  <div id="permissions-selects" data-users="{{ users | usersGroups | dump }}">
    <div class="form-group">
      <label>{{ __('User') }}</label>
      <select name="user" class="form-control" title="">
        <option value=""></option>
        {% for user in users %}
          <option value="{{ user._id }}" {% if user._id == parameters.user %}selected{% endif %}>{{ user.name }} {{ user.email }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>{{ __('Group') }}</label>
      <select name="group" class="form-control" title="">
        <option value=""></option>
        {% for group in groups %}
          <option value="{{ group._id }}" {% if group._id == parameters.group %}selected{% endif %}>{{ group.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}
