<select name="{{ parameters.name }}" class="form-control selectpicker" multiple>
  <option value=""></option>
  {% for p in parameters.phrases %}
    <option value="{{ p._id }}"{% if p._id in parameters.selected %}selected{% endif %}>
      {{ p.name }}
    </option>
  {% endfor %}
</select>
