<select name="devStatus" class="form-control selectpicker" required>
  {%- for status in parameters.statuses -%}
    <option value="{{ status }}" {% if parameters.selected == status %}selected{% endif %}>
      {{  __(status | programDevStatus) }}
    </option>
  {%- endfor -%}
</select>
