{% import "back/macros/routes.njk" as m with context %}

<select name="program" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for p in parameters.programs %}
    <option value="{{ p._id }}" {% if p._id == parameters.selected %}selected{% endif %}
            data-content="{{ m.rt(p.name, 'primary') }}{{ m.rt(p.developer.name) }}">
    </option>
  {% endfor %}
</select>
