{% macro icon(value) %}
  {%- if value.icon -%}
    /storage/files/hotspots/{{ value.icon }}
  {%- else -%}
    /assets/shared/images/marker.png
  {%- endif -%}
{% endmacro %}

<div class="lists">
  <div class="list-sequence connected">
    <div class="list-header">{{ __('Sequence') }}</div>
    {% for s in parameters.sceneTypesSequence %}
      <div class="scene-type sortable active" data-id="{{ s._id }}">
        <div class="image"><img src="{{- icon(s) -}}"></div>
        <div class="name">{{ s.name }}</div>
        <input name="sceneTypesSequence" value="{{ s._id }}" class="hidden">
      </div>
    {% endfor %}
  </div>

  <div class="list-scenetypes connected">
    <div class="list-header">{{ __('Scene types') }}</div>
    {% for s in parameters.sceneTypes %}
      {% set in_seq = parameters.sceneTypesSequence | find({_id: s._id}) %}
      {% if not in_seq | length %}
        <div class="scene-type sortable" data-id="{{ s._id }}">
          <div class="image"><img src="{{- icon(s) -}}"></div>
          <div class="name">{{ s.name }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
