{% import "back/macros/routes.njk" as m with context %}

<select name="{{ parameters.name }}" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for t in parameters.tours %}
    {% if t.type == parameters.type %}
      {% if t.type == 'exterior' %}
        <option value="{{ t._id }}" {% if t._id == parameters.selected %}selected{% endif %}
                data-content="{{ m.rt(t.name, 'primary') }}{{ m.rt(t.program.developer.name) }}{{ m.rt(t.program.name) }}">
        </option>
      {% else %}
        <option value="{{ t._id }}" {% if t._id == parameters.selected %}selected{% endif %}
                data-content="
                  {{ m.rt(t.name, 'primary') }}
                  {{ m.rt(t.apartment.building.program.developer.name) }}
                  {{ m.rt(t.apartment.building.program.name) }}
                  {{ m.rt(t.apartment.building.name) }}
                  {{ m.rt(t.apartment.name) }}
                 ">
        </option>
      {% endif %}
    {% endif %}
  {% endfor %}
</select>
