<div class="repeater-select">
  <div data-repeater-list="users">
    {% if groupUsers|length %}
      {% for group_user in groupUsers %}
        <div data-repeater-item>
          <div class="input-group">
            <select
              name="data"
              class="form-control"
              title=""
              data-live-search="true"
              data-style="btn-link"
              data-size="5">
              <option data-hidden="true" value=""></option>
              {% for user in users %}
                <option value="{{ user._id }}"
                        {% if user._id == group_user._id %}selected{% endif %}>{{ user.name }} {{ user.email }}</option>
              {% endfor %}
            </select>
            <span class="input-group-btn">
        <span class="remove btn btn-link" data-repeater-delete type="button"><i class="far fa-trash"></i></span>
        </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div data-repeater-item>
        <div class="input-group">
          <select
            name="data"
            class="form-control"
            title=""
            data-live-search="true"
            data-style="btn-link"
            data-size="5">
            <option data-hidden="true" value=""></option>
            {% for user in users %}
              <option value="{{ user._id }}">{{ user.name }} {{ user.email }}</option>
            {% endfor %}
          </select>
          <span class="input-group-btn">
        <span class="remove btn btn-link" data-repeater-delete type="button"><i class="far fa-trash"></i></span>
        </span>
        </div>
      </div>
    {% endif %}
  </div>
  <span class="add btn btn-link" data-repeater-create type="button"><i class="far fa-plus"></i> {{ __('Add') }}</span>
</div>
