<div class="modal" id="export-programs">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Status') }}</label>&nbsp;
            <select name="sold" class="form-control">
              <option value="">{{ __('Any') }}</option>
              <option value="yes">{{ __('sold') | capitalize }}</option>
              <option value="no" selected>{{ __('not sold') | capitalize }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>{{ __('Type') }}</label>
            <select multiple name="types"
                    class="form-control"
                    data-manual-init="true">
              {%- for type in parameters.apartmentsTypes -%}
                <option value="{{ type }}">
                  {{ __(type | apartmentType) }}
                </option>
              {%- endfor -%}
            </select>
            <small>{{ __('By default, all types are exported, or you can select specific types') }}</small>
          </div>
          <div class="form-group">
            <label>{{ __('Programs') }}</label>
            <select multiple name="programs"
                    class="form-control"
                    data-manual-init="true">
              {%- for program in parameters.programs -%}
                <option value="{{ program._id }}">
                  {{ program.name }}
                </option>
              {%- endfor -%}
            </select>
            <small>{{ __('By default, all programs are exported, or you can select specific programs') }}</small>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-success submit">{{ __('Export') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
