<script type="text/x-template" id="request-apartment-modal-template">

  <div class="modal-form"
       data-type="apartment"
       data-balloon="{{ __('Please fill in all required fields') }}"
       data-balloon-pos="down"

       data-success="{{ __('Message sent successfully') }}"
       data-failed="{{ __('Message sending failed') }}"
       data-button-text="{{ __('Contact me!') }}"

       data-developer="{{ parameters.developerId }}"
       data-program="{{ parameters.programId }}"
       data-building="{{ parameters.buildingId }}"
       data-apartment="{{ parameters.apartmentId }}">

    <div class="modal-row">
      <div class="request-header">
        <h2>{{ __('This accommodation interests me!') }}</h2>
        <p>{{ __('Please fill in this form to be contacted by the professional responsible for this accommodation as soon as possible.') }}</p>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="lastName" type="text" placeholder="{{ __('Last Name') }}" required>
      </div>
      <div class="modal-col">
        <input name="firstName" type="text" placeholder="{{ __('First Name') }}" required>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="phone" type="text" placeholder="{{ __('Phone') }}" value="{{ template.authPhone }}" required>
      </div>
      <div class="modal-col">
        <input name="email" type="email" placeholder="{{ __('Email') }}" value="{{ template.authEmail }}" required>
      </div>
    </div>

    <div class="modal-row">
      <input name="message" type="text" placeholder="{{ __('Message') }}">
    </div>
  </div>
</script>
