<script type="text/x-template" id="request-info-modal-template">

  <div class="modal-form"
       data-type="info"
       data-balloon="{{ __('Please fill in all required fields') }}"
       data-balloon-pos="down"

       data-success="{{ __('Message sent successfully') }}"
       data-failed="{{ __('Message sending failed') }}"
       data-button-text="{{ __('Contact me!') }}"

       data-developer="{{ parameters.developerId }}"
       data-program="{{ parameters.programId }}"
       data-building="{{ parameters.buildingId }}"
       data-apartment="{{ parameters.apartmentId }}">

    <div class="modal-row">
      <div class="modal-col">
        <input name="lastName" type="text" placeholder="{{ __('Last Name') }}" required>
      </div>
      <div class="modal-col">
        <input name="firstName" type="text" placeholder="{{ __('First Name') }}" required>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <select name="budget" data-manual-init="true" required>
          <option value="" selected disabled>{{ __('Budget') }}</option>
          <option value="0-100">< 100k€</option>
          <option value="100-200">100k - 200k</option>
          <option value="200-300">200k - 300k</option>
          <option value="300-500">300k - 500k</option>
          <option value="500">> 500k€</option>
        </select>
      </div>

      <div class="modal-col">
        <select name="timeframe" data-manual-init="true" required>
          <option value="" selected disabled>{{ __('Timeframe') }}</option>
          <option value="now">{{ __('Now') }}</option>
          <option value="3-6">{{ __('3 to 6 months') }}</option>
          <option value="6-12">{{ __('6 to 12 months') }}</option>
          <option value="next-year">{{ __('Next year') }}</option>
        </select>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="phone" type="text" placeholder="{{ __('Phone') }}" value="{{ template.authPhone }}" required>
      </div>
      <div class="modal-col">
        <input name="email" type="email" placeholder="{{ __('Email') }}" value="{{ template.authEmail }}" required>
      </div>
    </div>

    <div class="modal-row">
      <input name="message" type="text" placeholder="{{ __('Message') }}">
    </div>
  </div>
</script>
