<script type="text/x-template" id="request-glasses-modal-template">

  <div class="modal-form"
       data-type="glasses"
       data-balloon="{{ __('Please fill in all required fields') }}"
       data-balloon-pos="down"

       data-success="{{ __('Message sent successfully') }}"
       data-failed="{{ __('Message sending failed') }}"
       data-button-text="{{ __('Order') }}"

       data-developer="{{ parameters.developerId }}"
       data-program="{{ parameters.programId }}"
       data-building="{{ parameters.buildingId }}"
       data-apartment="{{ parameters.apartmentId }}">

    <div class="modal-row">
      <div class="request-header">
        <h2>{{ __('Receive my 3D glasses') }}</h2>
        <p>{{ __('I wish to receive my 3D glasses for free to the following address:') }}</p>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="lastName" type="text" placeholder="{{ __('Last Name') }}" required>
      </div>
      <div class="modal-col">
        <input name="firstName" type="text" placeholder="{{ __('First Name') }}" required>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="address" type="text" placeholder="{{ __('Address') }}" required>
      </div>
      <div class="modal-col">
        <input name="postalCode" type="text" placeholder="{{ __('Postal code') }}" required>
      </div>
    </div>

    <div class="modal-row">
      <div class="modal-col">
        <input name="city" type="text" placeholder="{{ __('City') }}" required>
      </div>
      <div class="modal-col">
        <input name="email" type="email" placeholder="{{ __('Email') }}" value="{{ template.authEmail }}" required>
      </div>
    </div>

  </div>
</script>
