<script type="text/x-template" id="social-modal-template">
<div class="social-modal">
  <div class="group">
    <h4>{{ __('Share') }}</h4>
    <div class="sharing-buttons">
      <div class="share-button hover-saturate-150" data-type="facebook">
        {% include 'front/partials/icons/social/facebook.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="twitter">
        {% include 'front/partials/icons/social/twitter.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="telegram">
        {% include 'front/partials/icons/social/telegram.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="whatsapp">
        {% include 'front/partials/icons/social/whatsapp.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="viber">
        {% include 'front/partials/icons/social/viber.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="linkedin">
        {% include 'front/partials/icons/social/linkedin.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="tumblr">
        {% include 'front/partials/icons/social/tumblr.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="blogger">
        {% include 'front/partials/icons/social/blogger.njk' %}
      </div>
      <div class="share-button hover-saturate-150" data-type="pocket">
        {% include 'front/partials/icons/social/pocket.njk' %}
      </div>
    </div>
      <span data-balloon="{{ __('Copied to clipboard') }}"
            data-balloon-pos="up">
        <input id="social-modal-url"
               data-clipboard-target="#social-modal-url"
               type="text"
               readonly>
    </span>
  </div>
  <div class="group integrate">
    <h4>{{ __('Integrate') }}</h4>
      <span data-balloon="{{ __('Copied to clipboard') }}"
            data-balloon-pos="up">
        <input id="social-modal-integrate"
               data-clipboard-target="#social-modal-integrate"
               type="text"
               readonly>
    </span>
  </div>
</div>
</script>
