.apptours.panel {

  .tour-thumbnail {
    width: 150px;
    min-width: 150px;
    border: 1px solid $gray-darker;
  }

  tr[data-moderation-status='pending'] {
    td.moderation-status {
      color: red;
    }
  }

  tr[data-moderation-status='approved'] {
    td.moderation-status {
      color: green;
    }
  }

  tr[data-moderation-status='rejected'] {
    background: $gray;
  }

}
