// must be higher than a modal background (1050)
$zindex-select-dropdown: 1060 !default;

.bootstrap-select {
  width: 220px;

  .btn {
    text-transform: none;
    border: 1px solid $gray-dark;
    padding: 9px 12px;
  }

  .bs-searchbox {
    input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid $gray-dark;
    }
  }

  .bs-select-all {
    display: none;
  }

  .bs-deselect-all {
    float: right;
    border: 0;
  }

  .bs-donebutton {
    button {
      border: 0;
      float: right;
    }
  }

  > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
  }

  > select {
    position: absolute !important;
    bottom: 0;
    left: 50%;
    display: block !important;
    width: 0.5px !important;
    height: 100% !important;
    padding: 0 !important;
    opacity: 0 !important;
    border: none;
  }
}

.bootstrap-select.form-control {
  height: auto;
  margin-bottom: 0;
  padding: 0;
  border: none;

  &:not([class*="col-"]) {
    width: 100%;
  }

  &.input-group-btn {
    z-index: auto;

    &:not(:first-child):not(:last-child) {
      > .btn {
        border-radius: 0;
      }
    }
  }
}

// The selectpicker components
.bootstrap-select.btn-group {
  &.bs-container {
    position: absolute;
    height: 0 !important;
    padding: 0 !important;

    .dropdown-menu {
      z-index: $zindex-select-dropdown;
    }
  }

  // The selectpicker button
  .dropdown-toggle {
    .filter-option {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      text-align: left;
      color: $black-almost
    }

    .caret {
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -2px;
      vertical-align: middle;
      color: $black-almost;
    }
  }

  .dropdown-menu {
    min-width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    margin-top: -1px;

    border: 1px solid $gray-dark;
    border-radius: 0;

    &.open {
      padding: 0;
    }

    &.inner {
      position: static;
      float: none;
      border: 0;
      padding: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;

      li {
        cursor: pointer;
        &.selected {
          a {
            background-color: $gray-dark;
          }
        }
      }

      li.no-results {
        padding: 5px 10px;
      }

      a {
        min-height: 26px;
        outline: none;
        user-select: none;
        color: $black-almost;
        padding: 5px 10px;
        background-color: white;
      }

      a:hover {
        background-color: $gray;
      }
    }

    .form-control:focus {
      box-shadow: none;
    }
  }
}
