.btn {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 12px 7px;
  border-radius: 0;

  &.single {
    width: 100%;
  }

  &.busy {
    span {
      opacity: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -10px;
      width: 20px;
      height: 20px;
      background-color: $black-almost;
      border-radius: 100%;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
}


.btn-del-all{
  float:right;
}
