.tour-exterior-settings {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .sidebar {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 210px;
    height: 100%;
    background: rgba(255, 255, 255, .75);
    padding: 10px;
    transition: margin 500ms;

    &.left {
      margin-left: -210px;
      left: 0;

      .toggle {
        left: calc(100% + 10px);
      }
    }

    .toggle {
      position: absolute;
      top: 10px;
      font-size: 4rem;

      i {
        position: relative;
        color: $brand-primary;
        cursor: pointer;
      }

      .slide-in {
        display: block;
      }

      .slide-out {
        display: none;
      }
    }

    &.active {
      margin: 0;

      .toggle {
        .slide-in {
          display: none;
        }

        .slide-out {
          display: block;
        }
      }
    }
  }

  .scenes {
    height: 100%;
    overflow: auto;

    .scene {
      position: relative;

      .scene-icons {
        position: absolute;
        width: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        text-align: right;
        letter-spacing: 2px;

        .scene-icon-main {
          display: none;
        }

        .scene-icon-polygon {
          display: none;
        }
      }

      margin-bottom: 6px;
      border: 4px solid transparent;
      cursor: pointer;

      &.active {
        border-color: $brand-primary;
      }

      img {
        max-width: 100%;
      }

      .title {
        display: block;
        background: #fff;
        text-align: center;
        padding: 3px 0 1px;
        font-size: 1.2rem;
        overflow-x: hidden;
      }
    }
  }

  .panorama-partial {
    height: 100%;
  }
}
