.file-uploader {

  .placeholder {
    display: none;
    font-size: 48px;
    color: $gray-light;
  }

  .file-result {
    display: none;
  }

  .file-upload {
    display: none;
  }

  .actions {
    margin-top: 3px;
    margin-left: 3px;
    font-size: 13px;

    .action {
      margin-right: 10px;
      white-space: nowrap;

      &.upload {
        color: $black-almost;
      }

      &.remove {
        display: none;
        color: red;
      }
    }
  }

  small {
    padding: 0;
  }
}
