.file-manager {
  .path {
    margin: 16px 0;
    padding: 4px 16px;
    border: 1px solid $gray-dark;

    a {
      padding: 0 10px;
    }
  }

  .list {
    margin: 16px 0;
    padding: 8px;
    border: 1px solid $gray-dark;

    > div {
      display: inline-block;
      width: 100px;
      vertical-align: top;
      margin: 8px;

      > a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100px;
        padding: 10px;
        border: 1px solid $gray-dark;
        cursor: default;
        background-size: contain;
        background-position: center center;
        background-origin: border-box;
        background-repeat: no-repeat;

        &:before {
          content: '\f15b';
          font-family: 'Font Awesome 5 Pro';
          font-size: 30px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.active > a {
        border: 3px solid $brand-primary;
      }

      &.directory > a:before {
        content: '\f07b';
      }

      &.jpg,
      &.png,
      &.gif,
      &.svg {
        > a {
          &:before {
            display: none;
          }
        }
      }

      .name,
      .size {
        display: block;
        width: 100%;
        font-size: 13px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .name {
        color: $black-almost;
      }

      .size {
        color: $gray-darker;
        font-size: 11px;
      }

      &.directory .size {
        display: none;
      }
    }
  }
}
