@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/shared/fontawesome/webfonts/fa-regular-400.woff2') format('woff2'), url('/assets/shared/fontawesome/webfonts/fa-regular-400.woff') format('woff');
}

.far {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}

 @font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url("/assets/shared/fontawesome/webfonts/fa-brands-400.eot");
  src: url("/assets/shared/fontawesome/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("/assets/shared/fontawesome/webfonts/fa-brands-400.woff2") format("woff2"), url("/assets/shared/fontawesome/webfonts/fa-brands-400.woff") format("woff"), url("/assets/shared/fontawesome/webfonts/fa-brands-400.ttf") format("truetype"), url("/assets/shared/fontawesome/webfonts/fa-brands-400.svg#fontawesome") format("svg"); 
}

.fab {
  font-family: 'Font Awesome 5 Brands'; 
}

