form {
  .files {
    .drop {
      padding: 30px 20px 20px;
      text-align: center;
      background: $gray-pale;
      border: 1px dashed $gray;

      &.active {
        background: $gray-darker;
      }

      .tip.alternative {
        color: $gray-darker;
      }

      .btn {
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        text-transform: none;
        letter-spacing: normal;
      }

      input {
        display: none;
      }

      .select:focus {
        outline: none;
      }
    }

    .list {
      .file {
        position: relative;
        margin-bottom: 20px;

        &:first-child {
          margin-top: 30px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .name {
          overflow-x: hidden;
        }
      }

      progress {
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 4px;
        background: $gray-light;
        border: 0;
        appearance: none;

        &::-webkit-progress-bar {
          background: transparent;
        }

        &::-webkit-progress-value {
          background: $brand-primary;
        }
      }

      .status {
        font-size: 11px;
        color: $gray-darker;

        &.error {
          color: red;
        }
      }

      .abort {
        position: absolute;
        right: 0;
        bottom: 10px;
        padding: 2px;
        color: $black-almost;
        cursor: pointer;
      }
    }
  }

  // form columns padding fix
  .form-group {
    padding-left: 0;
  }

  .form-control {
    box-shadow: none;

    &:focus {
      background: #fff;
    }
  }

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: $gray-pale;
  }

  /* disabled input fields normal cursor */
  .form-control[disabled] {
    cursor: auto;
  }

  .errors {
    color: $red;
    padding-bottom: 10px;
  }

  .success {
    color: $green;
    padding-bottom: 10px;
  }

  textarea.html {
    min-height: 150px;
  }

  small {
    color: $gray-darker;
    padding-left: 10px;
  }
}
