.grid table {
  position: relative;
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;
  font-size: 14px;
  transition: opacity 100ms;

  thead,
  tbody,
  tfoot {
    border: 0;
  }

  thead,
  tfoot {
    th,
    td {
      padding: 8px;
      text-align: left;
    }
  }

  tbody {
    th,
    td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  thead {
    tr.filter th {
      padding: 4px 8px;
    }

    th.actions {
      text-align: center;
    }

    span.sortable {
      cursor: pointer;
      white-space: nowrap;

      &:before {
        content: '\f0dc';
        font-family: 'Font Awesome 5 Pro';
      }

      &.asc:before {
        content: '\f0de';
      }

      &.desc:before {
        content: '\f0dd';
      }

      .title {
        white-space: normal;
      }
    }
  }

  tbody {
    .actions {
      text-align: center;
      white-space: nowrap;

      a {
        display: inline-block;
      }

      a.with-title {
        display: block;
        text-align: left;
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }

        i {
          width: 20px;
          margin-right: 4px;
          margin-left: 0;
          font-size: 16px;
          text-align: center;
        }
      }

      i {
        display: inline-block;
        margin: 2px 5px;
        cursor: pointer;
        font-size: 16px;

        &.delete {
          color: $red-custom-0;
        }

        &.reject {
          color: orange;
        }

        &.approve {
          color: green;
        }

        &.premium-settings {
          color: gold;
        }

        &.clear-filter {
          color: #ccc;
        }
      }

      a.busy {
        @keyframes anim {
          from {
          }

          to {
            color: $red-custom-0;
          }
        }

        animation-duration: 1s;
        animation-name: anim;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      i.active {
        color: $red-custom-0;
      }
    }
  }

  th,
  td {
    border-bottom: 1px solid #eee;
  }

  input,
  select {
    border-radius: 0;
    font-weight: normal;
  }

  select {
    line-height: inherit;
  }

  tfoot {
    td {
      font-weight: normal;
    }

    .pages {
      float: left;

      ol {
        display: none;
        margin: 10px 0 0;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 8px;
        }
      }

      .page {
        display: inline-block;
        min-width: 25px;
        border: 1px solid $gray-dark;
        cursor: pointer;
        text-align: center;
        line-height: 25px;
        padding: 0 5px;

        &.current {
          color: $brand-primary;
          font-weight: bold;
          cursor: default;
        }

        &:hover {
          color: $brand-primary;
        }
      }

      select {
        vertical-align: top;
      }
    }

    .actions {
      float: right;
      text-align: right;
    }

    select {
      width: auto;
      margin: 0;
      height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
      font-size: inherit;
    }
  }

  .colorize {
    font-weight: bold;

    .y {
      color: green;
    }

    .n {
      color: red;
    }
  }

  .actions i {
    cursor: pointer;
  }
}

.grid.loading table {
  opacity: .5;
}
