.image-cropper {

  .placeholder {
    display: none;
    font-size: 48px;
    color: $gray-light;
  }

  .image-result {
    display: none;
    &.circle {
      border: 1px dotted $gray-dark;
      border-radius: 50%;
    }
  }

  .image-upload {
    display: none;
  }

  .actions {
    margin-top: 3px;
    margin-left: 3px;
    font-size: 13px;

    .action {
      margin-right: 10px;
      white-space: nowrap;

      &.upload {
        color: $black-almost;
      }

      &.crop {
        display: none;
        color: $black-almost;
      }

      &.remove {
        display: none;
        color: red;
      }
    }
  }
}

.cropper-circle {
  border-radius: 50%;
  border: 2px dotted $gray-light;
}
