.imageset.panel {

  .images {
    width: 50%;

    .image {
      margin-bottom: 10px;
      padding: 5px;
      border: 1px dotted $gray;

      .placeholder {
        color: $gray-light;
        text-align: center;
      }

      img {
        width: 100%;
      }

      &:hover {
        border: 1px dotted $black-almost;
        transition: background-color 1s ease-out;
      }
    }

    .highlight {
      margin-bottom: 10px;
      background: $gray-pale;
      width: 100%;
      height: 100px;
    }

  }

  small {
    padding: 0;
  }

}
