input, textarea, select {
  appearance: none;
}

input[type="checkbox"] {
  appearance: checkbox;
}

// ie disable text input clear button
input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

a {
  transition: $effect-links;
}

// disable shadows
.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: none;
  outline: none !important;
}

.btn {
  transition: $effect-buttons;
  border-radius: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: darken($brand-primary, 20%) !important;
  background: white !important;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  color: darken($gray-darker, 15%) !important;
  background: white !important;
}
