.intro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  .panel {
    display: inline-block;
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    min-width: 360px;
    border: 0;

    .header,
    .content,
    .footer {
      padding: 0 55px;
    }

    .header {
      background: white;
      padding-top: 50px;

      img {
        width: 250px;
      }
    }

    .content {
      padding: 50px;

      .title {
        font-size: 18px;
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 35px;
      }

      input {
        text-align: left;
      }
    }

    .footer {
      padding: 7px 0;
      background: $black-almost;
      font-size: 12px;

      a {
        color: white;
      }

      &.sign-up {
        background: darken($brand-primary, 10%);
      }
    }
  }
}
