.loading {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .9;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 50;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background-color: $brand-primary;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
