.modal {
  text-align: center;
  overflow: scroll;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.modal-content {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  border-radius: 0;
  border: 0;
  left: 110px;

  .errors {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.modal-header {
  border: 0;
  background: $black-almost;
  color: #fff;
  font-size: 18px;
  text-align: center;

  &.error {
    background: $red-custom-0;
  }

  .close {
    color: #fff;
    text-shadow: none;
    opacity: .5;

    &:hover {
      opacity: .8;
    }
  }
}

.modal-body {
  position: relative;
  z-index: 20;
  padding: 30px;

  .form-group {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  .form-control {
    width: 100%;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.modal-footer {
  padding: 0;
  text-align: center;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .btn {
    border: 0;
    border-radius: 0;
    flex: 1;
  }

  .btn + .btn {
    margin: 0;
  }
}

.modal-footer:before, .modal-footer:after {
  display: inline-block
}

.modal-backdrop + .modal-backdrop {
  z-index: 1050;
}
