.route-badge {
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: $black-almost;

  &.link:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  &.primary {
    background-color: $black-almost;
  }

  &.success {
    background-color: green;
  }

  &.info {
    background-color: royalblue;
  }

  &.error {
    background-color: $red-custom-0;
  }

  a, a:hover, a:active {
    color: white;
  }
}
