.sequence.panel {

  .lists {
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 1px dotted $gray-darker;

    .list-sequence {
      float: left;
      width: 50%;
      height: 100%;
      padding-left: 15px;
      padding-right: 10px;
    }

    .list-scenetypes {
      float: right;
      width: 50%;
      height: 100%;
      padding-left: 10px;
      padding-right: 15px;
    }

    .list-header {
      font-size: 18px;
      margin-left: 5px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .scene-type {
      margin-bottom: 15px;
      cursor: pointer;
      border: 1px dotted $gray-darker;
      width: 100%;
      white-space: nowrap;

      &.active {
        border: 1px solid $gray-darker;
      }

      &:hover {
        background: $gray-pale;
        transition: background-color 1s ease-out;
      }

      .image {
        float: left;
        margin: 10px;

        img {
          width: 24px;
        }
      }

      .name {
        margin: 10px;
        font-size: 18px;
        overflow-x: hidden;
      }
    }
  }

}
