.tours.panel {
  .tour-thumbnail {
    width: 150px;
    min-width: 150px;
    border: 1px solid $gray-darker;
  }

  td {
    vertical-align: top;
  }

  .essentials {
    margin-top: -5px;

    .name {
      font-size: 24px;
      overflow-x: hidden;
    }

    .scene {
      padding-left: 15px;
      color: $gray-darker;
    }

    .additional {
      padding: 5px 0;
    }
  }

  .path {
    .apartment {
      margin-bottom: 15px;
    }
  }

  .tour-actions {
    .btn {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    .btn:last-child {
      margin-bottom: 0;
    }
  }
}
