.tour.panel {
  text-align: center;

  > .title {
    margin-bottom: 10px;
    font-size: 32px;
    text-transform: uppercase;
  }

  .tour-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .step {
    display: inline-block;
    margin: 15px;

    &.disabled {
      opacity: .4;
    }

    .number {
      position: relative;
      display: block;
      width: 70px;
      height: 70px;
      margin: 0 auto 10px;
      background: $black-almost;
      font-size: 48px;
      border-radius: 50%;
      color: #fff;
    }

    &.done .number:after {
      content: '\f00c';
      font-family: 'Font Awesome 5 Pro';
      color: $brand-primary;
      font-size: 35px;
      position: absolute;
      right: -14px;
      bottom: 0;
      line-height: 1;
    }

    .title {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }

  .step:last-child {
    margin-top: 30px;
    display: block;
  }
}

.modal.scene {
  img {
    display: block;
    margin-bottom: 15px;
    border: 1px solid $gray-dark;
  }

  .number {
    font-size: 18px;
    color: $black-almost;
  }

  .file {
    overflow-x: hidden;
    .size {
      color: $gray-darker;
    }
  }

  .form-inline {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background: white;

    .form-group {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#select-tour-main-scene {
  p {
    font-size: 18px;
  }

  .list {
    margin-top: 25px;
    margin-bottom: 25px;

    .highlight {
      margin-top: 25px;
      margin-bottom: 25px;
      background: $gray-pale;
      width: 100%;
      height: 100px;
    }
  }

  .scene {
    margin-bottom: 10px;
    cursor: pointer;
    background: #fff;
    border: 1px dotted $gray-darker;
    padding: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .name {
      font-size: 18px;
      overflow-x: hidden;
    }

    .main {
      text-align: center;
    }

    &.active .main {
      &:before {
        content: '\f00c';
        font-family: 'Font Awesome 5 Pro';
        color: $black-almost;
        font-size: 40px;
        line-height: 1;
      }
    }
  }
}

#adjust-scene-thumbnail {
  .name {
    overflow-x: hidden;
    display: block;
  }

  #scene-preview {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
}

.modal.hotspots {
  .image {
    position: relative;
  }

  .plan-container {
    .plan-expand {
      padding-top: 10px;
      text-align: center;

      .plan-button {
        cursor: pointer;
        font-size: 20px;
      }
    }

    .plan-content {
      display: none;
      padding-top: 10px;
      text-align: center;

      .plan-image {
        width: 50%;
      }
    }
  }

  .hotspot {
    position: absolute;
    left: 0;
    top: 0;
    color: $green;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
  }

  .hotspot-menu {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none outside;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    li {
      color: initial;
      font-weight: initial;
      position: relative;
      white-space: nowrap;

      :hover {
        background: $gray-light;
        transition: background-color 1s ease-out;
      }

      &.with-options:after {
        position: absolute;
        right: 7px;
        top: 9px;
        content: '\f105';
        font-family: 'Font Awesome 5 Pro';
        font-size: 15px;
      }

      span {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        background: #fff;
        border-bottom: 1px solid $gray-light;
        cursor: pointer;
      }

      &:last-child span {
        border-bottom: 0;
      }

      ul {
        z-index: 1000;
        display: none;
        position: absolute;
        left: 100%;
        top: -1px;
        margin: 0;
        padding: 0;
        list-style: none outside;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      ul :hover {
        background: $gray-light;
      }

      &.expanded ul {
        display: block;
      }

      &.active {
        color: $green;
        font-weight: bold;
      }
    }

    .delete {
      color: red;
    }

  }

  .modal-body > .scene {
    margin-bottom: 15px;
    font-size: 18px;
    color: $black-almost;
  }
}

#define-tour-properties {
  label {
    text-align: left;
  }
}

#hotspot-modal,
#hotspot-url,
#hotspot-change-icon {
  z-index: 1060;

  label {
    width: auto;
  }

  input,
  textarea {
    width: 100%;
  }
}

#hotspot-change-icon {
  .file-manager {
    .create-directory,
    .path {
      display: none;
    }
  }
}

#plan-upload {
  .modal-body {
    text-align: center;
  }

  input[name="plan-upload"] {
    display: none;
  }

  .plan-container {
    position: relative;
    display: inline-block;

    .plan-image {
      position: relative;
    }
  }
}

#plan-editor {
  .modal-body {
    text-align: center;
  }

  .placeholder {
    display: none;
    font-size: 48px;
    color: $gray;
    margin-bottom: 20px;
  }

  .plan-container {
    position: relative;
    display: inline-block;

    .plan-image {
      position: relative;
      height: 0;
    }
  }

  .actions {
    margin-top: 10px;

    .action {
      white-space: nowrap;

      &.upload {
        color: $black-almost;
      }

      &.remove {
        margin-left: 10px;
        display: none;
        color: red;
      }
    }
  }

  .planspot {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }

  .planspot-menu {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none outside;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    li {
      position: relative;
      white-space: nowrap;

      :hover {
        background: $gray-light;
        transition: background-color 1s ease-out;
      }

      &.with-options:after {
        position: absolute;
        right: 7px;
        top: 9px;
        content: '\f105';
        font-family: 'Font Awesome 5 Pro';
        font-size: 15px;
      }

      span {
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        background: #fff;
        border-bottom: 1px solid $gray-light;
        cursor: pointer;
      }

      &:last-child span {
        border-bottom: 0;
      }

      ul {
        z-index: 1000;
        display: none;
        position: absolute;
        left: 100%;
        top: -1px;
        margin: 0;
        padding: 0;
        list-style: none outside;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      ul :hover {
        background: $gray-light;
      }

      &.expanded ul {
        display: block;
      }

      &.active {
        color: $green;
        font-weight: bold;
      }
    }

    .delete {
      color: red;
    }

  }

}

#planspot-adjust {
  #planspot-adjust-scene {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
}
