@import 'bootstrap-variables-custom';
@import 'bootstrap-custom';
@import 'variables';
@import 'fonts';

html,
body,
main {
  height: 100%;
}

body {
  background: url("/assets/shared/images/bg.svg") no-repeat fixed center center;
  background-size: cover;
  background-color: #0fb4b2;
}

main {
  display: flex;
}

$sidebar-width: 220px;

#sidebar {
  min-width: $sidebar-width;
  background: $black-almost;
  color: #fff;
  font-size: 16px;
  user-select: none;

  .logo {
    background: $black-almost;
    padding-top: 20px;
    padding-left: 30px;
    height: 80px;

    img {
      width: 150px;
    }
  }

  nav ul {
    padding: 0;
    list-style: none outside;
    font-size: 16px;
    font-weight: $font-weight-light;

    li {
      margin-bottom: 12px;
      padding: 0 20px;
      white-space: nowrap;

      a {
        color: #fff;

        svg {
          margin-right: 7px;
          width: 1em;
          height: 1em;
          top: .1em;
          position: relative;
        }

        &.logout {
          color: $gray-dark;
        }
      }

      a:hover {
        color: $brand-primary-light;
        transition: filter 0.5s;
      }

      &.active a {
        color: $brand-primary;
      }

      &.logout {
        margin-top: 30px;
      }

      &.control.requests,
      &.control.apptours,
      &.control.support-messages {
        .count-new {
          color: white;
          display: none;
          border-radius: 3px;
          font-size: 13px;
          background: $red-custom-0;
          padding: 0 5px;
          margin-left: 10px;
        }
      }
    }
  }
}

#content {
  min-width: calc(100% - #{$sidebar-width});
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;

  > .panel {
    margin: 0 20px;
    padding: 30px;
    display: table;
    width: calc(100% - 40px);

    .documents {
      background: white;

      .document {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .actions + .documents {
      margin-top: 30px;
    }
  }
}

img {
  max-width: 100%;
}

.modal-body:not(.modal-not-scrollable)  {
  overflow-y: auto;
  max-height: calc(100vh - 225px);
}

@import 'inputs';
@import 'panel';
@import 'intro';
@import 'buttons';
@import 'forms';
@import 'grid';
@import 'modals';
@import 'tours';
@import 'tour';
@import 'exterior-settings-tour';
@import 'loading';
@import 'maps';
@import 'file-manager';
@import 'scene-type';
@import 'layer-type';
@import 'swal';
@import 'routes';
@import 'sequence';
@import 'bootstrap-select';
@import 'repeater';
@import 'image-cropper';
@import 'imageset';
@import 'file-uploader';
@import 'requests';
@import 'apptours';
@import 'simplebar';
