<select name="group" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for group in parameters.groups %}
    <option value="{{ group._id }}"
            {% if group._id == parameters.selected %}selected{% endif %}>{{ group.name }}</option>
  {% endfor %}
</select>
