<select name="role" class="form-control" required>
  {%- for role in parameters.roles -%}
    <option value="{{ role }}" {% if parameters.selected == role %}selected{% endif %}>
      {{  __(role | userRole) }}
    </option>
  {%- endfor -%}
</select>
