{% import "back/macros/routes.njk" as m with context %}

<select name="apartment" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for a in parameters.apartments %}
    <option value="{{ a._id }}" {% if a._id == parameters.selected %}selected{% endif %}
      data-content="{{ m.rt(a.name, 'primary') }}{{ m.rt(a.building.program.developer.name) }}{{ m.rt(a.building.program.name) }}{{ m.rt(a.building.name) }}">
    </option>
  {% endfor %}
</select>
