{% import "back/macros/routes.njk" as m with context %}

<select name="apartmentsAdditional"
        class="form-control selectpicker"
        data-actions-box="true"
        data-done-button="true"
        multiple>
  {% for a in parameters.apartments %}
    <option value="{{ a._id }}" {% if a._id in parameters.selected %}selected{% endif %}
            title="{{ m.rt(a.name, 'primary') }}"
            data-content="{{ m.rt(a.name, 'primary') }}{{ m.rt(a.building.program.developer.name) }}{{ m.rt(a.building.program.name) }}{{ m.rt(a.building.name) }}">
    </option>
  {% endfor %}
</select>
