{% macro render(grid) %}
  <div class="grid loading">
    <table data-settings="{{ grid | dump }}" data-no-results="{{ __('No results') }}">
      <thead>
      <tr>
        {% for column in grid.columns %}
          <th{% if column.width %} style="width:{{ column.width }};"{% endif %}>
            {% if grid.sortable == false or column.sortable == false or not column.use %}
              {{ __(column.title) }}
            {% else %}
              <span
                class="sortable{% if column.use == grid.sort %} asc{% elif ('-' + column.use) == grid.sort %} desc{% endif %}"
                data-by="{{ column.use }}"
              >
                <span class="title">{{ __(column.title) }}</span>
              </span>
            {% endif %}
          </th>
        {% endfor %}
        {% if grid.actions != false %}
          <th class="actions" style="width:{{ 2 + (grid.actions | length + 1) * 2 }}%;">{{ __('Actions') }}</th>
        {% endif %}
      </tr>
      {% if grid.filterable != false %}
        <tr class="filter">
          {% for column in grid.columns %}
            <th>
              {% if column.filterable != false %}
                {% if column.filterOptions %}
                  <select name="{{ column.filterProperty or column.use }}" class="form-control input-sm">
                    <option value="-1">{{ __('All') }}</option>
                    {% for option in column.filterOptions %}
                      <option
                        value="{{ option.value or option.title }}"
                        {% if option.selected %} selected{% endif %}
                      >{{ __(option.title) }}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  <input type="text" name="{{ column.filterProperty or column.use }}" class="form-control input-sm">
                {% endif %}
              {% endif %}
            </th>
          {% endfor %}
          {% if grid.actions != false %}
            <th class="actions">
              <i class="far fa-ban clear-filter"></i>
            </th>
          {% endif %}
        </tr>
      {% endif %}
      </thead>
      <tbody>
      </tbody>
      <tfoot>
      <tr>
        <td
          colspan="{% if grid.actions != false %}{{ grid.columns | length + 1 }}{% else %}{{ grid.columns | length }}{% endif %}">
          <div class="pages">
            <select name="limit" class="form-control">
              <option>10</option>
              <option>25</option>
              <option>100</option>
            </select>
            <ol></ol>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
{% endmacro %}
