{% macro rt(value, type) %}
  {% if value %}
    <span class='route-badge {{ type }}'>{{ value }}</span>
  {% endif %}
{% endmacro %}

{% macro rticon(value, type) %}
  {% if value %}
    <span class='route-badge {{ type }}'><i class="{{ value }}"></i></span>
  {% endif %}
{% endmacro %}

{% macro rtmail(value, type) %}
  {% if value %}
    <span class='route-badge link {{ type }}'><a href="mailto:{{ value }}">{{ value }}</a></span>
  {% endif %}
{% endmacro %}

{% macro rtlink(value, link) %}
  {% if value %}
    <a href="./{{ link }}/{{ value._id }}/edit"><span class='route-badge link'>{{ value.name }}</span></a>
  {% endif %}
{% endmacro %}
