{% extends "front/layout.njk" %}

{%- set pageTitle -%}
  {{ __('Favorites') }}
{%- endset -%}

{% block content %}
  {% include 'front/partials/scrolltop.njk' %}

  <div class="container">
    <section id="favorites">
      <h2>{{ __('Favorites') }}</h2>
      {% for favorite in favorites %}
        <div class="fav-el" id="{{ favorite.favoriteId }}">
          <div class="thumbnail">
            {% if favorite.entity.thumbnail %}
              <div class="image">
                <a href="{{ favorite.url }}">
                  <div class="overlay hover-opacity-0-to-50"></div>
                  <div class="img lazy" data-bg="url({{ favorite.entity.thumbnail }})"></div>
                </a>
              </div>
            {% else %}
              <div class="image empty">
                <a href="{{ favorite.url }}">
                  <div class="overlay hover-opacity-0-to-50"></div>
                </a>
              </div>
            {% endif %}
          </div>
          <div class="controls">
            <div class="info">
              <div class="name">
                {%- if favorite.entity.house -%}
                  {{ __('House') }}
                {%- else -%}
                  {{ __('Apartment') }}
                {%- endif -%}
              </div>
              <div class="subinfo">
                <div class="item highlight">
                  {{- __(favorite.entity.type | apartmentType) -}}
                </div>
              </div>
              <div class="gap"></div>
              <div class="links">
                {% set parameters = {
                  url: favorite.url,
                  favoriteId: favorite.favoriteId
                } %}
                {% include 'front/partials/favorites/actions.njk' %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
