{% for log in logs %}
  <tr data-id="{{ log._id }}">
    <td><a href="./logs/{{ log._id }}/edit" class="date" data-date="{{ log.timestamp | timestamp }}"
           data-format="lll"></a></td>
    <td>
      {% if log.message %}
        {{ log.message | truncate(100, true, "...") }}
      {% else %}
        {{ log.meta.message | truncate(100, true, "...") }}
      {% endif %}
    </td>
    <td>{{ log.meta.req.url | truncate(30, true, "...") }}</td>
    <td>{{ log.meta.req.headers.referer | truncate(30, true, "...") }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'logs',
        id: log._id
      } %}
      {% include 'back/partials/grids/actions-edit-only.njk' %}
    </td>
  </tr>
{% endfor %}
