{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'layer-types' %}

{% block content %}
  <div class="layer-type panel">
    <form action="./layer-types/{{ layerType._id }}/edit" method="post">
      <div class="form-group">
        <label>{{ __('Name') }}</label>
        <input name="name" type="text" class="form-control" value="{{ layerType.name }}" required>
      </div>
      <div class="form-group">
        <label>{{ __('Weight') }}</label>
        <input name="weight" type="number" class="form-control" value="{{ layerType.weight }}" required>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="isBaseLayer" {% if layerType.isBaseLayer %} checked {% endif %}>
            {{ __('Base Layer') }}
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>{{ __('Icon') }}</label>
        {% include "back/partials/file-manager.njk" %}
        <input name="icon" type="hidden" value="{{ layerType.icon }}">
      </div>
      <div class="actions">
        <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
        <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
      </div>
    </form>
  </div>
{% endblock %}
