<!doctype html>
<html
  lang="{{ req.locale }}"
  data-domain="{{ env.DOMAIN }}"
  style="opacity: 0; transition: opacity 0.3s;"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}

  {% if linksNewTab %}
    <base target="_blank">
  {% endif %}

  {% if pageTitle %}
    <title>Viewwer - {{ pageTitle | safe | trim}}</title>
  {% else %}
    <title>Viewwer</title>
  {% endif %}

  {% include "front/partials/favicon.njk" %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap3-dialog@1.35.4/dist/css/bootstrap-dialog.min.css"
        integrity="sha384-WRu9pYyIOqqid8N7J6OSeS1TzFeAvmPD2O7idI6zgta6+9cVPdjOzu/2GTEKmC7E" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/css/swiper.min.css"
        integrity="sha256-5l8WteQfd84Jq51ydHtcndbGRvgCVE3D0+s97yV4oms=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.15.1/dist/sweetalert2.min.css"
        integrity="sha384-LYUdpwmyUZ9xCl60M4UGksIzxteklL8J2IBMX6V9aN2TcYAdj6kMYaRqmrj6Iosw" crossorigin="anonymous">

  <link rel="stylesheet" href="/assets/front/css/style.css">
</head>
<body>

{% set parameters = {
  headerFixed: headerFixed,
  headerDisable: headerDisable,
  headerControlsDisable: headerControlsDisable,
  headerMobile: template.mobile
} %}
{% include "front/partials/header.njk" %}

<main {% if headerDisable %}class="no-header"{% endif %}>
  {% block content %}{% endblock %}
</main>

{% if not cookiesMessageDisable %}
  {% include "front/partials/cookies-message.njk" %}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/url-polyfill@1.1.3/url-polyfill.min.js"
        integrity="sha256-A4ExGOrZJUmIrQLMk+/JPtbHMcumOwKEXfecyK+FfoU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.4/dist/es6-promise.auto.min.js"
        integrity="sha384-tQnfZyyk7ZX5leaWDkq9qAvwSkSvH0ouVfrxLn12X9Y2DS8nDa8pHXFH9LLKJdo/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sprintf-js@1.1.1/dist/sprintf.min.js"
        integrity="sha384-d4li0KDmhzSsTBMPSM07xUjpmBz2KzH+cP9UWqhvTJzn3pjJviZ34s3pFQc6OSq6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap3-dialog@1.35.4/dist/js/bootstrap-dialog.min.js"
        integrity="sha384-K0Xjh7BtHDkHTDCocS9yQCe9kGS5EoFcsERQGzcCKcgIgjgUgo1Zkt+4GvfPEePN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"
        integrity="sha384-TU+2E2omvu82iO/QZZM+yUCKqjYiahza2KDH8CKKcFHUA9+Al0dxAY8DejxPwohG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/qs@6.5.1/dist/qs.js"
        integrity="sha384-EEVS2LUE49x5MxG/y/ix2UQo2zTiUDiM8+jrbIDwgvwyf2CJKGAcyvw3ZvuTUaOG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.js"
        integrity="sha256-ZTMFCvouhTVozUsLgEjtZOlJY+OAiLImV1p8yoBU9OI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@3.0.4/assets/scripts/dist/choices.min.js"
        integrity="sha256-fn42zDIZe73UQx/PAcZ9Wmq4/cUaiIzaW+wGLNuXMWI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@8.17.0/dist/lazyload.min.js"
        integrity="sha256-nOzaJ0nesGPM2kyx9lX4zqa6+BQAcbU+x4BDFCFqcXA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/velocity-animate@1.5.2/velocity.min.js"
        integrity="sha256-1HqoI76JGKA17K0C0s9K8L/iy8PAC43KVLt1hRD/Ojc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@4.4.6/dist/js/swiper.min.js"
        integrity="sha256-dl0WVCl8jXMBZfvnMeygnB0+bvqp5wBqqlZ8Wi95lLo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/headroom.js@0.9.4/dist/headroom.min.js"
        integrity="sha256-DJFC1kqIhelURkuza0AvYal5RxMtpzLjFhsnVIeuk+U=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.1/dist/clipboard.min.js"
        integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.15.1/dist/sweetalert2.min.js"
        integrity="sha384-V1fApxUwSj7OUL4H4iaBPmSeKJZdBf1QaQCaXGTMQ4iG2bwLeDrNyQiU+QTCgmj9" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js"
        integrity="sha256-bEc0Usq1GwgO944opVJwhavKgP+b8XFRlWFIlUjO3L4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"
        integrity="sha256-9vWhvsKDjFldeHpXPfbzJxt2cotNqMonlIVp9cQc690=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.0/js/ion.rangeSlider.min.js"
        integrity="sha256-eXdxIh/sjKTNi5WyC8cKHekwPywORiomyiMFyZsowWw=" crossorigin="anonymous"></script>

{% include "front/partials/analytics/sentry.njk" %}

{% block scripts %}{% endblock %}

<script src="/assets/front/js/script.js?v=1.0.1"></script>

{% include "front/partials/analytics/google.njk" %}

{% block outro %}{% endblock %}

</body>
</html>
