#apptour {
  margin: 0;
  border: 0;

  .top-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: $screen-lg) {
      flex-direction: column;
      align-items: flex-start;
    }

    color: $black-almost;
    font-size: 13px;

    padding: 5px 10px;

    border-bottom: none;

    .controls {
      flex: 1 1 auto;

      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      @media (max-width: $screen-lg) {
        width: 100%;
      }

      .return {
        flex: 1 1 auto;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;

        .back {
          padding-left: 25px;
          padding-right: 15px;

          svg {
            position: absolute;
            height: 15px;
            width: 15px;
            left: 10px;
            top: 8px;
          }
        }
      }
    }

    .details {
      flex: 1 1 auto;
      margin-top: 5px;
      margin-bottom: 5px;

      @media (max-width: $screen-lg) {
        width: 100%;
      }
    }

    .gap {
      flex: 100 1 auto;
      @media (max-width: $screen-lg) {
        display: none;
      }
    }

    .request {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .apptour-standalone {
    height: calc(100vh - #{$size-header});
  }
}

