<div class="program-social">
  {{ socialMacros.actions(
    program.name,
    'Program',
    program._id,
    '/programs/' + program._id,
    '',
    program.counterRating) }}
</div>
<div class="program-header {% if parameters.image %}img lazy{% endif %}"
     {% if parameters.image %}data-bg="url({{ parameters.image }})"{% endif %}
     onclick="window.location='/programs/{{ parameters.program._id }}'">
  <div class="program-info {% if not parameters.image %}no-photo{% endif %}">
    <div class="name">{{ parameters.program.name }}</div>
    {% if parameters.program.address %}
      <div class="address">
        <span>{% include 'front/partials/icons/location.njk' %}</span>{{ parameters.program.address }}</div>
    {% endif %}
    {% if parameters.program.devStatus %}
      <div class="dev-status">{{ __(parameters.program.devStatus | programDevStatus) }}</div>
    {% endif %}
    {% if parameters.program.available %}
      <div class="available">{{ parameters.program.available }}</div>
    {% endif %}
  </div>
</div>
