{% for sceneType in sceneTypes %}
  <tr data-id="{{ sceneType._id }}">
    <td><a href="./scene-types/{{ sceneType._id }}/edit">{{ sceneType.name }}</a></td>
    <td>
      {% set icon %}
        {% if sceneType.icon %}
          /storage/files/hotspots/{{ sceneType.icon }}
        {% else %}
          /assets/shared/images/marker.png
        {% endif %}
      {% endset %}
      <img src="{{ icon }}" width="48">
    </td>
    <td>
      {% if sceneType.mobile %}
        <i class="far fa-check fa-1x"></i>
      {% endif %}
    </td>
    <td>
      {{ sceneType.locales.fr }}
    </td>
    <td>
      {{ sceneType.localesWeight.fr }}
    </td>
    <td>
      {{ sceneType.locales.en }}
    </td>
    <td>
      {{ sceneType.localesWeight.en }}
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'scene-types',
        id: sceneType._id
      } %}
      {% include 'back/partials/grids/actions-scene-types.njk' %}
    </td>
  </tr>
{% endfor %}

