{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'groups' %}

{% block content %}
  <div class="group panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./groups/{{ group._id }}/edit" method="post">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input name="name" type="text" class="form-control" value="{{ group.name }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Users') }}</label>
            {% include "back/partials/users-select.njk" %}
          </div>
          <div class="form-group">
            <label>{{ __('Developer') }}</label>
            <small>{{ __('Used to view requests') }}</small>
            {% set parameters = {selected: group.developer._id, developers: developers} %}
            {% include "back/partials/developer-select.njk" %}
          </div>
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
