{% for task in tasks %}
  <tr data-id="{{ task._id }}">
    <td><a href="./tasks/{{ task._id }}/edit" class="date" data-date="{{ task.createdAt | timestamp }}"
           data-format="lll"></a></td>
    <td>{{ task._id }}</td>
    <td>{{ task.type }}</td>
    <td>{{ task.status }}</td>
    <td>{{ task.host }}</td>
    <td>{{ task.duration }}</td>
    <td>{{ task.error }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'tasks',
        id: task._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
