#program {

  .sub-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (min-width: $screen-sm) {
      flex-wrap: nowrap;
    }

    #about {
      flex: 1 1 100%;
    }

    .buttons {
      flex: 0 1 auto;
      margin-top: 15px;

      @media (min-width: $screen-sm) {
        margin-top: 0;
        margin-left: 30px;
      }
    }
  }

  .program-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .logo {
      width: 36px;
      height: 36px;
      border: 1px solid darken($brand-primary, 15%);
      border-radius: 50%;
      margin-right: 10px;
    }

    .primary {
      flex: 1 1 auto;
      .name {
        color: $brand-primary;
        margin-top: 4px;
      }
      h1 {
        margin: 0;
      }
      margin-bottom: 15px;
      margin-right: 15px;
    }

    .secondary {
      flex: 0 1 auto;
      margin-bottom: 10px;
      margin-left: 2px;
    }
  }

  .details {
    padding: 0 15px;
    margin-bottom: 15px;
    @media (min-width: $screen-sm) {
      padding: 0 40px;
    }
  }

  .interactive {
    margin-bottom: 40px;
    padding: 0 15px;

    &.row {
      margin-left: 0;
      margin-right: 0;

      .col-sm-6, .col-sm-12 {
        padding: 0;
      }
    }

    @media (min-width: $screen-sm) {
      padding: 0 40px;
    }

    .aerial {
      border: 1px dotted $gray-dark;
      height: 250px;

      margin-bottom: 40px;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .map {
      width: 100%;
      height: 250px;
    }
  }
  
    .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
  .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
  .MultiCarousel .MultiCarousel-inner .item { float: left;}
  .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
  .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
  .MultiCarousel .leftLst { left:0; }
  .MultiCarousel .rightLst { right:0; }
    
  .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
  .swiper-container {
    height: 328.71px;
  } 
}
