.program-table-details {
  width: 100%;

  .primary, .secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    min-width: 100px;
    flex: 1 1 auto;
    font-size: 13px;

    .header {
      background: $gray-custom-2;
      font-weight: $font-weight-light;
      text-transform: uppercase;
      color: $gray-darker;
      text-align: center;
      padding: 5px;
    }

    .content {
      padding: 5px 0;
      color: $brand-primary;
      font-weight: $font-weight-semi-bold;
      text-align: center;
    }
  }

  .secondary {
    .item {
      .content {
        font-weight: $font-weight-light;
        color: $gray-darker;
        text-align: left;
        overflow: hidden;

        .subitem {
          white-space: nowrap;
          padding-right: 10px;
          display: inline-block;

          span {
            padding-left: 5px;
            font-weight: normal;
            color: $brand-primary;
          }
        }
      }
    }
  }

  .decoration {
    margin-left: 5px;
    margin-right: 5px;
  }
}
