{% if parameters.allApartments.length > 1 %}
  <div class="apartments-list">
    <select data-search="true"
            data-search-no-results="{{ __('Nothing found') }}"
            data-search-placeholder="{{ __('Search') }}"
            data-search-hide-if-less="10">
      {% for b in parameters.allBuildings %}
        {% if parameters.allBuildings|length > 1 %}
          <option disabled>{{ b.name }}</option>
        {% endif %}
        {% for a in parameters.allApartments %}
          {% if a.building._id == b._id %}
            <option value="{{ a._id }}" {% if a._id == apartment._id %}selected{% endif %}>{{ a.lot }} - {{ __(a.type | apartmentType) }}{% if a.area > 0 %} - {{ a.area }}m{% endif %}</option>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </select>
  </div>
{% endif %}
