<div class="apartment-sold">
  <div class="text">
    {%- if parameters.saleType == 'sale' -%}
      {{ __('Sold') }}
    {%- elseif parameters.saleType == 'rent' -%}
      {{ __('Rented') }}
    {%- endif -%}
  </div>
</div>
