<div class="apartment-controls">
  <div class="controls">
    <div class="control interior">
      <img src="/assets/shared/images/tour/controls/interior.svg">
    </div>
    <div class="control exterior">
      <img src="/assets/shared/images/tour/controls/exterior.svg">
    </div>
    <div class="control aerial">
      <img src="/assets/shared/images/tour/controls/aerial.svg">
    </div>
  </div>
</div>
