<div class="apartment-table-details">
  <div class="primary">
    <div class="item">
      <div class="header">{{ __('Lot') }}</div>
      <div class="content">
        {{ parameters.apartment.lot }}
      </div>
    </div>
    <div class="item">
      <div class="header">{{ __('Type') }}</div>
      <div class="content">
        {%- if parameters.apartment.house -%}
          {{ __('House') }}
        {%- else -%}
          {{ __('Apt.') }}
        {%- endif -%}
        &nbsp;{{- __(parameters.apartment.type | apartmentType) -}}
        {%- if parameters.apartment.duplex -%}
          &nbsp;{{ __('duplex') }}
        {%- endif -%}
      </div>
    </div>
    {% if parameters.apartment.area > 0 %}
      <div class="item">
        <div class="header">{{ __('Area') }}</div>
        <div class="content">
          {{ __('%s&nbsp;m<sup>2</sup>', parameters.apartment.area) | safe }}
        </div>
      </div>
    {% endif %}
    {% if parameters.apartment.price > 0 and not parameters.apartment.isSold %}
      <div class="item">
        <div class="header">{{ __('Price') }}</div>
        <div class="content">{{ parameters.apartment.price }}&nbsp;&euro;</div>
      </div>
    {% endif %}
    {% if parameters.apartment.elevator %}
      <div class="item">
        <div class="header">{{ __('Elevator') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.garage %}
      <div class="item">
        <div class="header">{{ __('Garage') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.terrace %}
      <div class="item">
        <div class="header">{{ __('Terrace') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.garden %}
      <div class="item">
        <div class="header">{{ __('Garden') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.basement %}
      <div class="item">
        <div class="header">{{ __('Basement') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.parking %}
      <div class="item">
        <div class="header">{{ __('Parking') }}</div>
        <div class="content">{% include 'front/partials/icons/check.njk' %}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.balcony %}
      <div class="item">
        <div class="header">{{ __('Balcony') }}</div>
        <div class="content">
          {%- if parameters.apartment.balconyArea > 0 -%}
            {{ parameters.apartment.balconyArea }}m<sup>2</sup>
          {%- else -%}
            {% include 'front/partials/icons/check.njk' %}
          {%- endif -%}
        </div>
      </div>
    {% endif %}
    {% if parameters.apartment.floor %}
      <div class="item">
        <div class="header">{{ __('Floor') }}</div>
        <div class="content">{{ parameters.apartment.floor }}</div>
      </div>
    {% endif %}
    {% if parameters.apartment.orientation %}
      <div class="item">
        <div class="header">{{ __('Orientation') }}</div>
        <div class="content">{{ parameters.apartment.orientation }}</div>
      </div>
    {% endif %}
  </div>
  {% if parameters.apartment.description %}
    <div class="secondary">
      <div class="item">
        <div class="header">{{ __('Description') }}</div>
        <div class="content">{{ readMore.cut(parameters.apartment.description) }}</div>
      </div>
    </div>
  {% endif %}
  {% if parameters.apartment.energyPerformance %}
    <div class="primary">
      <div class="item">
        <div class="header">{{ __('Energy performance') }}</div>
        <div class="content">{{ parameters.apartment.energyPerformance }}</div>
      </div>
    </div>
  {% endif %}
</div>
