{% extends "front/layout.njk" %}

{%- set pageTitle -%}
  {{ __('Statistics') }}
{%- endset -%}

{% block content %}
{% include 'front/partials/scrolltop.njk' %}
<div class="container">
  <section id="stats-counters">

    <div class="stat-counter">
      <div class="main-text">{% include 'front/partials/icons/stats/likes.njk' %}{{ __('Rating') }}</div>
      <div class="main-count" data-count="{{ counters.rating.all }}">0</div>

      <div class="details">
        <div class="detail">
          <div class="sub-count">{{ counters.rating.developers }}</div>
          <div class="sub-text">{{ __('Developer') }}</div>
        </div>
        <div class="detail">
          <div class="sub-count">{{ counters.rating.programs }}</div>
          <div class="sub-text">{{ __('Programs') }}</div>
        </div>
        <div class="detail">
          <div class="sub-count">{{ counters.rating.apartments }}</div>
          <div class="sub-text">{{ __('Apartments') }}</div>
        </div>
      </div>
    </div>

    <div class="stat-counter">
      <div class="main-text">{% include 'front/partials/icons/stats/shares.njk' %}{{ __('Shares') }}</div>
      <div class="main-count" data-count="{{ counters.shares.all }}">0</div>

      <div class="details">
        <div class="detail">
          <div class="sub-count">{{ counters.shares.developers }}</div>
          <div class="sub-text">{{ __('Developer') }}</div>
        </div>
        <div class="detail">
          <div class="sub-count">{{ counters.shares.programs }}</div>
          <div class="sub-text">{{ __('Programs') }}</div>
        </div>
        <div class="detail">
          <div class="sub-count">{{ counters.shares.apartments }}</div>
          <div class="sub-text">{{ __('Apartments') }}</div>
        </div>
      </div>
    </div>

    <div class="stat-counter">
      <div class="main-text">{% include 'front/partials/icons/stats/requests.njk' %}{{ __('Requests') }}</div>
      <div class="main-count" data-count="{{ counters.requests.all }}">0</div>

      <div class="details">
        <div class="detail">
          <div class="sub-count">{{ counters.requests.old }}</div>
          <div class="sub-text">{{ __('Processed') }}</div>
        </div>
        <div class="detail">
          <div class="sub-count red">{{ counters.requests.new }}</div>
          <div class="sub-text"><a href="/admin/requests">{{ __('New') }}</a></div>
        </div>
      </div>
    </div>
  </section>

  <section id="stats-lists">
    <div class="interactive row">
      <div class="col-sm-6 programs">
        <div class="header">
          <h2>{{ __('My last programs') }}</h2>
        </div>
        <div class="programs-export">
          <button class="btn btn-primary" name="export">{{ __('Export') }}</button>
        </div>
        {% set parameters = {programs: programs} %}
        {% include 'front/partials/stats/programs.njk' %}
      </div>
      <div class="col-sm-6 apartments">
        <div class="header">
          <h2>{{ __('My last apartments') }}</h2>
        </div>
        {% set parameters = {apartments: apartments} %}
        {% include 'front/partials/stats/apartments.njk' %}
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block outro %}
  {% set parameters = {programs: programsNames, apartmentsTypes: apartmentsTypes} %}
  {% include "front/partials/modals/export-programs.njk" %}
{% endblock %}
