{% import "front/macros/social-tour.njk" as socialMacros with context %}

<div class="apptour-partial loading"
     data-tourid="{{ parameters.tourId }}"
     data-preview="{{ parameters.preview }}">

  <div class="sidebar left">
    <div class="toggle">
      <div class="slide-out">
        <img src="/assets/shared/images/tour/sidebars/arrow-left.svg">
      </div>
      <div class="slide-in">
        <img src="/assets/shared/images/tour/sidebars/arrow-right.svg">
      </div>
    </div>

    <div class="scenes">
      {% for scene in parameters.scenes %}
        <div class="scene {% if scene.isMain %}active{% endif %}" data-id="{{ scene.id }}">
          {% if scene.thumbnail %}
            <img src="{{ scene.thumbnail }}" alt="">
          {% endif %}
          {% if scene.locales[req.locale] %}
            <span class="title">{{ scene.locales[req.locale] }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="sidebar right">
    <div class="toggle">
      <div class="slide-out">
        <img src="/assets/shared/images/tour/sidebars/arrow-right.svg">
      </div>
      <div class="slide-in">
        <img src="/assets/shared/images/tour/sidebars/arrow-left.svg">
      </div>
    </div>

    <div class="actions">

      <div class="action autorotate">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/rotation-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/rotation.svg">
        </div>
      </div>

      <div class="action fullscreen">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/fullscreen-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/fullscreen.svg">
        </div>
      </div>

      <div class="action-krpano-toggle vr">
        <img src="/assets/shared/images/tour/sidebars/vr.svg">
      </div>

      <div class="action gyro">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/gyro-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/gyro.svg">
        </div>
      </div>

      {% if not parameters.preview
        and parameters.tour.moderationStatus === 'approved'
        and parameters.tour.isPublished %}
        <div class="sharing">
          {{ socialMacros.actions(
            parameters.shareTitle,
            parameters.entityType,
            parameters.entityId,
            parameters.shareUrl,
            parameters.integrateUrl,
            false,
            parameters.favoriteEnabled,
            parameters.favoriteId
          ) }}
        </div>
      {% endif %}

    </div>
  </div>

  <div id="panorama-{{ parameters.tourId }}" class="panorama-partial"></div>
</div>

{% block outro %}
  {% include "front/partials/modals/social-modals.njk" %}
{% endblock %}
