{% import "front/macros/readmore-modal.njk" as readMoreModal with context %}
{% import "front/macros/apptour/address-modal.njk" as addressModal with context %}

<div class="apptour-inline-details">
  <div class="item">
    <div class="header">{{ __('Type') }}</div>
    <div class="content">
      {%- if parameters.apartment.house -%}
        {{ __('House') }}
      {%- else -%}
        {{ __('Apt.') }}
      {%- endif -%}
      &nbsp;{{- __(parameters.apartment.type | apartmentType) -}}
    </div>
  </div>
  {% if parameters.apartment.area > 0 %}
    <div class="item">
      <div class="header">{{ __('Area') }}</div>
      <div class="content">
        {{ __('%s&nbsp;m<sup>2</sup>', parameters.apartment.area) | safe }}
      </div>
    </div>
  {% endif %}
  {% if parameters.apartment.price > 0 or parameters.apartment.isSold %}
    <div class="item">
      {% if parameters.apartment.saleType == 'rent' and not parameters.apartment.isSold %}
        <div class="header">{{ __('For rent') }}</div>
      {% else %}
        <div class="header">{{ __('Price') }}</div>
      {% endif %}
      {% if parameters.apartment.isSold %}
        <div class="content red">
          {%- if parameters.apartment.saleType == 'sale' -%}
            {{ __('Sold') }}
          {%- else -%}
            {{ __('Rented') }}
          {%- endif -%}
        </div>
      {% else %}
        <div class="content">{{ parameters.apartment.price }}&nbsp;&euro;</div>
      {% endif %}
    </div>
  {% endif %}
  {% if parameters.apartment.gasClass != 'N' %}
    <div class="item">
      <div class="header">{{ __('Gas class') }}</div>
      <div class="content">{{ parameters.apartment.gasClass }}</div>
    </div>
  {% endif %}
  {% if parameters.apartment.energyClass != 'N' %}
    <div class="item">
      <div class="header">{{ __('Energy class') }}</div>
      <div class="content">{{ parameters.apartment.energyClass }}</div>
    </div>
  {% endif %}
  {% if parameters.apartment.address %}
    <div class="item">
      <div class="header">{{ __('Address') }}</div>
      <div class="content description">
        {{- addressModal.create(
          __('Address'),
          parameters.apartment.address,
          parameters.apartment.location,
          30) -}}
      </div>
    </div>
  {% endif %}
  {% if parameters.apartment.description %}
    <div class="item">
      <div class="header">{{ __('Description') }}</div>
      <div class="content description">{{ readMoreModal.cut(__('Description'), parameters.apartment.description, 30) }}</div>
    </div>
  {% endif %}
</div>
