{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'scene-types' %}

{% block content %}
<div class="scene-type panel">
  <form action="./scene-types/{{ sceneType._id }}/edit" method="post">
    <div class="form-group">
      <label>{{ __('Name') }}</label>
      <input name="name" type="text" class="form-control" value="{{ sceneType.name }}" required>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="mobile" {% if sceneType.mobile %}checked{% endif %}>
          {{ __('Used in the mobile app') }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <label>{{ __('Locales') }}</label>
      <small>{{ __('Used in the mobile app') }}</small>
      {% set parameters = {
        locales: sceneType.locales,
        localesWeight: sceneType.localesWeight
      } %}
      {% include "back/partials/locales.njk" %}
    </div>
    <div class="form-group">
      <label>{{ __('Icon') }}</label>
      {% include "back/partials/file-manager.njk" %}
      <input name="icon" type="hidden" value="{{ sceneType.icon }}">
    </div>
    <div class="actions">
      <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
      <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
    </div>
  </form>
</div>
{% endblock %}
