{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'scene-types' %}

{% block content %}
  <div class="scene-types panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('scene type')) }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'scene-type', text: 'scene type'} %}
  {% include "back/partials/modals/create.njk" %}
{% endblock %}
