{% extends "back/layout.njk" %}
{% set page = 'scene-types' %}

{% block content %}
  <div class="panel">
    <h1>{{ sceneType.name }}</h1>

    <p><strong>{{ __('Tours') }}</strong></p>
    {% for t in toursIds %}
      <p>
        <a href="/tours/{{ t }}" title="{{ __('Preview') }}" target="_blank">{{ t }}</a>
        <a href="./tours/{{ t }}" title="{{ __('Edit') }}" target="_blank"><i class="far fa-pencil"></i></a>
      </p>
    {% endfor %}

    <p><strong>{{ __('Mobile') }}</strong></p>
    {% for at in apptoursIds %}
      <p>
        <a href="/apptours/{{ at }}" title="{{ __('Preview') }}" target="_blank">{{ at }}</a>
        <a href="./apptours/{{ at }}/edit" title="{{ __('Edit') }}" target="_blank"><i class="far fa-pencil"></i></a>
      </p>
    {% endfor %}

    <div class="actions">
      <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
      <a href="./scene-types/{{ sceneType._id }}/delete" class="btn btn-danger">{{ __('Delete') }}</a>
    </div>
  </div>
{% endblock %}
