{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'programs' %}

{% block content %}
<div class="program panel">
  <div class="row">
    <div class="col-md-6">
      <form action="./programs/{{ program._id }}/edit" method="post">
        <div class="form-group">
          <label>{{ __('Name') }}</label>
          <input name="name" type="text" class="form-control" value="{{ program.name }}" required>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isPublished" {% if program.isPublished %} checked {% endif %}>
              {{ __('Published') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Status') }}</label>
          {% set parameters = {selected: program.devStatus, statuses: programsDevStatuses} %}
          {% include "back/partials/program-dev-status.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Description') }}</label>
          <textarea class="html form-control" name="description">{{ program.description }}</textarea>
        </div>
        <div class="form-group">
          <label>{{ __('Developer') }}</label>
          {% set parameters = {developers: developers, selected: program.developer._id} %}
          {% include "back/partials/developer-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Exterior tour') }}</label>
          {% set parameters = {tours: tours, selected: exterior._id, name: 'exterior', type: 'exterior'} %}
          {% include "back/partials/tour-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Aerial') }}</label>
          <input name="aerial_url" class="form-control" type="url" pattern="https://.*" placeholder="https://example.com" value="{{ program.aerial_url }}">
          <small>{{ __('Only https:// links allowed') }}</small>
        </div>
        <div class="form-group">
          <label>{{ __('Buildings') }}</label>
          {% include "back/partials/buildings-select.njk" %}
        </div>
        <div class="form-group">
          <div class="map"></div>

          <input class="form-control hidden" type="text" name="location_lng"
                 value="{{ program.location.coordinates[0] }}">
          <input class="form-control hidden" type="text" name="location_lat"
                 value="{{ program.location.coordinates[1] }}">

          <label>{{ __('Address') }}</label>
          <input class="form-control" type="text" name="address" value="{{ program.address }}">
        </div>
        <div class="form-group">
          <label>{{ __('Slider') }}</label>
          {% set parameters = {imagesets: imagesets, selected: program.slider._id, name: 'slider', type: 'slider'} %}
          {% include "back/partials/imageset-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Logo') }}</label>
          {% if program.logoProgram %}
            {% set initialImage = "/storage/files/programs/" + program._id + "/" + program.logoProgram %}
            {% set inputValue = program.logoProgram %}
          {% endif %}
          {% if program.logoProgramOriginal %}
            {% set initialImageOriginal = "/storage/files/programs/" + program._id + "/" + program.logoProgramOriginal %}
            {% set inputValueOriginal = program.logoProgramOriginal %}
          {% endif %}
          {% set parameters = {
            inputName: 'logoProgram',
            inputValue: inputValue,
            initialImage: initialImage,

            saveOriginal: true,
            inputNameOriginal: 'logoProgramOriginal',
            inputValueOriginal: inputValueOriginal,
            initialImageOriginal: initialImageOriginal,

            cropTitle: 'Logo',
            cropSettings: logoProgramSettings,

            uploadUrl: '/admin/programs/' + program._id + '/save-logo',
            removeUrl: '/admin/programs/' + program._id + '/remove-logo'
          } %}
          {% include "back/partials/image-cropper.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Available') }}</label>
          <input name="available" type="text" class="form-control" value="{{ program.available }}">
        </div>
        <div class="form-group">
          <label>{{ __('Decoration and conveniences') }}</label>
          {% set parameters = {
            phrases: phrases,
            selected: decorationAndConveniences,
            name: 'decorationAndConveniences',
            type: 'decoration'
          } %}
          {% include "back/partials/phrases-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Nearby shops') }}, m</label>
          <input name="distanceShops" type="number" class="form-control" value="{{ program.distanceShops }}">
        </div>
        <div class="form-group">
          <label>{{ __('Culture and entertainment') }}, m</label>
          <input name="distanceCultureAndEntertainment" type="number" class="form-control" value="{{ program.distanceCultureAndEntertainment }}">
        </div>
        <div class="form-group">
          <label>{{ __('Transports') }}, m</label>
          <input name="distanceTransports" type="number" class="form-control" value="{{ program.distanceTransports }}">
        </div>
        <div class="form-group">
          <label>{{ __('Schools') }}, m</label>
          <input name="distanceSchools" type="number" class="form-control" value="{{ program.distanceSchools }}">
        </div>
        <div class="form-group">
          <label>{{ __('PDF') }}</label>
          {% set parameters = {
            inputName: 'filePdf',
            inputValue: program.filePdf,
            currentUrl: '/storage/files/programs/' + program._id + '/',
            currentUrlText: __('View uploaded PDF'),
            uploadUrl: '/admin/programs/' + program._id + '/save-pdf',
            removeUrl: '/admin/programs/' + program._id + '/remove-pdf',
            format: 'application/pdf',
            maxSize: 2 * 1024 * 1024} %}
          {% include "back/partials/file-uploader.njk" %}
        </div>
        {% set parameters = {user: program.user, group: program.group} %}
        {% include "back/partials/permissions.njk" %}
        <div class="actions">
          <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
          <button type="submit" onsubmit="return false;" class="btn btn-primary">{{ __('Save') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key={{ env.MAPS_GOOGLE_KEY }}&libraries=places"></script>
{% endblock %}
