{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'programs' %}

{% block content %}
  <div class="programs panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('program')) }}</button>
      <button class="btn btn-primary export">{{ __('Export') }}</button>
      <button class="btn btn-danger btn-del-all" id="program-del-all">{{ __('Delete All') }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'program', text: 'program'} %}
  {% include "back/partials/modals/create.njk" %}
  
  {% set parameters = {type: 'program', text: 'program'} %}
  {% include "back/partials/modals/deleteAll.njk" %}

  {% set parameters = {programs: programs, apartmentsTypes: apartmentsTypes} %}
  {% include "back/partials/modals/export-programs.njk" %}
{% endblock %}
