{% for imageset in imagesets %}
  <tr data-id="{{ imageset._id }}">
    <td>
      <div class="date" data-date="{{ imageset.createdAt | timestamp }}" data-format="lll"></div>
    </td>
    <td><a href="./imagesets/{{ imageset._id }}/edit">{{ imageset.name }}</a></td>
    <td class="actions">
      {% set parameters = {
        url: 'imagesets',
        id: imageset._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
