<!doctype html>
<html
  lang="{{ req.locale }}"
  data-locale-strings="{{ getLocaleStrings(req.locale) }}"
>
<head>
  <meta charset="UTF-8">
  {% if template.mobile %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% else %}
    <meta name="viewport" content="width=700">
  {% endif %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/admin/">
  <title>Viewwer</title>

  {% include "front/partials/favicon.njk" %}

  <link rel="stylesheet" href="/assets/shared/fontawesome/fontawesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.15.1/dist/sweetalert2.min.css"
        integrity="sha384-LYUdpwmyUZ9xCl60M4UGksIzxteklL8J2IBMX6V9aN2TcYAdj6kMYaRqmrj6Iosw" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropper@4.0.0/dist/cropper.min.css"
        integrity="sha256-/KLAk4A9xEOKGyr4umt11boYQJtP40gBLT+WrfWImuY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@3.1.1/dist/simplebar.min.css"
        integrity="sha256-6UJwF2OWa7r70SsGoNroaX5wBQBJ09OkW/xXh2ICbjc=" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/back/css/style.css">
  {% block head %}{% endblock %}
</head>
<body>

<main>
  {% if template.auth and not sidebarDisable %}
  <div id="sidebar" data-simplebar>
    <div class="logo">
      <a href="./">
        <img src="/assets/shared/images/logo-black.svg">
      </a>
    </div>
    <nav>
      <ul>
        {% if template.authRole in ['admin', 'editor', 'developer'] %}
        <li class="control requests {% if page == 'requests' %}active{% endif %}">
          <a href="./requests">
            {% include "back/partials/icons/requests.njk" %}
            {{ __('Requests') }}<span class="count-new"></span>
          </a>
        </li>
        <li {% if page == 'developers' %}class="active"{% endif %}>
          <a href="./developers">
            {% include "back/partials/icons/developers.njk" %}
            {{ __('Developers') }}
          </a>
        </li>
        <li {% if page == 'programs' %}class="active"{% endif %}>
          <a href="./programs">
            {% include "back/partials/icons/programs.njk" %}
            {{ __('Programs') }}
          </a>
        </li>
        <li {% if page == 'buildings' %}class="active"{% endif %}>
          <a href="./buildings">
            {% include "back/partials/icons/buildings.njk" %}
            {{ __('Buildings') }}
          </a>
        </li>
        <li {% if page == 'apartments' %}class="active"{% endif %}>
          <a href="./apartments">
            {% include "back/partials/icons/apartments.njk" %}
            {{ __('Apartments') }}
          </a>
        </li>
        <li {% if page == 'imagesets' %}class="active"{% endif %}>
          <a href="./imagesets">
            {% include "back/partials/icons/imagesets.njk" %}
            {{ __('Image sets') }}
          </a>
        </li>
        <li><a href="/dashboard/stats">
            {% include "back/partials/icons/stats.njk" %}
            {{ __('Statistics') }}
          </a>
        </li>
        {% endif %}

        {% if template.authRole in ['admin', 'editor'] %}
          <li {% if page == 'tours' %}class="active"{% endif %}>
            <a href="./tours">
              {% include "back/partials/icons/tours.njk" %}
              {{ __('Tours') }}
            </a>
          </li>
          <li class="control apptours {% if page == 'apptours' %}active{% endif %}">
            <a href="./apptours">
              {% include "back/partials/icons/apptours.njk" %}
              App {{ __('Tours') }}<span class="count-new"></span>
            </a>
          </li>
          <li class="control support-messages">
            <a href="/dashboard/messages">
              {% include "back/partials/icons/requests.njk" %}
              {{ __('Support') }}<span class="count-new"></span>
            </a>
          </li>
          <li {% if page == 'files' %}class="active"{% endif %}>
            <a href="./files">
              {% include "back/partials/icons/files.njk" %}
              {{ __('Files') }}
            </a>
          </li>
        {% endif %}

        {% if template.authRole in ['admin'] %}
        <li {% if page == 'phrases' %}class="active"{% endif %}>
          <a href="./phrases">
            {% include "back/partials/icons/phrases.njk" %}
            {{ __('Phrases') }}
          </a>
        </li>
        <li {% if page == 'sequences' %}class="active"{% endif %}>
          <a href="./sequences">
            {% include "back/partials/icons/sequences.njk" %}
            {{ __('Sequences') }}
          </a>
        </li>
        <li {% if page == 'scene-types' %}class="active"{% endif %}>
          <a href="./scene-types">
            {% include "back/partials/icons/scene-types.njk" %}
            {{ __('Scene types') }}
          </a>
        </li>
        <li {% if page == 'layer-types' %}class="active"{% endif %}>
          <a href="./layer-types">
            {% include "back/partials/icons/layer-types.njk" %}
            {{ __('Layer types') }}
          </a>
        </li>
        <li {% if page == 'partners' %}class="active"{% endif %}>
          <a href="./partners">
            {% include "back/partials/icons/partners.njk" %}
            {{ __('Partners') }}
          </a>
        </li>
        <li {% if page == 'groups' %}class="active"{% endif %}>
          <a href="./groups">
            {% include "back/partials/icons/groups.njk" %}
            {{ __('Groups') }}
          </a>
        </li>
        <li {% if page == 'users' %}class="active"{% endif %}>
          <a href="./users">
            {% include "back/partials/icons/users.njk" %}
            {{ __('Users') }}
          </a>
        </li>
        <li {% if page == 'tasks' %}class="active"{% endif %}>
          <a href="./tasks">
            {% include "back/partials/icons/tasks.njk" %}
            {{ __('Tasks') }}
          </a>
        </li>
        <li {% if page == 'settings' %}class="active"{% endif %}>
          <a href="./settings">
            {% include "back/partials/icons/settings.njk" %}
            {{ __('Settings') }}
          </a>
        </li>
        <li {% if page == 'logs' %}class="active"{% endif %}>
          <a href="./logs">
            {% include "back/partials/icons/logs.njk" %}
            {{ __('Logs') }}
          </a>
        </li>
        {% endif %}
        <li class="logout"><a href="/auth/log-out" class="logout">
            {% include "back/partials/icons/logout.njk" %}
            {{ __('Log out') }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  {% endif %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.4/dist/es6-promise.auto.min.js"
        integrity="sha384-tQnfZyyk7ZX5leaWDkq9qAvwSkSvH0ouVfrxLn12X9Y2DS8nDa8pHXFH9LLKJdo/"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sprintf-js@1.1.1/dist/sprintf.min.js"
        integrity="sha384-d4li0KDmhzSsTBMPSM07xUjpmBz2KzH+cP9UWqhvTJzn3pjJviZ34s3pFQc6OSq6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"
        integrity="sha384-TU+2E2omvu82iO/QZZM+yUCKqjYiahza2KDH8CKKcFHUA9+Al0dxAY8DejxPwohG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/qs@6.5.1/dist/qs.js"
        integrity="sha384-EEVS2LUE49x5MxG/y/ix2UQo2zTiUDiM8+jrbIDwgvwyf2CJKGAcyvw3ZvuTUaOG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/filesize@3.6.0/lib/filesize.js"
        integrity="sha384-/SqtPxnCdtmt7syRREsGh/rQu9r9j1eLnnzcb3fiJ+MlAJ4wmKg+7zDq5UFknk7d"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.21.0/min/moment.min.js"
        integrity="sha384-FZTKza0B8d44KoHsM51LUPcN0ojuixhmxTLvPA4WHAkV/Y/IW6H0S2DJjbvfTsw1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.15.1/dist/sweetalert2.min.js"
        integrity="sha384-V1fApxUwSj7OUL4H4iaBPmSeKJZdBf1QaQCaXGTMQ4iG2bwLeDrNyQiU+QTCgmj9"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.repeater@1.2.1/jquery.repeater.min.js"
        integrity="sha256-15owqJa8me4REHGJOz0YGNSSNjC/3wme7FRXaRVwxRY=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui-sortable-only@1.0.2/jquery-ui.min.js"
        integrity="sha256-D5Jw1kJVIJwMCqdx2ugfBIgaIuMCHidLYsZaJ/hcu5Y=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/cropper@4.0.0/dist/cropper.min.js"
        integrity="sha256-QT8oUxSZbywEwAPBgej6iNFH1ephgQV3q2pzjIso5pk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@3.1.1/dist/simplebar.min.js"
        integrity="sha256-YC06xEfc3U8PruOXXtIELx4tHlsLJiVKdI1x9jPSjfE=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/zxcvbn@4.4.2/dist/zxcvbn.js"
        integrity="sha256-9CxlH0BQastrZiSQ8zjdR6WVHTMSA5xKuP5QkEhPNRo=" crossorigin="anonymous"></script>

{% if env.SENTRY_DSN %}
  <script src="https://browser.sentry-cdn.com/4.2.3/bundle.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    Sentry.init({dsn: '{{ env.SENTRY_DSN }}'});
  </script>
{% endif %}

<script src="/assets/shared/tinymce/tinymce.min.js"></script>

{% block scripts %}{% endblock %}

{% if req.language === 'fr' %}
  <script src="/assets/shared/tinymce/langs/fr_FR.js"></script>
{% endif %}

<script src="/assets/shared/krpano/krpano{% if site.settings.krpanoLicensed %}.licensed{% endif %}.js"></script>
<script src="/assets/back/js/script.js"></script>

</body>
</html>
