{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'tours' %}

{% block content %}
  <div class="panel tours">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('tour')) }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'tour', text: 'tour'} %}
  {% include "back/partials/modals/create.njk" %}
{% endblock %}
