{% extends "back/layout.njk" %}

{% set page = 'tours' %}

{% block content %}

<div class="panel tour"
     data-tour="{{ tour | dump }}"
     data-scene-types="{{ sceneTypes | dump }}"
     data-layer-types="{{ layerTypes | dump }}"
     data-sequences="{{ sequences | dump }}"
     data-thumb-width="{{ THUMB_WIDTH }}"
     data-thumb-height="{{ THUMB_HEIGHT }}">

  <div class="title">{{ __('Configure the tour') }}</div>
  <div class="tour-title">{{ tour.name }}</div>
  <div class="steps">
    <div class="step upload-images {% if tour.scenes | length %}done{% endif %}">
      <div class="number">1</div>
      <div class="title">{{ __('Uploading images') | lower }}</div>
      <button class="btn btn-primary images">{{ __('Upload images') }}</button>
    </div>
    <div class="step edit-scene {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">2</div>
      <div class="title">{{ __('Scene') | lower }}</div>
      <button class="btn btn-primary scences" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{ __('Scene') }}
      </button>
    </div>
    <div class="step choose-mainscene {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">3</div>
      <div class="title">{{ __('Main scene') | lower }}</div>
      <button class="btn btn-primary mailscene" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{  __('Main scene') }}
      </button>
    </div>
    <div class="step scene-thumbnail {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">4</div>
      <div class="title">{{ __('Scene thumbnail') | lower }}</div>
      <button class="btn btn-primary scene-thumbnail" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{ __('Scene thumbnail') }}
      </button>
    </div>
    <div class="step create-planspots {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">5</div>
      <div class="title">{{ __('Creation of cameras') | lower }}</div>
      <button class="btn btn-primary planspots" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{ __('Create cameras') }}
      </button>
    </div>
    <div class="step create-hotspots {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">6</div>
      <div class="title">{{ __('Creation of hotspots') | lower }}</div>
      <button class="btn btn-primary hotspots" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{ __('Create hotspots') }}
      </button>
    </div>
    <div class="step define-properties {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <div class="number">7</div>
      <div class="title">{{ __('Definition of properties') | lower }}</div>
      <button class="btn btn-primary properties" {% if not (tour.scenes | length) %}disabled{% endif %}>
        {{ __('Define properties') }}
      </button>
    </div>
    <div class="step finish {% if tour.scenes | length %}done{% else %}disabled{% endif %}">
      <button class="btn btn-success" {% if not (tour.scenes | length) %}disabled{% endif %}>
        <span>{{ __('Finish') }}</span>
      </button>
    </div>
  </div>
</div>

{# Upload images #}

{% include "back/pages/tours/partials/upload-tour-images.njk" %}

{% include "back/pages/tours/partials/file-template.njk" %}

{# Select main scene #}

{% include "back/pages/tours/partials/select-tour-main-scene.njk" %}

{% include "back/pages/tours/partials/scene-main-template.njk" %}

{# Define scene properties #}

{% include "back/pages/tours/partials/scene-title-template.njk" %}

{# Generate scene thumbnail #}

{% include "back/pages/tours/partials/adjust-scene-thumbnail.njk" %}

{# Plan map #}

{% include "back/pages/tours/partials/plan-upload.njk" %}

{% include "back/pages/tours/partials/plan-editor.njk" %}

{# Planspot adjust #}

{% include "back/pages/tours/partials/planspot-adjust.njk" %}

{# Planspot variants menu #}

{% include "back/pages/tours/partials/planspot-menu-template.njk" %}

{# Define hotspots #}

{% include "back/pages/tours/partials/scene-hotspots-template.njk" %}

{# Hotspot variants menu #}

{% include "back/pages/tours/partials/hotspot-menu-template.njk" %}

{# Hotspot: modal window #}

{% include "back/pages/tours/partials/hotspot-modal.njk" %}

{# Hotspot: URL #}

{% include "back/pages/tours/partials/hotspot-url.njk" %}

{# Hotspot: change icon #}

{% include "back/pages/tours/partials/hotspot-change-icon.njk" %}

{# Define tour properties #}

{% include "back/pages/tours/partials/define-tour-properties.njk" %}

{% include "back/pages/tours/partials/tour-saved.njk" %}

{% include "back/pages/tours/partials/tour-save-error.njk" %}

{% endblock %}
