{% import "back/macros/routes.njk" as m with context %}

{% for building in buildings %}
  <tr data-id="{{ building._id }}" data-path="{{ building.path }}">
    <td>
      <div class="date" data-date="{{ building.createdAt | timestamp }}" data-format="lll"></div>
    </td>
    <td><a href="./buildings/{{ building._id }}/edit">{{ building.name }}</a></td>
    <td>
      {{ m.rtlink(building.program.developer, 'developers') }}
      {{ m.rtlink(building.program, 'programs') }}
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'buildings',
        type: 'building',
        hideLink: true,
        enablePublish: true,
        id: building._id,
        isPublished: building.isPublished
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}

