{% import "back/macros/routes.njk" as m with context %}

{% for program in programs %}
  <tr data-id="{{ program._id }}" data-path="{{ program.path }}">
    <td>
      <div class="date" data-date="{{ program.createdAt | timestamp }}" data-format="lll"></div>
    </td>
    <td><a href="./programs/{{ program._id }}/edit">{{ program.name }}</a></td>
    <td>
      {{ m.rtlink(program.developer, 'developers') }}
    </td>
    <td>{{ program.counterRating }}</td>
    <td>{{ program.counterShares }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'programs',
        type: 'program',
        enablePublish: true,
        id: program._id,
        isPublished: program.isPublished
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
