{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'apartments' %}

{% block content %}
<div class="apartment panel">
  <div class="row">
    <div class="col-md-6">
      <form action="./apartments/{{ apartment._id }}/edit" method="post">
        <div class="form-group">
          <label>{{ __('Name') }}</label>
          <input name="name" type="text" class="form-control" value="{{ apartment.name }}" required>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isPublished" {% if apartment.isPublished %} checked {% endif %}>
              {{ __('Published') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Sale type') }}</label>
          {% set parameters = {selected: apartment.saleType, types: saleTypes} %}
          {% include "back/partials/apartment/sale-type-select.njk" %}
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isSold" {% if apartment.isSold %} checked {% endif %}>
              {{ __('Sold') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Description') }}</label>
          <textarea class="html form-control" name="description">{{ apartment.description }}</textarea>
        </div>
        <div class="form-group">
          <label>{{ __('Building') }}</label>
          {% set parameters = {buildings: buildings, selected: apartment.building._id} %}
          {% include "back/partials/apartment/building-select.njk" %}
        </div>
        <div class="form-group exterior-settings-group">
          <button type="button" class="btn btn-default exterior-settings-button">{{ __('Exterior tour settings') }}</button>
          <input name="exteriorScene" type="text" class="form-control hidden" value="{{ apartment.exteriorScene }}">
          <input name="exteriorPolygons" type="text" class="form-control hidden" value="{{ apartment.exteriorPolygons | dump }}">
        </div>
        <div class="form-group">
          <label>{{ __('Tour') }}</label>
          {% set parameters = {tours: tours, selected: interior._id, name: 'interior', type: 'interior'} %}
          {% include "back/partials/tour-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Lot') }}</label>
          <input name="lot" type="text" class="form-control" value="{{ apartment.lot }}" required>
        </div>
        <div class="form-group">
          <label>{{ __('Type') }}</label>
          {% set parameters = {selected: apartment.type, types: apartmentsTypes} %}
          {% include "back/partials/apartment/type-select.njk" %}
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="duplex" {% if apartment.duplex %} checked {% endif %}>
              {{ __('Duplex') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="house" {% if apartment.house %} checked {% endif %}>
              {{ __('House') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Area') }}</label>
          <input name="area" type="number" step="0.01" class="form-control" value="{{ apartment.area }}" required>
        </div>
        <div class="form-group">
          <label>{{ __('Price') }}</label>
          <input name="price" type="number" class="form-control" value="{{ apartment.price }}">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="elevator" {% if apartment.elevator %} checked {% endif %}>
              {{ __('Elevator') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="garage" {% if apartment.garage %} checked {% endif %}>
              {{ __('Garage') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="terrace" {% if apartment.terrace %} checked {% endif %}>
              {{ __('Terrace') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="garden" {% if apartment.garden %} checked {% endif %}>
              {{ __('Garden') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="basement" {% if apartment.basement %} checked {% endif %}>
              {{ __('Basement') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="parking" {% if apartment.parking %} checked {% endif %}>
              {{ __('Parking') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="balcony" {% if apartment.balcony %} checked {% endif %}>
              {{ __('Balcony') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Balcony Area') }}</label>
          <input name="balconyArea" type="number" class="form-control" value="{{ apartment.balconyArea }}">
        </div>
        <div class="form-group">
          <label>{{ __('Floor') }}</label>
          <input name="floor" type="text" class="form-control" value="{{ apartment.floor }}">
        </div>
        <div class="form-group">
          <label>{{ __('Orientation') }}</label>
          <input name="orientation" type="text" class="form-control" value="{{ apartment.orientation }}">
        </div>
        <div class="form-group">
          <label>{{ __('Energy performance') }}</label>
          <input name="energyPerformance" type="text" class="form-control" value="{{ apartment.energyPerformance }}">
        </div>
        {% set parameters = {user: apartment.user, group: apartment.group} %}
        {% include "back/partials/permissions.njk" %}
        <div class="actions">
          <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% include "back/partials/exterior-settings-modal.njk" %}

{% endblock %}
