{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'apartments' %}

{% block content %}
  <div class="apartments panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('apartment')) }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'apartment', text: 'apartment'} %}
  {% include "back/partials/modals/create.njk" %}
{% endblock %}
