{% for request in requests %}
  <tr data-id="{{ request._id }}" data-status="{{ request.status }}">
    <td><a href="./requests/{{ request._id }}/edit" class="date" data-date="{{ request.createdAt | timestamp }}"
           data-format="lll"></a></td>
    <td>{{ request.email }}</td>
    <td>{{ request.phone }}</td>
    <td>{{ request.developer.name }}</td>
    <td>{{ request.program.name }}</td>
    <td>{{ request.budgetFrom }}</td>
    <td>{{ request.budgetTo }}</td>
    <td>{{ __(request.type | requestType) }}</td>
    <td class="status">{{ __(request.status | requestStatus) }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'requests',
        id: request._id
      } %}
      {% include 'back/partials/grids/actions-edit-only.njk' %}
      {% include 'back/partials/grids/actions-remove-only.njk' %}
    </td>
  </tr>
{% endfor %}
