{% extends "front/layout.njk" %}

{% block content %}
{% include 'front/partials/scrolltop.njk' %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Allow access to the gyroscope</h1>
<p>For the browser to access the gyroscope :</p>
<ol>
<li>Go to the settings of your iPhone</li>
<li>Then click on Safari</li>
<li>Then activate the Movements and orientation option</li>
<li>Close this window to return to the previous screen</li>
</ol>

<a class="btn btn-primary" onclick="javascript:window.close()" href="#">Close this window</a>
</div>
</div>
</div>
{% endblock %}
