{% extends "front/layout.njk" %}

{% block content %}
{% include 'front/partials/scrolltop.njk' %}
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Autoriser l'accès au gyroscope</h1>
<p>Pour que le navigateur puisse accéder au gyroscope :</p>
<ol>
<li>Rendez-vous dans les Réglages de votre iPhone</li>
<li>Puis cliquez sur Safari</li>
<li>Puis activez l'option Mouvements et orientation</li>
<li>Fermez cette fenêtre pour revenir à l'écran précédent</li>
</ol>

<a class="btn btn-primary" onclick="javascript:window.close()" href="#">Fermer la fenêtre</a>
</div>
</div>
</div>
{% endblock %}
