{% import "back/macros/routes.njk" as m with context %}

<select name="building" class="form-control selectpicker" title="">
  <option value=""></option>
  {% for b in parameters.buildings %}
    <option value="{{ b._id }}" {% if b._id == parameters.selected %}selected{% endif %}
            data-content="{{ m.rt(b.name, 'primary') }}{{ m.rt(b.program.developer.name) }}{{ m.rt(b.program.name) }}">
    </option>
  {% endfor %}
</select>
