<select name="saleType" class="form-control" required>
  {%- for type in parameters.types -%}
    <option value="{{ type }}" {% if parameters.selected == type %}selected{% endif %}>
      {{  __(type | saleType) }}
    </option>
  {%- endfor -%}
</select>
