<select name="type" class="form-control" required>
  <option value=""></option>
  {%- for type in parameters.types -%}
    <option value="{{ type }}" {% if parameters.selected == type %}selected{% endif %}>
      {{  __(type | apartmentType) }}
    </option>
  {%- endfor -%}
</select>
