{% import "front/macros/social-tour.njk" as socialMacros with context %}

<div class="tour-partial loading"
     data-tour="{{ parameters.tour|dump }}"
     data-mainscene="{{ parameters.mainScene }}"
     data-polygons="{{ parameters.polygons | dump }}"
     data-hide-sidebar-right="{{ parameters.hideSidebarRight }}"
     data-delay="{{ parameters.delay }}">

  <div class="sidebar left">
    <div class="toggle">
      <div class="slide-out">
        <img src="/assets/shared/images/tour/sidebars/arrow-left.svg">
      </div>
      <div class="slide-in">
        <img src="/assets/shared/images/tour/sidebars/arrow-right.svg">
      </div>
    </div>

    {% if parameters.tour.type == 'exterior' %}
      {% if parameters.tour.program.developer %}
        {% set developer = parameters.tour.program.developer %}
      {% endif %}
    {% else %}
      {% if parameters.tour.apartment.building.program.developer %}
        {% set developer = parameters.tour.apartment.building.program.developer %}
      {% endif %}
    {% endif %}

    <div class="scenes">
      {% for scene in parameters.tour.scenes %}
        {% if scene.layer.isBaseLayer == true %}
          <div class="scene {% if scene.isMain %}active{% endif %}" data-_id="{{ scene._id }}">
            <img src="/storage/tours/{{ parameters.tour._id }}/scenes/{{ scene._id }}/thumbnail.jpg" alt="">
            <span class="title">{{ scene.name }}</span>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if developer.logoAvatar %}
      <div class="logo-developer">
        {% if developer.logoTourUrl %}
          {% set developerUrl = developer.logoTourUrl %}
        {% else %}
          {% set developerUrl = '/developers/' + developer._id %}
        {% endif %}
        <a href="{{ developerUrl }}" title="{{ developer.name }}">
          <div class="image">
            <img src="/storage/files/developers/{{ developer._id }}/{{ developer.logoAvatar }}" height="100">
          </div>
        </a>
      </div>
    {% endif %}

    {% if site.settings.logoTourEnabled %}
      <div class="logo-global">
        {% set logo = "/assets/shared/images/logo.svg" %}
        {% if site.settings.logoTourUrl %}
          <a href="{{ site.settings.logoTourUrl }}">
            <div class="image">
              <img src="{{ logo }}">
            </div>
          </a>
        {% else %}
          <div class="image">
            <img src="{{ logo }}">
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% include 'front/partials/tour/controls.njk' %}
  </div>

  <div class="sidebar right">
    <div class="toggle">
      <div class="slide-out">
        <img src="/assets/shared/images/tour/sidebars/arrow-right.svg">
      </div>
      <div class="slide-in">
        <img src="/assets/shared/images/tour/sidebars/arrow-left.svg">
      </div>
    </div>

    <div class="actions">
      <div class="action autorotate">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/rotation-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/rotation.svg">
        </div>
      </div>
      <div class="action fullscreen">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/fullscreen-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/fullscreen.svg">
        </div>
      </div>
      <div class="action-krpano-toggle vr">
        <img src="/assets/shared/images/tour/sidebars/vr.svg">
      </div>
      <div class="action gyro">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/gyro-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/gyro.svg">
        </div>
      </div>
      <div class="action plan">
        <div class="icon-active">
          <img src="/assets/shared/images/tour/sidebars/plan-active.svg">
        </div>
        <div class="icon-not-active">
          <img src="/assets/shared/images/tour/sidebars/plan.svg">
        </div>
      </div>

      <div class="sharing">
        {{ socialMacros.actions(
          parameters.shareTitle,
          parameters.entityType,
          parameters.entityId,
          parameters.shareUrl,
          parameters.integrateUrl,
          false,
          parameters.favoriteEnabled,
          parameters.favoriteId
        ) }}
      </div>

      <div class="action-no-toggle legal"
           data-header="{{ __('Legal info') }}"
           data-text="{{ __('_legal_info_text') }}">
        <img src="/assets/shared/images/tour/sidebars/info.svg">
      </div>
    </div>

    {% include 'front/partials/apartment/controls.njk' %}
  </div>

  <div id="panorama-{{ parameters.tour._id }}" class="panorama-partial"></div>
</div>

{% block outro %}
  {% include "front/partials/modals/social-modals.njk" %}
{% endblock %}

{% block scripts %}
  {% include 'front/partials/scripts/krpano.njk' %}
{% endblock %}
