{% if env.SENTRY_DSN %}
  <script src="https://browser.sentry-cdn.com/4.2.3/bundle.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    Sentry.init({dsn: '{{ env.SENTRY_DSN }}'});
  </script>
{% endif %}
