<a href="./{{ parameters.url }}/{{ parameters.id }}/tours" title="{{ __('Tours') }}"><i class="far fa-list"></i></a>
<a href="./{{ parameters.url }}/{{ parameters.id }}/edit" title="{{ __('Edit') }}"><i class="far fa-pencil"></i></a>
<a href="./{{ parameters.url }}/{{ parameters.id }}/delete" title="{{ __('Delete') }}"><i class="far fa-trash delete"></i></a>
