<div class="tour-actions">
  <a href="./tours/{{ parameters.tour._id }}" class="btn btn-primary">{{ __('Edit') }}</a>
  <button
    class="btn btn-success" id="tour-publish-{{ parameters.tour._id }}"
    onclick="app.onSwitch('#tour-publish-{{ parameters.tour._id }}')"
    data-switch='{"model": "tour", "_id": "{{ parameters.tour._id }}", "property": "isPublished"}'>
                <span data-on="{{ __('Publish') }}" data-off="{{ __('Unpublish') }}">
                  {% if parameters.tour.isPublished %}
                    {{ __('Unpublish') }}
                  {% else %}
                    {{ __('Publish') }}
                  {% endif %}
                </span>
  </button>
  <a href="./tours/{{ parameters.tour._id }}/delete" class="btn btn-danger">{{ __('Delete') }}</a>
</div>
