{% if parameters.enablePublish %}
  <a href id="publish-{{ parameters.id }}"
     title="{{ __('Publication') }}"
     onclick="app.onSwitch('#publish-{{ parameters.id }}', event)"
     data-switch='{"model": "{{ parameters.type }}", "_id": "{{ parameters.id }}", "property": "isPublished"}'>
  <span data-on="<i class='far fa-circle'>" data-off="<i class='far fa-check-circle'>">
    {% if parameters.isPublished == true %}
      <i class="far fa-check-circle"></i>
    {% else %}
      <i class="far fa-circle"></i>
    {% endif %}
  </span>
  </a>
{% endif %}

{% if parameters.enableEnable %}
  <a href id="enable-{{ parameters.id }}"
     title="{{ __('Activation') }}"
     onclick="app.onSwitch('#enable-{{ parameters.id }}', event)"
     data-switch='{"model": "{{ parameters.type }}", "_id": "{{ parameters.id }}", "property": "isEnabled"}'>
  <span data-on="<i class='far fa-circle'>" data-off="<i class='far fa-check-circle'>">
    {% if parameters.isEnabled == true %}
      <i class="far fa-check-circle"></i>
    {% else %}
      <i class="far fa-circle"></i>
    {% endif %}
  </span>
  </a>
{% endif %}

{% if parameters.enableSold %}
  <a href id="sold-{{ parameters.id }}"
     title="{{ __('Status') }}"
     onclick="app.onSwitch('#sold-{{ parameters.id }}', event)"
     data-switch='{"model": "{{ parameters.type }}", "_id": "{{ parameters.id }}", "property": "isSold", "updated": "{{ parameters.soldUpdated }}"}'>
      <span data-on="<i class='far fa-euro-sign'>" data-off="<i class='far fa-euro-sign active'>">
        {% if parameters.isSold %}
          <i class="far fa-euro-sign active"></i>
        {% else %}
          <i class="far fa-euro-sign"></i>
        {% endif %}
      </span>
  </a>
{% endif %}

{% if not parameters.hideLink %}
  <a href="/{{ parameters.url }}/{{ parameters.id }}" title="{{ __('Preview') }}" target="_blank"><i class="far fa-link"></i></a>
{% endif %}
{% if parameters.enablePermissions %}
  {% if parameters.role == 'admin' or parameters.role == 'editor' %}
    <a href="./{{ parameters.url }}/{{ parameters.id }}/permissions" title="{{ __('Edit permissions') }}"><i class="far fa-user"></i></a>
  {% endif %}
{% endif %}
<a href="./{{ parameters.url }}/{{ parameters.id }}/edit" title="{{ __('Edit') }}"><i class="far fa-pencil"></i></a>
<a href="./{{ parameters.url }}/{{ parameters.id }}/delete" title="{{ __('Delete') }}"><i class="far fa-trash delete"></i></a>
