{% extends "front/layout.njk" %}
{% import "front/macros/social.njk" as socialMacros with context %}
{% import "front/macros/imagesets.njk" as imagesetsMacros with context %}
{% import "front/macros/readmore.njk" as readMore with context %}
{% import "front/macros/subdomains.njk" as subdomains with context %}
{% import "front/macros/gallery-image.njk" as gallerysetsMacros with context %}

{%- set pageTitle -%}
  {{ program.name }}
{%- endset -%}

{% block meta %}
  <meta property="og:title" content="{{ program.name }}">
  <meta property="og:description" content="{{ developer.name }}">
  <meta property="og:image" content="{{ req.protocol + "://" + req.get('host') }}{{ imagesetsMacros.first(program.slider) }}">
  <meta property="og:url" content="{{ req.protocol + "://" + req.get('host') + req.originalUrl }}">
{% endblock %}

{% block content %}

{% include 'front/partials/scrolltop.njk' %}

<div class="container">
  <section id="program">

    {% if program.slider %}{{ imagesetsMacros.slider(program.slider) }}{% endif %}

    {% if developer %}
      <div class="top-nav">
        <div class="primary controls">
          {% set parameters = {developer: developer} %}
          {% include "front/partials/developer-name.njk" %}
        </div>
        <div class="secondary controls">
          <a href="{{ subdomains.url(developer) }}#programs" class="control">{{ __('All programs') }}</a>
          <a href="{{ subdomains.url(developer) }}" class="control">{{ __('About') }}</a>
        </div>
      </div>
    {% endif %}

    <div class="sub-nav">
      <div id="about">
        <div class="program-header">
          <div class="primary">
            {% if program.logoProgram %}
              <img class="logo pull-left" src="/storage/files/programs/{{ program._id }}/{{ program.logoProgram }}"
                   alt="">
            {% endif %}
            <h1 class="name pull-left">{{ program.name }}</h1>
          </div>
          <div class="secondary">
            {{ socialMacros.actions(
              program.name,
              'Program',
              program._id,
              '/programs/' + program._id,
              '',
              program.counterRating) }}
          </div>
        </div>
        {{ readMore.cut(program.description) }}
      </div>
      <div class="buttons">
        {% set parameters = {requestGlasses: developer.requestGlasses} %}
        {% include "front/partials/request.njk" %}
      </div>
    </div>

    <div class="details">
      {% set parameters = {program: program} %}
      {% include "front/partials/program-table-details.njk" %}
    </div>
	
	{% if program.slider %}{{ gallerysetsMacros.sliderGallery(program.slider) }}{% endif %}
	
    {% if program.aerial_url or program.address %}
      <div class="interactive row">
        {% if program.aerial_url %}
          <div class="col-sm-6">
            <div class="aerial loading-circle" data-url="{{ program.aerial_url }}"></div>
          </div>
        {% endif %}
        {% if program.address %}
          <div class="{% if program.aerial_url %}col-sm-6{% else %}col-sm-12{% endif %}">
            <div class="map" data-location="{{ program.location | dump }}"
                 data-address="{{ program.address }}"></div>
          </div>
        {% endif %}
      </div>
    {% endif %}

  </section>

  {% if apartments | length %}
    <section id="apartments">
      <header class="clearfix">
        <h2 class="h1">{{ __('List of program lots') }}</h2>
        <div class="sort">
          <select name="sort">
            <option value="area.asc" selected>{{ __('Size ascending') }}</option>
            <option value="area.desc">{{ __('Size descending') }}</option>
            <option value="price.asc">{{ __('Price ascending') }}</option>
            <option value="price.desc">{{ __('Price descending') }}</option>
            <option value="type.asc">{{ __('Type ascending') }}</option>
            <option value="type.desc">{{ __('Type descending') }}</option>
          </select>
        </div>
      </header>

      {% for building in buildings %}
        {% set hasApts = false %}
        {% for apartment in apartments %}{% if building._id == apartment.building._id %}{% set hasApts = true %}{% endif %}{% endfor %}

        {% if hasApts %}
          <div class="building">

            {% if buildings.length > 1 %}
              <h3 class="h1" id="building-{{ building._id }}">{{ building.name }}</h3>
            {% endif %}

            <div class="list">
              {% for apartment in apartments %}
                {% if building._id == apartment.building._id %}
                  <div class="apartment list-el clearfix"
                       data-area="{{ apartment.area }}"
                       data-type="{{ apartment.type }}"
                       data-price="{{ apartment.price }}">
                    {% if apartment.interior.thumbnail %}
                      <div class="image">
                        <a href="/apartments/{{ apartment._id }}">
                          {% if apartment.isSold %}
                            {% set parameters = {
                              saleType: apartment.saleType
                            } %}
                            {% include "front/partials/apartment/apartment-sold.njk" %}
                          {% endif %}
                          <div class="overlay hover-opacity-0-to-50 {% if apartment.isSold %}red{% endif %}"></div>
                          <div class="img lazy" data-bg="url({{ apartment.interior.thumbnail }})"></div>
                        </a>
                      </div>
                    {% else %}
                      <div class="image empty">
                        {% if apartment.isSold %}
                          {% set parameters = {
                            saleType: apartment.saleType
                          } %}
                          {% include "front/partials/apartment/apartment-sold.njk" %}
                        {% endif %}
                        <div class="name"><h1>{{ apartment.name }}</h1></div>
                      </div>
                    {% endif %}
                    <div class="text">
                      {% set parameters = {apartment: apartment} %}
                      {% include "front/partials/apartment/table-details.njk" %}
                      <div class="actions clearfix">
                        <div class="primary">
                          {% if apartment.interior.thumbnail %}
                            <a href="/apartments/{{ apartment._id }}" class="btn btn-primary">{{ __('Visit') }}</a>
                          {% endif %}
                        </div>
                        <div class="secondary">
                          {{ socialMacros.actions(
                            apartment.name,
                            'Apartment',
                            apartment._id,
                            '/apartments/' + apartment._id,
                            '',
                            apartment.counterRating,
                            false,
                            true,
                            apartment.favoriteId
                          ) }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </section>
  {% endif %}
</div>
{% endblock %}

{% block outro %}
  {% set parameters = {
    developerId: developer._id,
    programId: program._id
  } %}
  {% include "front/partials/modals/request-info.njk" %}
  {% include "front/partials/modals/request-glasses.njk" %}
  {% include "front/partials/modals/social-modals.njk" %}
{% endblock %}

{% block scripts %}
  {% include 'front/partials/google-maps.njk' %}
  {% include "front/partials/modals/show-gallery.njk" %}
{% endblock %}
