{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block content %}
  <div class="intro">
    <div class="reset-password panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Account verification') }}</div>
        <p>{{ __('Your account is verified') }}</p>
        <p><a href="/auth/log-in">{{ __('Click here to log in') }}</a></p>
      </div>
    </div>
  </div>
{% endblock %}
