{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block head %}
  <link rel="stylesheet" href="/assets/shared/bootstrap-social.css" />
{% endblock %}
{% block content %}
  <div class="intro">
    <div class="panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Identification') }}</div>

        {% if message  %}
        <div class="alert alert-warning alert-dismissible" role="alert">
           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <small>{{ message | safe }}</small>
        </div>
        {% endif %}

        <form action="/auth/log-in" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="{{ __('Login') }}" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="{{ __('Password') }}" required>
          </div>
          <div class="actions">
            <input type="hidden" name="back" value="{{ req.query.back }}">
            <button type="submit" class="btn btn-primary single btn-block">{{ __('Log in') }}</button>
            <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
              <span class="fab fa-facebook"></span> Se connecter avec facebook
            </a>
            <a class="btn btn-block btn-social btn-google" href="/auth/google">
              <span class="fab fa-google"></span> Se connecter avec Google
            </a>
          </div>
        </form>
      </div>
      <div class="footer text-center">
        <a href="/auth/request-password-reset">{{ __('Forgot your password?') }}</a>
      </div>
      <div class="footer sign-up text-center">
        <a href="/auth/sign-up?back={{ req.query.back }}">{{ __('Sign up') }}</a>
      </div>
    </div>
  </div>
{% endblock %}
