{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block content %}
  <div class="intro">
    <div class="panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Reset password') }}</div>
        <form action="/auth/request-password-reset" method="post">
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="{{ __('Email') }}" required>
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-primary single">{{ __('Submit') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
