{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block content %}
  <div class="intro">
    <div class="reset-password panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Reset password') }}</div>
        <form action="/auth/reset-password" method="post">
          <div class="form-group">
            <input name="{{ shortid() }}"
                   type="text" minlength="8"
                   placeholder="{{ __('New password') }}"
                   class="form-control masked-pass"
                   required>
            <small class="pass-strength-text"></small>
          </div>
          <div class="actions">
            <input name="password" class="hidden-pass" style="display: none;">
            <input type="submit" class="hidden-submit" style="display: none;">
            <input type="hidden" name="key" value="{{ req.query.key }}">
            <button type="button" class="btn btn-primary single fake-submit">{{ __('Submit') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
