{% extends "back/layout.njk" %}
{% set sidebarDisable = true %}
{% block content %}
  <div class="intro">
    <div class="sign-up panel">
      {% include "back/partials/auth/header.njk" %}
      <div class="content">
        <div class="title">{{ __('Sign up') }}</div>
        <form action="/auth/sign-up?back={{ req.query.back }}" method="post">
          <div class="form-group">
            <input class="form-control" type="text" minlength="6" name="firstName" placeholder="{{ __('FirstName') }}" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" minlength="3" name="lastName" placeholder="{{ __('LastName') }}" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="{{ __('Email') }}" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" minlength="8" name="password" placeholder="{{ __('Password') }}" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" minlength="8" name="password_repeat" placeholder="{{ __('Repeat password') }}" required>
            <small class="pass-strength-text"></small>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="phone" placeholder="{{ __('Phone') }}">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="partnerCode" placeholder="{{ __('Partner Code') }}">
          </div>
          <div class="actions">
            <button type="submit" class="btn btn-primary single">{{ __('Submit') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
