{% for phrase in phrases %}
  <tr data-id="{{ phrase._id }}">
    <td><a href="./phrases/{{ phrase._id }}/edit">{{ phrase.name }}</a></td>
    <td class="actions">
      {% set parameters = {
        url: 'phrases',
        id: phrase._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
