{% extends "front/layout.njk" %}

{% block content %}
  <div class="error-container">
    <div class="error-message">
      <h1>{{ __('Error %s', err.status) }}</h1>
      <p>{% if err.status != '500' %}{{ __(err.message) }}{% endif %}</p>
      {% if err.status == '403' and not template.auth %}
        <a href="/auth/log-in?back={{ req.originalUrl }}" class="btn btn-primary">{{ __('Login') }}</a>
      {% else %}
        <a href="javascript:history.back()" class="btn btn-primary">{{ __('Back') }}</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
