{% set headerDisable = true %}
{% extends "front/layout.njk" %}

{% block content %}

  <div id="index">
    <table>
      <tbody>
      <tr class="logo-and-search">
        <td>
          <div class="logo">
            <img src="/assets/shared/images/logo.svg" alt="Viewwer">
          </div>

          <div class="motto">
            {{ __('Visit all the properties available for sale and to rent without leaving your home <span>24/7</span>') | safe }}
          </div>

          <div class="coming-soon">Coming soon</div>
          <a href="https://www.gizmo-experience.com/" class="btn btn-success">MORE DETAILS</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
