{% set headerDisable = true %}
{% extends "front/layout.njk" %}

{% block content %}

  <div id="index">
    <table>
      <tbody>
      <tr class="logo-and-search">
        <td>
          <div class="logo">
            <img src="/assets/shared/images/logo.svg" alt="Viewwer">
          </div>

          <div class="motto">
            {{ __('Visit all the properties available for sale and to rent without leaving your home <span>24/7</span>') | safe }}
          </div>

          {% include "front/partials/search-bar.njk" %}
        </td>
      </tr>
      <tr class="footer">
        <td>
          <a href="/about">{{ __('About') }}</a>
          <a href="/terms">{{ __('Terms') }}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts %}
  {% include 'front/partials/google-maps.njk' %}
{% endblock %}
