{% extends "front/layout.njk" %}
{% import "front/macros/social.njk" as socialMacros with context %}
{% import "front/macros/imagesets.njk" as imagesetsMacros with context %}
{% import "front/macros/readmore.njk" as readMore with context %}

{%- set pageTitle -%}
  {{ developer.name }}
{%- endset -%}

{% block meta %}
  <meta property="og:title" content="{{ developer.name }}">
  <meta property="og:description" content="">
  <meta property="og:image" content="{{ req.protocol + "://" + req.get('host') }}{{ imagesetsMacros.first(developer.slider) }}">
  <meta property="og:url" content="{{ req.protocol + "://" + req.get('host') + req.originalUrl }}">
{% endblock %}

{% block content %}

  {% include 'front/partials/scrolltop.njk' %}

<div class="container">
  <section id="developer">

    {% if developer.slider %}{{ imagesetsMacros.slider(developer.slider) }}{% endif %}

    <div class="top-nav">
      <div class="primary controls">
        {% set parameters = {developer: developer, nolink: true} %}
        {% include "front/partials/developer-name.njk" %}
      </div>
    </div>

    <div class="sub-nav">
      <div id="about">
        {{ readMore.cut(developer.description) }}
      </div>
      <div class="buttons">
        {% set parameters = {requestGlasses: developer.requestGlasses} %}
        {% include "front/partials/request.njk" %}
        <div class="buttons-social">
          {{ socialMacros.actions(
            developer.name,
            'Developer',
            developer._id,
            '',
            '',
            developer.counterRating,
            true) }}
        </div>
      </div>
    </div>
  </section>

  {% if programs | length %}
    <section id="programs">
      <header>
        <h2 class="h1">{{ __('Programs') }}</h2>
      </header>
      {% for program in programs %}
        {% if program.slider.images | length %}
          {% set image = imagesetsMacros.first(program.slider) %}
        {% else %}
          {% set image = '' %}
        {% endif %}
        {% set parameters = {
          program: program,
          image: image
        } %}
        {% include "front/partials/developer/program-header.njk" %}
        <div class="program-footer clearfix">
          <a href="/programs/{{ program._id }}" class="btn btn-primary">{{ __('See the program in detail') }}</a>
        </div>
      {% endfor %}
    </section>
  {% endif %}
</div>
{% endblock %}

{% block outro %}
  {% set parameters = { developerId: developer._id} %}
  {% include "front/partials/modals/request-info.njk" %}
  {% include "front/partials/modals/request-glasses.njk" %}
  {% include "front/partials/modals/social-modals.njk" %}
{% endblock %}
