{% extends "front/layout.njk" %}
{% import "front/macros/social.njk" as socialMacros with context %}

{%- set pageTitle -%}
  {{ __('Search') }}
{%- endset -%}

{% block content %}

{% include 'front/partials/loader.njk' %}
{% include 'front/partials/scrolltop.njk' %}

<div class="container">
  <section id="search-results" data-locale="{{ {
    'Tour': __('Tour'),
    'House': __('House'),
    'Apt.': __('Apt.'),
    'duplex': __('duplex'),
    't01': __('t01'),
    't02': __('t02'),
    't03': __('t03'),
    't04': __('t04'),
    't05': __('t05'),
    't06': __('t06'),
    't07': __('t07'),
    'sold': __('Sold'),
    'rented': __('Rented'),
    'for_rent': __('For rent') | lower
  } | dump }}">

    <header class="search-settings">
      {% include "front/partials/search-bar.njk" %}
    </header>

    <header class="search-controls">
      <div class="toggle">
        {% include 'front/partials/icons/header/search.njk' %}
      </div>
      <div>
        <select name="sort" data-manual-init="true">
          <option value="price.asc">{{ __('Price ascending') }}</option>
          <option value="price.desc">{{ __('Price descending') }}</option>
          <option value="date.asc">{{ __('Date ascending') }}</option>
          <option value="date.desc" selected>{{ __('Date descending') }}</option>
        </select>
      </div>
    </header>

    <div class="no-results">
      <h1>{{ __('Nothing found') }}</h1>
    </div>

    <div class="results flexgrid"></div>
    <div class="footer">
      <button class="more-tours btn btn-primary">{{ __('More tours') }}</button>
    </div>
  </section>
</div>

<script type="text/x-template" id="apartment-result-template">
  <div class="result">
    <div class="sold-corner hidden">
      {% include "front/partials/apartment/apartment-sold.njk" %}
    </div>
    <div class="controls-overlay">
      <div class="program hidden"></div>
    </div>
    <a class="overlay hover-opacity-0-to-50"></a>
    <div class="interior"></div>
    <div class="controls">
      <div class="placeholder">
        <div class="primary">
          <div class="type"></div>
          <div class="price hidden"></div>
          <div class="area hidden"></div>
          <div class="sale-type hidden"></div>
        </div>
        <div class="secondary">{{ socialMacros.actions(
            '','','','','','','',true,''
          ) }}</div>
      </div>
    </div>
  </div>
</script>

<script type="text/x-template" id="apartment-result-placeholder-template">
  <div class="result-placeholder"></div>
  <div class="result-placeholder"></div>
  <div class="result-placeholder"></div>
  <div class="result-placeholder"></div>
  <div class="result-placeholder"></div>
  <div class="result-placeholder"></div>
</script>

{% endblock %}

{% block outro %}
  {% include "front/partials/modals/social-modals.njk" %}
{% endblock %}

{% block scripts %}
  {% include 'front/partials/google-maps.njk' %}
{% endblock %}
