{% if not template.auth %}
<div id="cookies-message"
     data-message="{{ __('_cookies_message') }}"
     data-button-agree="{{ __('_cookies_agree') }}"
     data-button-link="{{ __('_cookies_link') }}"
     data-link="https://www.gizmo-experience.com/politique-de-confidentialite/">
</div>
{% endif %}
