{% import "front/macros/subdomains.njk" as subdomains with context %}

<div class="developer-name">
  {% if parameters.developer.logoAvatar %}
    {% if parameters.nolink == true %}
      <span class="logo"
            style='background-image: url("/storage/files/developers/{{ parameters.developer._id }}/{{ parameters.developer.logoAvatar }}")'
            title="{{ parameters.developer.name }}">
      </span>
    {% else %}
      <span class="logo"
            onclick="location='{{ subdomains.url(parameters.developer) }}'"
            style='cursor: pointer; background-image: url("/storage/files/developers/{{ parameters.developer._id }}/{{ parameters.developer.logoAvatar }}")'
            title="{{ parameters.developer.name }}">
      </span>
    {% endif %}
  {% endif %}
  <span class="name">
    {%- if parameters.nolink == true -%}
      {{ parameters.developer.name }}
    {%- else -%}
      <a href="{{ subdomains.url(parameters.developer) }}">
        {{ parameters.developer.name }}
      </a>
    {%- endif -%}
  </span>
</div>
