{% if not parameters.headerDisable %}
  <header class="main-header {% if parameters.headerFixed %}fixed{% endif %}">
    <div class="container{% if fullWidth %}-fluid{% endif %}">
      <a class="logo" href="/">
        <div class="logo-image">
          {% include 'front/partials/icons/header/logo.njk' %}
        </div>
      </a>
      <div class="gap"></div>
      {% if not parameters.headerControlsDisable and not parameters.headerMobile %}
        <div class="header-controls">
          <div class="control" id="header-control-menu">
            {% include 'front/partials/icons/header/menu.njk' %}
          </div>
          {% include 'front/partials/user-menu.njk' %}
        </div>
      {% endif %}
    </div>
  </header>
{% endif %}
