{% import "front/macros/decorations.njk" as decorations with context %}

<div class="program-table-details">
  <div class="primary">
    {% if parameters.program.devStatus %}
      <div class="item">
        <div class="header">{{ __('Status') }}</div>
        <div class="content">
          {{ __(parameters.program.devStatus | programDevStatus) }}
        </div>
      </div>
    {% endif %}
    {% if parameters.program.available %}
      <div class="item">
        <div class="header">{{ __('Available') }}</div>
        <div class="content">
          {{ parameters.program.available }}
        </div>
      </div>
    {% endif %}
    {% if parameters.program.filePdf %}
      <div class="item">
        <div class="header">{{ __('Brochure') }}</div>
        <div class="content">
          <a href="/storage/files/programs/{{ parameters.program._id}}/{{ parameters.program.filePdf }}">{{ __('View') }}</a>
        </div>
      </div>
    {% endif %}
  </div>
  {% if parameters.program.decorationAndConveniences | length %}
    <div class="primary">
      <div class="item">
        <div class="header">{{ __('Decoration and conveniences') }}</div>
        <div class="content">{{ decorations.format(parameters.program.decorationAndConveniences) }}</div>
      </div>
    </div>
  {% endif %}
  {% if parameters.program.distanceShops > 0
    and parameters.program.distanceCultureAndEntertainment > 0
    and parameters.program.distanceTransports > 0
    and parameters.program.distanceSchools > 0 %}
  <div class="secondary">
    <div class="item">
      <div class="header">{{ __('Distance') }}</div>
      <div class="content">
        {% if parameters.program.distanceShops > 0 %}
          <div class="subitem">{{ __('Nearby shops') }}:
            <span>{{ parameters.program.distanceShops }}m</span>
          </div>
        {% endif %}
        {% if parameters.program.distanceCultureAndEntertainment > 0 %}
          <div class="subitem">{{ __('Culture and entertainment') }}:
            <span>{{ parameters.program.distanceCultureAndEntertainment }}m</span>
          </div>
        {% endif %}
        {% if parameters.program.distanceTransports > 0 %}
          <div class="subitem">{{ __('Transports') }}:
            <span>{{ parameters.program.distanceTransports }}m</span>
          </div>
        {% endif %}
        {% if parameters.program.distanceSchools > 0 %}
          <div class="subitem">{{ __('Schools') }}:
            <span>{{ parameters.program.distanceSchools }}m</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
