<div class="request-buttons">
  {% if parameters.requestGlasses %}
    <button class="btn btn-success" id="request-glasses-button">{{ __('Receive my 3D glasses') }}
      <span>{{ __('Free') }}</span>
    </button>
  {% endif %}
  <button class="btn btn-success" id="request-info-button">{{ __('Request info') }}</button>
</div>
