<div id="search-bar"
     data-text-minmax="{{ __('Any') }}">
  <div class="place-type search-control">
    <select name="place-type" data-manual-init="true">
      <option placeholder value="all">{{ __('Housing type') }}</option>
      <option value="apartment">{{ __('Apartments') }}</option>
      <option value="house">{{ __('Houses') }}</option>
      <option value="all">{{ __('Any') }}</option>
    </select>
  </div>
  <div class="address search-control">
    <div class="location"
         data-geo-message-not-enabled="{{ __('Geolocation is not enabled on this browser') }}"
         data-geo-message-denied="{{ __('User denied Geolocation') }}"
         data-geo-message-error="{{ __('An error has occured while retrieving location') }}">
      <div class="icon"><img src="/assets/shared/images/search/location.svg"></div>
      <div class="icon-clear"><img src="/assets/shared/images/search/location-clear.svg"></div>
      <div class="delimiter"></div>
    </div>
    <input name="address" type="text" placeholder="{{ __('Or? District, city, region...') }}">
    <div class="addresses-dropdown"></div>
    <div class="address-map"></div>
  </div>
  <div class="sale-type search-control">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn">
        <input name="sale-type" type="radio" value="all" autocomplete="off">
        {{- __('All') -}}
      </label>
      <label class="btn">
        <input name="sale-type" type="radio" value="sale" autocomplete="off">
        {{- __('For sale') -}}
      </label>
      <label class="btn">
        <input name="sale-type" type="radio" value="rent" autocomplete="off">
        {{- __('For rent') -}}
      </label>
    </div>
  </div>
  <div class="advanced search-control">
    <div class="filters">
      <div class="filter">
        <div class="slider">
          <div class="label">{{ __('Budget') }}</div>
          <input type="text" name="range-budget" value=""/>
        </div>
      </div>
      <div class="filter">
        <div class="slider">
          <div class="label">{{ __('Area') }}</div>
          <input type="text" name="range-area" value=""/>
        </div>
      </div>
      <div class="filter">
        <div class="slider">
          <div class="label">{{ __('Rooms') }}</div>
          <input type="text" name="range-rooms" value=""/>
        </div>
      </div>
    </div>
  </div>
  <div class="search-button search-control">
    <div class="icon hover-saturate-150"><img src="/assets/shared/images/search/search.svg"></div>
  </div>
</div>
