<div id="user-menu">
  <div class="controls balloon">
    {% if template.auth %}
      {% if template.authRole in ['admin', 'editor', 'developer'] %}
        <div class="control link" data-url="/admin">{{ __('Dashboard') }}</div>
        <div class="control link requests" data-url="/admin/requests">
          {{ __('Requests') }}
          <span class="count-new"></span>
        </div>
        <div class="control link" data-url="/dashboard/stats">{{ __('Statistics') }}</div>
      {% endif %}

      <div class="control link messages" data-url="/dashboard/messages">
        {%- if template.authRole == 'user' -%}
          {{ __('Messages') }}
        {%- else -%}
          {{ __('Support') }}
        {%- endif -%}
        <span class="count-new"></span>
      </div>
      <div class="control link" data-url="/dashboard/favorites">{{ __('Favorites') }}</div>
      <div class="control link" data-url="/search">{{ __('Search') }}</div>
      <div class="separator"><span class="dot"></span></div>
      <div class="control link logout" data-url="/auth/log-out" title="{{ template.authEmail }}">{{ __('Logout') }}</div>
    {% else %}
      <div class="control link" data-url="/search">{{ __('Search') }}</div>
      <div class="separator"><span class="dot"></span></div>
      <div class="control link" data-url="/auth/log-in?back={{ req.originalUrl }}">
        {{ __('Login') }}
      </div>
    {% endif %}
    <div class="locales">
      <div class="locale hover-opacity-70" data-locale="fr">
        <img class="flag" src="/assets/shared/images/locales/fr.svg">
      </div>
      <div class="locale hover-opacity-70" data-locale="en">
        <img class="flag" src="/assets/shared/images/locales/en.svg">
      </div>
    </div>
  </div>
</div>
