<div class="modal" id="adjust-scene-thumbnail" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Scene thumbnail') }}</div>
        </div>
        <div class="modal-body">
          <p>{{ __('Use the scene preview below to define how thumbnail should look like') }}</p>
          <div id="scene-preview"></div>
          <div class="number">
            {{ __('Scene') }}
            <span class="value"></span>
          </div>
          <div class="file">
            <span class="name"></span>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Next') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
