<div class="modal" id="define-tour-properties" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Define properties') }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input name="name" type="text" class="form-control" value="{{ tour.name }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Type') }}</label>
            <select name="type" class="form-control selectpicker" title="" required>
              <option value=""></option>
              <option value="interior"
                      {% if tour.type == 'interior' %}selected{% endif %}>{{ __('Interior tour') }}</option>
              <option value="exterior"
                      {% if tour.type == 'exterior' %}selected{% endif %}>{{ __('Exterior tour') }}</option>
            </select>
          </div>
          <div class="form-group program-select-group">
            <label>{{ __('Program') }}</label>
            {% set parameters = {
              programs: programs,
              selected: tour.program
            } %}
            {% include "back/partials/program-select.njk" %}
          </div>
          <div class="form-group apartment-select-group">
            <label>{{ __('Apartment') }}</label>
            {% set parameters = {
              apartments: apartments,
              selected: tour.apartment
            } %}
            {% include "back/partials/tour/apartment-select.njk" %}
          </div>
          <div class="form-group apartment-select-group">
            <label>{{ __('Additional apartments') }}</label>
            {% set parameters = {
              apartments: apartments,
              selected: tour.apartmentsAdditional
            } %}
            {% include "back/partials/tour/apartments-additional-select.njk" %}
          </div>
          {% set parameters = {user: tour.user, group: tour.group} %}
          {% include "back/partials/permissions.njk" %}
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
