<script type="text/x-template" id="file-template">
  <div class="file">
    <div class="name"></div>
    <div class="status" data-finished="{{ __('upload finished') }}">
      <span class="uploaded"></span>
      {{ __('of') }}
      <span class="total"></span>
    </div>
    <progress value="0" max="100"></progress>
    <i class="far fa-times-circle abort"></i>
  </div>
</script>
