<div class="modal" id="hotspot-url" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Open web address') }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Address') }}</label>
            <input type="url" class="form-control" name="url" required>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Save') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
