<div class="modal" id="hotspot-change-icon" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Change icon') }}</div>
        </div>
        <div class="modal-body">
          {% include "back/partials/file-manager.njk" %}
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Save') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
