<script type="text/x-template" id="hotspot-menu-template">
  <ul class="hotspot-menu">
    <li class="load-scene with-options">
      <span>{{ __('Go to another scene') }}</span>
      <ul></ul>
    </li>
    <li class="open-modal">
      <span>{{ __('Open modal window') }}</span>
    </li>
    <li class="open-url">
      <span>{{ __('Open web address') }}</span>
    </li>
    <li class="change-icon">
      <span>{{ __('Change icon') }}</span>
    </li>
    <li class="mode">
        <span><input type="checkbox" name="mode" id="mode"> {{ __('Free mode') }}</span>
    </li>
    <li class="delete">
      <span>{{ __('Delete this hotspot') }}</span>
    </li>
  </ul>
</script>
cript>
