<div class="modal" id="hotspot-modal" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Open modal window') }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ __('Heading') }}</label>
            <input type="text" class="form-control" name="heading">
          </div>
          <div class="form-group">
            <label>{{ __('Content') }}</label>
            <textarea class="html form-control" name="content"></textarea>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Save') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
