<div class="modal" id="plan-editor" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Create cameras') }}</div>
        </div>
        <div class="modal-body modal-not-scrollable">
          <div class="plan-container">
            <img width="500" class="plan-image">
            <div class="planspots"></div>
          </div>
          <div class="placeholder">
            <i class="far fa-map"></i>
          </div>
          <div class="actions">
            <a href="#" class="action upload"><i class="far fa-upload"></i>&nbsp;{{ __('Upload') }}</a>
            <a href="#" class="action remove"><i class="far fa-trash"></i>&nbsp;{{ __('Remove') }}</a>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
