<div class="modal" id="planspot-adjust" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Camera adjustment') }}</div>
        </div>
        <div class="modal-body">
          <div id="planspot-adjust-scene"></div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
