<script type="text/x-template" id="planspot-menu-template">
  <ul class="planspot-menu">
    <li class="load-scene with-options">
      <span>{{ __('Scene') }}</span>
      <ul></ul>
    </li>
    <li class="adjust">
      <span>{{ __('Adjust') }}</span>
    </li>
    <li class="delete">
      <span>{{ __('Delete') }}</span>
    </li>
  </ul>
</script>
