<div class="modal" id="plan-upload" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Upload') }}</div>
        </div>
        <div class="modal-body">
          <div class="plan-container">
            <img width="500" class="plan-image">
          </div>
          <input name="plan-upload" class="form-control" type="file">
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
