<script type="text/x-template" id="scene-hotspots-template">
  <div class="modal hotspots" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <div class="modal-title">{{ __('Create hotspots') }}</div>
          </div>
          <div class="modal-body">
            <div class="scene">
              {{ __('Scene') }}
              <span class="number"></span>:
              <span class="name"></span>
            </div>
            <div class="image">
              <img src="" alt="">
              <div class="hotspots"></div>
            </div>
            <div class="plan-container">
              <div class="plan-expand">
                <a><i class="plan-button far fa-map"></i></a>
              </div>
              <div class="plan-content">
                <img class="plan-image">
              </div>
            </div>
          </div>
          <div class="modal-footer actions">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            <button type="button" class="btn btn-default back-button">{{ __('Back') }}</button>
            <button type="submit" class="btn btn-success"><span>{{ __('Next') }}</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
