<script type="text/x-template" id="scene-title-template">
  <div class="modal scene" id='select-scenes-properties' data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <div class="modal-title">{{ __('Scene') }}</div>
          </div>
          <div class="modal-body">
            <img src="" alt="">
            <div class="number">
              {{ __('Scene') }}
              <span class="value"></span>
            </div>
            <div class="file">
              <span class="name"></span>
              <span class="size"></span>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label>{{ __('Type') }}</label>
                <select name="scene-type" class="form-control selectpicker" required/>
              </div>
              <div class="form-group">
                <label>{{ __('Name') }}</label>
                <input name="name" class="form-control" type="text" required>
              </div>
              <div class="form-group">
                <label>{{ __('Layer') }}</label>
                <select name="layer-type" class="form-control" required/>
              </div>
            </div>
            <div class="no-base-scenes errors hidden">
              <p>{{ __('Please select at least one base scene') }}</p>
            </div>
          </div>
          <div class="modal-footer actions">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            <button type="button" class="btn btn-default back-button">{{ __('Back') }}</button>
            <button type="submit" class="btn btn-success"><span>{{ __('Next') }}</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</script>
