<script type="text/x-template" id="scene-main-template">
  <div class="scene row">
    <div class="col-xs-5 name"></div>
    <div class="col-xs-5"><img src="" alt=""></div>
    <div class="col-xs-2 main"></div>
  </div>
</script>
