<div class="modal" id="select-tour-main-scene" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Main scene') }}</div>
        </div>
        <div class="modal-body">
          <p>{{ __('Rearrange and select a main scene') }}</p>
          <div class="list"></div>
          <div class="row">
            <div class="col-xs-8">
              <div class="form-inline">
                <div class="form-group">
                  <label>{{ __('Sequence') }}</label>
                  {% set parameters = {sequences: sequences} %}
                  {% include "back/partials/sequence-select.njk" %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success"><span>{{ __('Proceed') }}</span></button>
        </div>
      </form>
    </div>
  </div>
</div>
