<div class="modal" id="tour-saved" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">{{ __('Tour saved') }}</div>
      </div>
      <div class="modal-body">
        <p class="text-center">{{ __('What would you like to do next?') }}</p>
        {% if not(tour.isPublished) %}
          <div class="text-center">
            <button class="btn btn-success"
                    id="tour-publish-{{ tour._id }}" onclick="app.onSwitch('#tour-publish-{{ tour._id }}')"
                    data-switch='{"model": "tour", "_id": "{{ tour._id }}", "property": "isPublished"}'>
                <span data-on="{{ __('Publish') }}" data-off="{{ __('Unpublish') }}">
                  {% if tour.isPublished %}
                    {{ __('Unpublish') }}
                  {% else %}
                    {{ __('Publish') }}
                  {% endif %}
                </span>
            </button>
          </div>
        {% endif %}
      </div>
      <div class="modal-footer actions">
        <a href="/tours/{{ tour._id }}" class="btn btn-success" target="_blank">{{ __('View tour on the website') }}</a>
        <a href="./tours" class="btn btn-success">{{ __('Go to the list of tours') }}</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Edit tour') }}</button>
      </div>
    </div>
  </div>
</div>
