<div class="modal" id="tour-save-error" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header error">
        <div class="modal-title">{{ __('Tour save failed') }}</div>
      </div>
      <div class="modal-footer actions">
        <a href="./tours" class="btn btn-success">{{ __('Go to the list of tours') }}</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Edit tour') }}</button>
      </div>
    </div>
  </div>
</div>
