<div class="modal" id="upload-tour-images" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <div class="modal-title">{{ __('Upload images') }}</div>
        </div>
        <div class="modal-body">
          <div class="files" data-handler="./tours/{{ tour._id }}/create-scene"
               data-uploaded="{{ tour.scenes | length }}" data-uploading="0"
               data-format="image/jpeg">
            <div class="drop">
              <p class="tip">{{ __('Drop files here') }}</p>
              <p class="tip alternative">{{ __('or') }}</p>
              <button type="button" class="btn btn-default select">{{ __('Select files') }}</button>
              <input type="file" accept="image/jpeg" multiple>
            </div>
            <div class="list">
              {% for scene in tour.scenes %}
                <div class="file" data-finished="true" data-response="{{ {scene: scene} | dump }}" data-old="true">
                  <div class="name">{{ scene.file.originalName }}</div>
                  <div class="status">{{ __('upload finished') }}</div>
                  <progress value="100" max="100"></progress>
                  <i class="far fa-times-circle abort"></i>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal-footer actions">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-success" {% if not(tour.scenes | length) %}disabled{% endif %}>
            {{ __('Proceed') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
