.tour-partial, .apptour-partial {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  $sidebar-width-left: 190px;
  $sidebar-width-right: 92px;
  $toggle-height: 70px;

  .sidebar {
    position: absolute;
    top: 0;
    // krpano layer z-index issue
    z-index: 3010;
    height: 100%;
    background: rgba(white, .9);
    transition: margin .3s;

    &.left {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: $sidebar-width-left;
      margin-left: -$sidebar-width-left;
      left: 0;
      padding: 0;

      .toggle {
        left: 100%;
      }
    }

    &.right {
      width: $sidebar-width-right;
      margin-right: -$sidebar-width-right;
      right: 0;
      padding: 0;

      .toggle {
        right: 100%;
      }
    }

    .toggle {
      position: absolute;
      background: rgba(white, .3);
      cursor: pointer;
      // above additional controls
      z-index: 1;

      width: 26px;
      height: $toggle-height;

      img {
        width: 8px;
        height: $toggle-height;
        margin-left: 9px;
        margin-right: 9px;
        position: relative;
      }

      @media (max-width: $screen-sm) {
        width: 32px;
        img {
          margin-left: 12px;
          margin-right: 12px;
        }
      }

      .slide-in {
        display: block;
      }

      .slide-out {
        display: none;
      }
    }

    &.active {
      margin: 0;

      .toggle {
        .slide-in {
          display: none;
        }

        .slide-out {
          display: block;
        }
      }
    }

    .actions {
      padding-top: 12px;
      padding-left: 26px;
      padding-right: 26px;
      height: 100%;
      overflow: auto;

      .action {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: $gray-darker;
        margin-bottom: 8px;
        user-select: none;
        position: relative;
        transition: background 0.3s;

        .icon-active {
          position: absolute;
          opacity: 0;
          transition: opacity 0.3s;
        }

        .icon-not-active {
          position: absolute;
          opacity: 1;
          transition: opacity 0.3s;
        }

        &.active {
          background: darken($gray-darker, 20%);
          transition: background 0.3s;

          .icon-active {
            opacity: 1;

          }
          .icon-not-active {
            opacity: 0;
          }
        }
      }

      .action-no-toggle {
        @extend .action;
      }

      .action-krpano-toggle {
        @extend .action;
      }

      .autorotate {
        img {
          margin: 7px;
          width: 26px;
          height: 26px;
        }
      }

      .fullscreen {
        display: none;
        img {
          margin: 10px;
          width: 20px;
          height: 20px;
        }
      }

      .vr {
        display: none;
        img {
          margin: 8px;
          width: 24px;
          height: 24px;
        }
      }

      .gyro {
        display: none;
        img {
          margin: 8px;
          width: 24px;
          height: 24px;
        }
      }

      .plan {
        display: none;
        img {
          margin: 10px;
          width: 20px;
          height: 20px;
        }
      }

      .like {
        display: block;
        img {
          margin: 10px;
          width: 20px;
          height: 20px;
        }
      }

      .share {
        img {
          margin: 11px;
          width: 18px;
          height: 18px;
        }
      }

      .favorite {
        img {
          margin: 10px;
          width: 20px;
          height: 20px;
        }
      }

      .legal {
        img {
          margin: 11px;
          width: 18px;
          height: 18px;
        }
      }
    }

    .scenes {
      flex: 1 1 auto;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px;

      .scene {
        margin-bottom: 6px;
        border: 4px solid transparent;
        cursor: pointer;

        &.active {
          border-color: $brand-primary;
        }

        img {
          max-width: 100%;
        }

        .title {
          display: block;
          background: white;
          text-align: center;
          padding: 3px 0 3px;
          font-size: 1.2rem;
          font-weight: $font-weight-light;
          overflow-x: hidden;
        }
      }
    }

    .logo-developer {
      flex: 0 1 auto;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;

      .image {
        img {
          background: white;

          width: 100px;
          height: 100px;
          border: 1px solid $black-almost;
          border-radius: 50%;
        }
      }

      @media (max-width: $screen-sm) {
        .image {
          img {
            width: 80px;
            height: 80px;
            border: 1px solid $black-almost;
            border-radius: 50%;
          }
        }
      }
    }

    .logo-global {
      flex: 0 1 auto;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 20px;

      .image {
        img {
          width: 100px;
        }
      }

      @media (max-width: $screen-sm) {
        .image {
          img {
            width: 80px;
          }
        }
      }
    }

    &.left {
      .controls {
        left: 100%;
      }
    }

    &.right {
      .controls {
        right: 100%;
      }
    }
  }

  &.scene-loading {
    min-height: 100px;
    position: relative;

    &:before {
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      z-index: 9000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .9;
    }

    &:after {
      pointer-events: none;
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 9010;
      margin: -25px 0 0 -25px;
      width: 50px;
      height: 50px;
      background-color: $brand-primary;
      border-radius: 100%;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @keyframes sk-scaleout {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1.0);
        opacity: 0;
      }
    }
  }

  .panorama-partial {
    background: white;
    height: 100%;
  }
}
