#tour-scrolltop {
  display: none;
  position: fixed;

  bottom: 10vh;
  left: calc(50% - 20px);

  height: 40px;
  width: 40px;

  z-index: 9999;

  color: white;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;

  svg {
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
    transition: transform 0.5s;
  }

  &.down {
    background: rgba(0, 0, 0, 0.7);
    transition: background-color 0.5s;
    svg {
      transform: scaleY(-1);
      transition: transform 0.5s;
    }
  }
}
