{% extends "front/layout.njk" %}

{% set cookiesMessageDisable = true %}
{% set headerFixed = true %}
{% set headerControlsDisable = true %}
{% set fullWidth = true %}
{% set linksNewTab = true %}

{%- set pageTitle -%}
  {% if tour.apartment %}
    {{ tour.apartment.lot }}
  {% elseif tour.program %}
    {{ tour.program.name }}
  {% else %}
    {{ tour.name }}
  {% endif %}
{%- endset -%}

{% block meta %}
  {% if tour.apartment %}
    {% set title = tour.apartment.lot %}
    {% set description = tour.apartment.building.program.developer.name %}
  {% elseif tour.program %}
    {% set title = tour.program.name %}
    {% set description = tour.program.developer.name %}
  {% else %}
    {% set title = tour.name %}
    {% set description = '' %}
  {% endif %}

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description}}">
  <meta property="og:image" content="{{ req.protocol + "://" + req.get('host') + tour.thumbnail }}">
  <meta property="og:url" content="{{ req.protocol + "://" + req.get('host') + req.originalUrl }}">
{% endblock %}

{% block content %}
  <section id="tour">
    {% set parameters = {
      tour: tour,

      shareTitle: tour.name,
      entityType: 'Tour',
      entityId: tour._id,
      shareUrl: '/tours/' + tour._id,
      integrateUrl: '/tours/' + tour._id,
      favoriteEnabled: false
    } %}
    <div class="tour-standalone">
      {% include 'front/partials/tour/tour.njk' %}
    </div>
  </section>
{% endblock %}
