{% for group in groups %}
  <tr data-id="{{ group._id }}">
    <td><a href="./groups/{{ group._id }}/edit">{{ group.name }}</a></td>
    <td>{{ group.developer.name }}</a></td>
    <td class="actions">
      {% set parameters = {
        url: 'groups',
        id: group._id,
        hideLink: true} %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}

