{% set headerDisable = true %}
{% set cookiesMessageDisable = true %}
{% extends "front/layout.njk" %}

{% block content %}
  <section id="apptour-preview">
    {% set parameters = {tourId: tourId, scenes: scenes, preview: true} %}
    <div class="apptour-standalone">
      {% include 'front/partials/apptour/apptour.njk' %}
    </div>
  </section>
{% endblock %}

{% block scripts %}
  {% include 'front/partials/scripts/krpano.njk' %}
{% endblock %}
