{% extends "front/layout.njk" %}

{% set headerDisable = true %}
{% set cookiesMessageDisable = true %}

{%- set pageTitle -%}
  {% if tour.house %}{{ __('House') }}{% else %}{{ __('Apartment') }}{% endif %} {{ __(tour.type | apptourType) }}
{%- endset -%}

{% set pageThumbnail = req.protocol + "://" + req.get('host') + tour.thumbnail %}
{% set pageUrl = req.protocol + "://" + req.get('host') + req.originalUrl %}

{% block meta %}
  <meta property="og:title" content="{{ pageTitle }}">
  <meta property="og:description" content="">
  <meta property="og:image" content="{{ pageThumbnail }}">
  <meta property="og:url" content="{{ pageUrl }}">
  <!--Smart App Banner pour Viewwer sur iOS  --> 
  <meta name="apple-itunes-app" content="app-id=1452998542"> 
{% endblock %}

{% block content %}

{% include 'front/partials/tour/scrolltop.njk' %}

<section id="apptour">
  <div class="top-nav">
    <div class="controls">
      {% if not template.mobile %}
        <div class="return">
          <button class="back btn btn-primary">
            {% include 'front/partials/icons/back.njk' %}{{ __('Return') }}
          </button>
        </div>
      {% endif %}
    </div>
    <div class="details">
      {% set parameters = {apartment: tour} %}
      {% include "front/partials/apptour/inline-details.njk" %}
    </div>
    <div class="gap"></div>
    <div class="request">
      <button class="btn btn-success" id="request-apptour-button">{{ __('Contact seller') }}</button>
    </div>
  </div>
  {% set parameters = {
    tour: tour,
    tourId: tourId,
    scenes: scenes,

    shareTitle: __('Tour'),
    entityType: 'AppTour',
    entityId: tour._id,
    shareUrl: '/apptours/' + tour._id,
    integrateUrl: '/apptours/' + tour._id,
    favoriteEnabled: true,
    favoriteId: favoriteId
  } %}
  <div class="apptour-standalone">
    {% include 'front/partials/apptour/apptour.njk' %}
  </div>
</section>
{% endblock %}

{% block scripts %}
  {% include 'front/partials/scripts/krpano.njk' %}
  {% include 'front/partials/scripts/talkjs.njk' %}
  {% include 'front/partials/google-maps.njk' %}

<script>
  {% if template.auth %}
  Talk.ready.then(function () {

    var buyer = new Talk.User({
      id: 'user_{{ template.authId }}',
      name: '{{ template.authName }}',
      email: '{{ template.authEmail }}',
      locale: '{{ req.locale }}',
      role: '{{ talkjsGetRole('user', req.locale) }}'
    });

    var seller = new Talk.User({
      id: 'user_{{ owner.id }}',
      name: '{{ owner.name }}',
      email: '{{ owner.email }}',
      role: '{{ talkjsGetRole('user', req.locale) }}'
    });

    var talkSession = new Talk.Session({
      appId: '{{ talkjsAppId() }}',
      me: buyer,
      signature: '{{ talkjsSignature('user_' + template.authId) }}'
    });

    var conversation = talkSession.getOrCreateConversation(
      '{{ 'AppTour_' + tourId + '_user_' + template.authId + '_user_' + owner.id }}'
    );
    conversation.setParticipant(buyer);
    conversation.setParticipant(seller);

    conversation.setAttributes({
      subject: '<{{ pageUrl }}|{{ pageTitle }}>',
      photoUrl: '{{ pageThumbnail }}',
      custom: {
      }
    });

    var popup = talkSession.createPopup(conversation, {keepOpen: false});
    popup.mount({show: false});

    var button = document.getElementById('request-apptour-button');
    button.addEventListener('click', function (event) {
      event.preventDefault();
      popup.show();
    });
  });
  {% else %}
  var button = document.getElementById('request-apptour-button');
  button.addEventListener('click', function (event) {
    event.preventDefault();
    window.location = '/auth/log-in?back={{ req.originalUrl }}';
  });
  {% endif %}
</script>
{% endblock %}
