{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% import "back/macros/routes.njk" as routes with context %}
{% set page = 'requests' %}

{% block content %}
  <div class="request panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./requests/{{ request._id }}/edit" method="post">

          <div class="form-row">
            <div class="form-group">
              <label>{{ __('Type') }}</label>
              <p>{{ __(request.type | requestType) }}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label>{{ __('Last Name') }}</label>
              <p>{{ request.lastName }}</p>
            </div>
            <div class="form-group col-md-8">
              <label>{{ __('First Name') }}</label>
              <p>{{ request.firstName }}</p>
            </div>
          </div>

          {% if request.type == 'info' %}
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>{{ __('Budget') }}</label>
                <p>{{ request.budgetFrom }} {% if request.budgetTo %} - {{ request.budgetTo }}{% endif %}</p>
              </div>
              <div class="form-group col-md-8">
                <label>{{ __('Timeframe') }}</label>
                <p>{{ __(request.timeframe | requestTimeframe) }}</p>
              </div>
            </div>
          {% endif %}

          {% if request.type == 'glasses' %}
            <div class="form-row">
              <div class="form-group">
                <label>{{ __('Email') }}</label>
                <p><a href="mailto:{{ request.email }}">{{ request.email }}</a></p>
              </div>
            </div>
          {% else %}
            <div class="form-row">
              <div class="form-group">
                <label>{{ __('Email') }}</label>
                <p><a href="mailto:{{ request.email }}">{{ request.email }}</a></p>
              </div>
              <div class="form-group">
                <label>{{ __('Phone') }}</label>
                <p><a href="tel:{{ request.phone }}">{{ request.phone }}</a></p>
              </div>
            </div>
          {% endif %}

          {% if request.type != 'glasses' %}
            <div class="form-row">
              <div class="form-group">
                <label>{{ __('Message') }}</label>
                <p>{{ request.message }}</p>
              </div>
            </div>
          {% endif %}

          {% if request.type == 'glasses' %}
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>{{ __('Address') }}</label>
                <p>{{ request.address }}</p>
              </div>
              <div class="form-group col-md-4">
                <label>{{ __('City') }}</label>
                <p>{{ request.city }}</p>
              </div>
              <div class="form-group col-md-4">
                <label>{{ __('Postal code') }}</label>
                <p>{{ request.postalCode }}</p>
              </div>
            </div>
          {% endif %}

          <div class="form-row">
            <div class="form-group">
              <label>{{ __('Url') }}</label>
              <p><a href="{{ request.url }}" target="_blank">{{ request.url }}</i></a></p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <p>
                {% if request.apartment|length %}
                  {{ __('Apartment') }}: <a href="/apartments/{{ request.apartment._id }}"
                                            target="_blank">{{ request.apartment.name }}</a>
                {% endif %}

                {% if request.program|length %}
                  {{ __('Program') }}: <a href="/programs/{{ request.program._id }}"
                                          target="_blank">{{ request.program.name }}</a>
                {% endif %}

                {% if request.developer|length %}
                  {{ __('Developer') }}: <a href="/developers/{{ request.developer._id }}"
                                            target="_blank">{{ request.developer.name }}</a>
                {% endif %}
              </p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>{{ __('Notes') }}</label>
              <textarea class="form-control" name="notes">{{ request.notes }}</textarea>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <select name="status" class="form-control" required>
                <option value="new" {% if request.status == 'new' %}selected{% endif %}>{{ __('New') }}</option>
                <option value="processed"
                        {% if request.status == 'processed' %}selected{% endif %}>{{ __('Processed') }}</option>
              </select>
            </div>
          </div>

          {% if request.updatedBy %}
            <div class="form-row">
              <div class="form-group">
                <label>{{ __('Updated') }}</label>
                <p>{{ request.updatedBy.name }}
                  <a href="mailto:{{ request.updatedBy.email }}">{{ request.updatedBy.email }}</a>
                </p>
              </div>
            </div>
          {% endif %}

          <div class="form-row">
            <div class="form-group">
              <label>{{ __('Email notifications') }}</label>
              {% if request.notificationsEmailsSent %}
                <p>
                  {{ routes.rt(__('sent to'), 'info') }}
                  {% for mail in request.notificationsEmails %}
                    {{ routes.rtmail(mail, 'primary') }}
                  {% endfor %}
                </p>
              {% else %}
                <p>{{ routes.rt(__('not sent'), 'error') }}</p>
              {% endif %}
            </div>
          </div>

          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
