{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'requests' %}

{% block content %}
  <div class="requests panel">
    <div class="actions">
      <a href="/admin/requests/export/new" class="btn btn-primary">{{ __('Export') }}</a>
      <button type="button" class="btn btn-danger btn-del-all" id="request-del-all">{{ __('Delete All') }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'request', text: 'request'} %}
  {% include "back/partials/modals/deleteAll.njk" %}
{% endblock %}
