#search-bar {
  user-select: none;

  input[type="text"]::placeholder {
    color: $gray-darker;
    opacity: 1;
  }

  select, input[type="text"] {
    height: 42px;
    color: $black-almost;
  }

  .search-control {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .place-type {
    text-align: center;

    select {
      width: 200px;
      // prevent content flashing
      color: white;
    }

    .choices {
      &:after {
        width: 14px;
        height: 8px;

        background-size: 14px;
        right: 10px;
        top: calc(50% - 3px);
      }
    }

    .choices__inner {
      width: 200px;
      height: 42px;
      padding-top: 10px;
    }
  }

  .sale-type {
    .btn {
      height: 42px;

      font-weight: $font-weight-light;
      padding-top: 10px;

      background-color: white;
      color: $black-almost;
      border: 1px solid $gray-dark;

      &.active {
        background-color: $black-almost;
        color: white;
        border: 1px solid $black-almost;
      }

      &:hover {
        border: 1px solid $black-almost;
      }
    }
  }

  .address {

    input {
      padding-left: 50px;
      padding-right: 15px;
      width: 275px;
      text-overflow: ellipsis;
    }

    .addresses-dropdown {
      display: none;
      border: 1px solid;
      border-top: none;
      border-color: $gray-dark;
      background: #fff;
      text-align: left;
      width: 275px;
      position: absolute;
      z-index: 1000;

      ul {
        margin: 0;
        padding: 0;
        list-style: none outside;
      }

      li.highlighted, li:hover, li:active {
        background: $black-almost;
        color: white;
        cursor: pointer;
        .list-main {
          color: white;
        }
        .list-secondary {
          color: white;
        }
      }

      ul li {
        padding: 10px;
        color: $black-almost;
        font-weight: $font-weight-light;

        .list-main {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          color: $black-almost;

          .list-icon {
            padding-right: 5px;
          }

          svg {
            height: 12px;
            width: 10px;
            margin-right: 5px;
          }
        }

        .list-secondary {
          color: $gray-darker;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
        }
      }
    }

    .location {
      position: absolute;
      height: 42px;
      width: 45px;
      cursor: pointer;

      &.active {
        .icon {
          animation: geo_bounce 1.0s infinite ease-in-out;

          @keyframes geo_bounce {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(0.8);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }

      .icon {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 2;

        img {
          display: block;
          height: 14px;
          width: 14px;
        }
      }

      .icon-clear {
        display: none;
        position: absolute;
        left: 13px;
        top: 11px;
        z-index: 2;
        img {
          display: block;
          height: 20px;
          width: 20px;
        }
      }

      .delimiter {
        position: absolute;
        left: 40px;
        top: 8px;
        width: 1px;
        height: 26px;
        background: $gray-dark;
        z-index: 2;
      }
    }

  }

  .search-button {

    .icon {
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .advanced {
    display: block;

    .filters {

      .filter {
        padding: 10px;
        text-align: center;
        display: inline-block;
        width: 250px;

        .label {
          color: $black-almost;
          font-weight: $font-weight-light;
          text-align: left;
          padding-bottom: 5px;
        }

        .slider {
          padding: 0 10px;
        }
      }
    }
  }

  .wrong-input {
    border-color: red;
  }

}
