#search-results {

  .search-settings {
    display: none;
    text-align: center;
  }

  .search-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .toggle {
      height: 26px;
      padding-right: 10px;
      cursor: pointer;
      color: $black-almost;

      transition: color .3s;

      &.active {
        color: $brand-primary;
        transition: color .3s;
      }

      svg {
        width: 24px;
        height: 24px;
      }

      @media (max-width: $screen-sm) {
        flex: 1;
      }
    }
  }

  $flexgrid-row-height: 260px;
  $flexgrid-space: 10px;

  @mixin flexgrid($row-height, $space) {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    margin: - $space / 2;
    justify-content: flex-start;

    > * {
      position: relative;
      display: block;
      height: $row-height;
      margin: $space / 2;
      flex-grow: 1;
    }
  }

  .flexgrid {
    @include flexgrid($flexgrid-row-height, $flexgrid-space);
  }

  .no-results {
    display: none;
    height: 300px;
    text-align: center;
    h1 {
      padding-top: 50px;
      width: 100%;
    }
  }

  .results {
    margin-left: 5px;
    margin-right: 5px;

    // for nice last element width
    .result-placeholder {
      width: 300px;
      height: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .result {
      display: none;

      width: 300px;

      @include image-preload-animation;

      .interior {
        border-bottom: none;
        height: 190px;
        overflow: hidden;

        background-size: cover;
        background-position: center;

        // text if no interior thumbnail
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
          color: $gray-darker;
        }

        &.no-photo {
          background: $gray-custom-2;
          border: 1px solid $gray-custom-4;
          border-bottom: 0;
        }
      }

      .overlay {
        width: 100%;
        height: 190px;
        @include overlay-view;
      }

      @include apartment-sold;

      .controls-overlay {
        .program {
          position: absolute;
          bottom: 70px;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 1;
          padding: 5px;
          font-size: 12px;

          a {
            color: white;
          }
        }
      }

      .controls {
        height: 70px;
        padding-left: 15px;
        padding-right: 15px;

        border: 1px solid $gray-custom-4;
        background: white;
        border-top: none;

        font-size: 13px;

        .placeholder {
          position: relative;
          top: 50%;
          transform: translateY(-50%);

          .primary {
            white-space: nowrap;
            overflow-x: hidden;
            font-weight: normal;
            .type, .price, .sold, .area, .sale-type {
              position: relative;
              display: inline-block;
              padding-right: 5px;
              color: $gray-darker;
            }
            .type {
              color: $black-almost;
            }
            .price {
              color: $black-almost;
            }
          }

          .secondary {
            padding-top: 5px;
            white-space: nowrap;
            overflow-x: hidden;
          }
        }
      }
    }
  }

  .footer {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;

    .more-tours {
      visibility: hidden;
    }
  }
}
