{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'users' %}

{% block content %}
  <div class="user panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./users/{{ user._id }}/edit" method="post">
          <div class="form-group">
            <label>{{ __('FirstName') }}</label>
            <input name="firstName" type="text" class="form-control" value="{{ user.firstName }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('LastName') }}</label>
            <input name="lastName" type="text" class="form-control" value="{{ user.lastName }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Email') }}</label>
            <input name="email" type="email" class="form-control" value="{{ user.email }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Phone') }}</label>
            <input name="phone" type="text" class="form-control" value="{{ user.phone }}">
          </div>
          <div class="form-group">
            <label>{{ __('Password') }}</label>
            <input name="{{ shortid() }}" type="text" minlength="8" class="form-control masked-pass">
            <small class="pass-strength-text"></small>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="forcePasswordChange" {% if user.forcePasswordChange %} checked {% endif %}>
                {{ __('Force password change') }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>{{ __('Role') }}</label>
            {% set parameters = {selected: user.role, roles: usersRoles} %}
            {% include "back/partials/user/user-role-select.njk" %}
          </div>
          <div class="form-group">
            <label>{{ __('Group') }}</label>
            {% set parameters = {selected: user.group._id, groups: groups} %}
            {% include "back/partials/user/group-select.njk" %}
          </div>
          <div class="form-group">
            <label>{{ __('Developer') }}</label>
            <small>{{ __('Used to view requests') }}</small>
            {% set parameters = {selected: user.developer._id, developers: developers} %}
            {% include "back/partials/developer-select.njk" %}
          </div>
          <div class="form-group">
            <label>FCM registration token</label>
            <input name="firebaseRegistrationToken" type="text" class="form-control" value="{{ user.firebaseRegistrationToken }}">
          </div>
          {% if user.partner %}
          <div class="form-group">
            <label>Partner : {{ user.partner.name }} (statut validation : {{ user.partnershipValidation }})</label>
            <input name="partner" type="text" class="form-control" value="{{ user.partner.code }}" readonly="readonly">
          </div>
          {% endif %}
          <input name="password" class="hidden-pass" style="display: none;">
          <input type="submit" class="hidden-submit" style="display: none;">
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="button" class="btn btn-primary fake-submit">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
