{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'users' %}

{% block content %}
  <div class="panel">
    <div class="actions">
      <a href="./users/create" class="btn btn-primary create">{{ __('Create new %s', __('user')) }}</a>
    </div>
    <div class="documents">
      {{ gridMacros.render(usersGrid) }}
    </div>
  </div>
{% endblock %}
