{% import "back/macros/routes.njk" as m with context %}

{% for apartment in apartments %}
  <tr data-id="{{ apartment._id }}" data-path="{{ apartment.path }}">
    <td><div class="date" data-date="{{ apartment.createdAt | timestamp }}" data-format="lll"></div></td>
    <td><a href="./apartments/{{ apartment._id }}/edit">{{ apartment.name }}</a></td>
    <td>
      {{ m.rtlink(apartment.building.program.developer, 'developers') }}
      {{ m.rtlink(apartment.building.program, 'programs') }}
      {{ m.rtlink(apartment.building, 'buildings') }}
    </td>
    <td>{{ apartment.lot }}</td>
    <td>{{ __(apartment.type | apartmentType) }}</td>
    <td>{{ apartment.area }}</td>
    <td>{{ apartment.price }}</td>
    <td>{{ apartment.counterRating }}</td>
    <td>{{ apartment.counterShares }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'apartments',
        type: 'apartment',
        id: apartment._id,
        enablePublish: true,
        isPublished: apartment.isPublished,
        enableSold: true,
        isSold: apartment.isSold,
        soldUpdated: 'isSoldUpdatedAt'
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
