{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('You have created your account on %s', env.DOMAIN) }}</p>

  <p>
    {% if template.mobile %}
      {% set m = '&mobile=true' %}
    {% else %}
      {% set m = '' %}
    {% endif %}
    <strong>
      <a href="{{ env.BASE_URL }}/auth/verify?key={{ key }}{{ m }}">
        {{ __('Click here to verify your account') }}
      </a>
    </strong>
  </p>

  <p>{{ __('If you have not requested registration, please ignore this email') }}</p>

{% endblock %}
