<div class="footer">
  <div class="logo-container">
    <div>
      <a href="https://{{ env.DOMAIN }}">
        <img class="logo" alt="{{ env.DOMAIN }}" src="https://{{ env.DOMAIN }}/assets/shared/images/logo-black.png">
      </a>
    </div>
    <div>
      <small>{{ __('Visit all the properties available for sale and to rent without leaving your home <span>24/7</span>') | safe }}</small>
    </div>
  </div>
  <div class="contacts">
    <small><a href="https://www.gizmo-experience.com/contact/" target="_blank">{{ __('Contact us') }}</a></small>
  </div>
</div>
