{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('You need to reset the password for your account at %s', env.DOMAIN) }}</p>

  <p>
    <strong>
      <a href="https://{{ domain }}/auth/reset-password?key={{ key }}">
        {{ __('Click here to reset your password') }}
      </a>
    </strong>
  </p>

  <p>{{ __('If you have not requested password reset, please ignore this email') }}</p>

{% endblock %}
