<html>
<head>
  {% include "./styles.njk" %}
</head>

<body id="body">

<div id="content">
  {% block content %}{% endblock %}
</div>

<div id="footer">
  {% include "./footer.njk" %}
</div>

</body>
</html>
