{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('Join partner members') }}</p>

  <p>Email : {{ email }}</p>
  <p>Code : {{ code }}</p>

  <p>
    {% if template.mobile %}
      {% set m = '&mobile=true' %}
    {% else %}
      {% set m = '' %}
    {% endif %}
    <strong>
      <a href="{{ env.BASE_URL }}/auth/enable-partner-member?email={{ email }}&code={{ code }}&key={{ key }}{{ m }}">
        {{ __('Click here to allow this member') }}
      </a>
    </strong>
  </p>

  <p>{{ __('Without action member is not allowed') }}</p>

{% endblock %}
