{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('You have new request') }}</p>

  <p>
    <strong>
      <a href="https://{{ env.DOMAIN }}/admin/requests/{{ request_id }}/edit">
        {{ __('Click here to view request') }}
      </a>
    </strong>
  </p>

{% endblock %}
