{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('Someone requested to reset password for your account at %s', env.DOMAIN) }}</p>

  <p>
    {% if template.mobile %}
      {% set m = '&mobile=true' %}
    {% else %}
      {% set m = '' %}
    {% endif %}
    <strong>
      <a href="https://{{ domain }}/auth/reset-password?key={{ key }}{{ m }}">
        {{ __('Click here to reset your password') }}
      </a>
    </strong>
  </p>

  <p>{{ __('If you have not requested password reset, please ignore this email') }}</p>

{% endblock %}
