{% extends "./layout.njk" %}

{% block content %}

  {% include "./greeting.njk" %}

  <p>{{ __('You have new tour') }}</p>

  <p>
    <strong>
      <a href="https://{{ env.DOMAIN }}/admin/apptours/{{ tour_id }}/edit">
        {{ __('Click here to view tour') }}
      </a>
    </strong>
  </p>

{% endblock %}
