{% for user in users %}
  <tr data-id="{{ user._id }}">
    <td>
      <div class="date" data-date="{{ user.createdAt | timestamp }}" data-format="lll"></div>
    </td>
    <td>{{ user._id }}</td>
    <td><a href="./users/{{ user._id }}/edit">{{ user.email }}</a></td>
    <td>{{ user.name }}</td>
    <td>
      {% if user.verified %}
        <i class="far fa-check fa-1x"></i>
      {% endif %}
    </td>
    <td>{{ __(user.role | userRole) }}</td>
    <td>{{ user.developer.name }}</td>
    <td>{{ user.group.name }}</td>
    <td>{{ user.group.developer.name }}</td>
    <td>
      {% if user.partner %}
        {{ user.partner.name }}
      {% endif %}
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'users',
        id: user._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
