{% for developer in developers %}
  <tr data-id="{{ developer._id }}">
    <td><a href="./developers/{{ developer._id }}/edit">{{ developer.name }}</a></td>
    <td>{{ developer.counterPrograms }}</td>
    <td>{{ developer.counterApartments }}</td>
    <td>{{ developer.counterRating }}</td>
    <td>{{ developer.counterShares }}</td>
    <td>{{ developer.counterRequests }}</td>
    <td>
      {% if developer.alias %}
        {% set url = 'https://' + developer.alias + '.' + env.DOMAIN %}
        <a href="{{ url }}" target="_blank">{{ developer.alias }}</a>
      {% endif %}
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'developers',
        type: 'developer',
        enablePublish: true,
        id: developer._id,
        isPublished: developer.isPublished,
        enablePermissions: true,
        role: userRole
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}

