{% for layerType in layerTypes %}
  <tr data-id="{{ layerType._id }}">
    <td><a href="./layer-types/{{ layerType._id }}/edit">{{ layerType.name }}</a></td>
    <td>
      {% set icon %}
        {% if layerType.icon %}
          /storage/files/hotspots/{{ layerType.icon }}
        {% else %}
          /assets/shared/images/marker.png
        {% endif %}
      {% endset %}
      <img src="{{ icon }}" width="48">
    </td>
    <td>{{ layerType.weight }}</td>
    <td>
      {% if layerType.isBaseLayer %}
        <i class="far fa-check fa-1x"></i>
      {% endif %}
    </td>
    <td class="actions">
      {% set parameters = {
        url: 'layer-types',
        id: layerType._id,
        hideLink: true
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}

