{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'buildings' %}

{% block content %}
<div class="building panel">
  <div class="row">
    <div class="col-md-6">
      <form action="./buildings/{{ building._id }}/edit" method="post">
        <div class="form-group">
          <label>{{ __('Name') }}</label>
          <input name="name" type="text" class="form-control" value="{{ building.name }}" required>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isPublished" {% if building.isPublished %} checked {% endif %}>
              {{ __('Published') }}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ __('Description') }}</label>
          <textarea class="html form-control" name="description">{{ building.description }}</textarea>
        </div>
        <div class="form-group">
          <label>{{ __('Program') }}</label>
          {% set parameters = {programs: programs, selected: building.program._id} %}
          {% include "back/partials/program-select.njk" %}
        </div>
        <div class="form-group">
          <label>{{ __('Apartments') }}</label>
          {% include "back/partials/apartments-select.njk" %}
        </div>
        {% set parameters = {user: building.user, group: building.group} %}
        {% include "back/partials/permissions.njk" %}
        <div class="actions">
          <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
          <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
