{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'tasks' %}

{% block content %}
  <div class="task panel">
    <form>

      <div class="form-group">
        <label>{{ __('Id') }}</label>
        <p>{{ task._id }}</p>
      </div>

      <div class="form-group">
        <label>{{ __('Status') }}</label>
        <p>{{ task.status }}</p>
      </div>

      {% if task.result|length %}
        {% if task.type === 'apptour' %}
          <div class="form-group">
            <p><a href="{{ task.result.urlJson }}" target="_blank">{{ task.result.urlJson }}</a></p>
            <p><a href="{{ task.result.urlXml }}" target="_blank">{{ task.result.urlXml }}</a></p>
            <p><a href="/apptours/{{ task._id }}/preview" target="_blank">Preview</a></p>
            <p>Download time: {{ task.result.durationDownload }}</p>
            <p>Generate time: {{ task.result.durationGenerate }}</p>
            <p>Upload time: {{ task.result.durationUpload }}</p>
          </div>
        {% endif %}
      {% endif %}

      {% if task.errorLogs | length %}
        <div class="form-group">
          <textarea class="form-control">{{ task.errorLogs | dump }}</textarea>
        </div>
      {% endif %}

      <div class="form-group">
        <label>{{ __('User') }}</label>
        <p>
          <a href="./users/{{ user._id }}/edit" target="_blank">{{ user.email }}</a>
        </p>
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="10">{{ task | stringify }}</textarea>
      </div>

      <div class="actions">
        <a class="btn btn-default" href="/admin/tasks" role="button">{{ __('Cancel') }}</a>
      </div>
    </form>
  </div>
{% endblock %}
