{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'tasks' %}

{% block content %}
  <div class="tasks panel">
    <div class="actions">
      <button class="btn btn-danger delete">{{ __('Delete all') }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  <div class="modal" id="delete-all-tasks">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="./tasks/delete" method="post" class="form-inline">
          <div class="modal-header">
            <div class="modal-title">{{ __('Delete all') }}</div>
          </div>
          <div class="modal-body">
            <p>{{ __('Are you sure you want to delete this %s? This operation is irreversible.', __('tasks')) }}</p>
          </div>
          <div class="modal-footer actions">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-danger"><span>{{ __('Delete') }}</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
