<script src="https://cdn.jsdelivr.net/npm/screenfull@4.0.0/dist/screenfull.js"
        integrity="sha256-D5SXfF5zV9c57rgxaAOo72Y8YgvouJDUic1RfSSpyww=" crossorigin="anonymous"></script>
<script src="/assets/shared/krpano/krpano{% if site.settings.krpanoLicensed %}.licensed{% endif %}.js"></script>
