{% import "back/macros/routes.njk" as routes with context %}

{% for apptour in apptours %}
  <tr data-id="{{ apptour._id }}" data-moderation-status="{{ apptour.moderationStatus }}">
    <td>
      {% if apptour.thumbnail|length %}
        <a href="/apptours/{{ apptour._id }}" target="_blank">
          <img class="tour-thumbnail" src="{{ apptour.thumbnail }}" alt="">
        </a>
      {% endif %}
    </td>
    <td>
      <a href="./apptours/{{ apptour._id }}/edit" class="date" data-date="{{ apptour.createdAt | timestamp }}"
           data-format="lll"></a>
    </td>
    <td>{{ apptour._id }}</td>
    <td>
      {% if apptour.generateStatus == 'completed' %}
        {{ routes.rt(__(apptour.generateStatus | tourGenerateStatus), 'success') }}
      {% elseif apptour.generateStatus == 'failed' %}
        {{ routes.rt(__(apptour.generateStatus | tourGenerateStatus), 'error') }}
      {% else %}
        {{ routes.rt(__(apptour.generateStatus | tourGenerateStatus), 'info') }}
      {% endif %}
    </td>
    <td>{{ apptour.counterRating }}</td>
    <td>{{ apptour.counterShares }}</td>
    <td class="moderation-status">{{ __(apptour.moderationStatus | capitalize) }}</td>
    <td class="actions">
      {% set parameters = {
        url: 'apptours',
        id: apptour._id
      } %}
      {% include 'back/partials/grids/actions.njk' %}
    </td>
  </tr>
{% endfor %}
