.noty_theme__default.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  //border-radius: 2px;
  position: relative;

  .noty_body {
    padding: 10px;
    font-size: 13px;
  }

  .noty_buttons {
    padding: 10px;
  }
}

.noty_theme__default.noty_type__alert,
.noty_theme__default.noty_type__notification {
  background-color: $black-almost;
  color: white;

  .noty_progressbar {
    opacity: 1;
    background-color: $orange-custom-0;
  }
}

.noty_theme__default.noty_type__warning {
  background-color: #FFD166;
  color: #fff;
}

.noty_theme__default.noty_type__error {
  background-color: #EF476F;
  color: #fff;

  .noty_progressbar {
    opacity: .4;
  }
}

.noty_theme__default.noty_type__info,
.noty_theme__default.noty_type__information {
  background-color: #118AB2;
  color: #fff;

  .noty_progressbar {
    opacity: .6;
  }
}

.noty_theme__default.noty_type__success {
  background-color: #06D6A0;
  color: #fff;
}
