.noty_theme__cookies.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  //border-radius: 2px;
  position: relative;

  .noty_body {
    padding: 10px;
    font-size: 12px;
  }

  .noty_buttons {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    .btn {
      font-size: 12px;
      height: 24px;
      padding: 0 15px;
    }

    .btn-success {
      margin-left: 20px;
    }

    .btn-link {
      padding: 0;
    }
  }
}

.noty_theme__cookies.noty_type__alert,
.noty_theme__cookies.noty_type__notification {
  background-color: $black-almost;
  color: white;

  .noty_progressbar {
    background-color: #fff;
  }
}
