{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'imagesets' %}

{% block content %}
  <div class="imageset panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./imagesets/{{ imageset._id }}/edit" method="post">
          <div class="form-group">
            <label>{{ __('Name') }}</label>
            <input name="name" type="text" class="form-control" value="{{ imageset.name }}" required>
          </div>
          <div class="form-group">
            <label>{{ __('Images') }}</label>
            <div class="images">
              {% set uploadUrl = '/admin/imagesets/' + imageset._id + '/save-image' %}
              {% set removeUrl = '/admin/imagesets/' + imageset._id + '/remove-image' %}
              {% set default_max = 5 %}
              {% if imageset.images.length > default_max %}
                {% set default_max = imageset.images.length %}
              {% endif %}
              {% for i in range(0, default_max) %}

                {% set initialImage = '' %}
                {% set inputValue = '' %}

                {% if imageset.images[i] %}
                  {% set initialImage = '/storage/files/imagesets/' + imageset._id + '/' + imageset.images[i] %}
                  {% set inputValue = imageset.images[i] %}
                {% endif %}
                <div class="image">
                  {% set parameters = {
                    initialImage: initialImage,
                    inputName: 'images',
                    inputValue: inputValue,
                    uploadUrl: uploadUrl,
                    removeUrl: removeUrl,
                    cropTitle: 'Slider',
                    cropSettings: sliderSettings,
                    format: 'jpeg',
                    id: i
                  } %}
                  {% include "back/partials/image-cropper.njk" %}
                </div>             
              {% endfor %}
              <div style="display:none;" id="image-matrice">
                {% set parameters = {
                  initialImage: '',
                  inputName: 'images',
                  inputValue: '',
                  uploadUrl: uploadUrl,
                  removeUrl: removeUrl,
                  cropTitle: 'Slider',
                  cropSettings: sliderSettings,
                  format: 'jpeg',
                  id: "N"
                } %}
                {% include "back/partials/image-cropper.njk" %}
              </div> 
            </div>

            <div><span class="btn btn-link" id="imageset_add" type="button"><i class="far fa-plus"></i> {{ __('Add') }}</span></div>


            <small>{{ __('You can arrange images using drag and drop') }}</small>
          </div>
          {% set parameters = {user: imageset.user, group: imageset.group} %}
          {% include "back/partials/permissions.njk" %}
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
