{% extends "back/layout.njk" %}
{% import "back/macros/grid.njk" as gridMacros with context %}
{% set page = 'imagesets' %}

{% block content %}
  <div class="imagesets panel">
    <div class="actions">
      <button class="btn btn-primary create">{{ __('Create new %s', __('image set')) }}</button>
    </div>
    <div class="documents">
      {{ gridMacros.render(grid) }}
    </div>
  </div>

  {% set parameters = {type: 'imageset', text: 'image set'} %}
  {% include "back/partials/modals/create.njk" %}
{% endblock %}
