.developer-name {
  display: inline-flex;
  align-items: center;
  margin-right: 40px;
  min-height: 44px;

  .logo {
    display: inline-block;
    width: 44px;
    min-width: 44px;
    height: 44px;
    min-height: 44px;
    margin-right: 10px;
    border: 1px solid $black-almost;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .name {
    font-size: 24px;
    font-weight: $font-weight-semi-bold;
    line-height: 100%;
    color: $black-almost;
    a {
      color: $black-almost;
    }
  }
}

// ie11 vertical align fix
.developer-name:before {
  content: "";
  display: inline-block;
  min-height: 44px;
  visibility: hidden;
}
