#developer {
  .sub-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (min-width: $screen-sm) {
      flex-wrap: nowrap;
    }

    #about {
      flex: 1 1 auto;
    }

    .buttons {
      flex: 0 1 auto;
      margin-top: 15px;

      @media (min-width: $screen-sm) {
        margin-top: 0;
        margin-left: 30px;
      }

      .buttons-social {
        margin-top: 10px;
        margin-left: 2px;
      }
    }
  }
}
