#programs {

  .program-social {
    position: absolute;
    z-index: 1;
    background: rgba(white, 0.9);
    margin: 10px;
    padding: 10px;
  }

  .program-header {
    $program-overlay-angle: 50px;
    $program-overlay-color: #53c2d8;
    background-color: $brand-primary-light;
    cursor: pointer;

    height: auto;
    overflow: auto;

    &.img {
      background-size: cover;
      background-position: center;
    }

    .program-info {
      float: right;
      text-align: right;

      color: white;
      background: rgba($program-overlay-color, 0.8);

      min-height: 300px;
      width: 40%;

      @media (max-width: $screen-sm) {
        width: 70%;
      }

      &.no-photo {
        min-height: 150px;
        width: 70%;
      }

      padding-left: $program-overlay-angle;
      clip-path: polygon(0 0, 100% 0, 100% 100%, $program-overlay-angle 100%);

      .name, .address, .dev-status, .available {
        padding: 10px 20px;
      }

      .name {
        font-size: 20px;
        font-weight: $font-weight-semi-bold;
      }

      .address {
        padding-top: 0;
        svg {
          height: 1em;
          width: 1em;
          top: .1em;
          position: relative;
        }
      }

      .dev-status {
        padding-top: 0;
        color: #beffff;
        font-weight: $font-weight-semi-bold;
      }

      .available {
        padding-top: 20px;
        font-weight: $font-weight-semi-bold;
        font-style: italic;
      }
    }
  }

  .program-footer {
    text-align: right;
    padding: 20px;
  }
}
