#favorites {
  padding: 15px;
  min-height: calc(100vh - #{$size-header});

  .fav-el {
    padding: 20px 0;
    border-bottom: 1px solid $color-delimiter;
    user-select: none;
    display: flex;
    overflow: hidden;

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 0;
    }

    .thumbnail {
      flex: 0 1 auto;
      margin-right: 10px;

      @media (max-width: $screen-xs) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .image {
        position: relative;
        width: 135px;
        height: 75px;

        @include image-preload-animation;

        @media (max-width: $screen-xs) {
          width: 100%;
          height: 190px;
        }

        &.empty {
          background: $gray-custom-2;
          @media (max-width: $screen-xs) {
            width: 100%;
            height: 55px;
          }
        }

        .overlay {
          width: 100%;
          height: 100%;
          @include overlay-view;
        }

        .img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .controls {
      flex: 100 1 auto;
      display: inline-flex;

      .info {
        flex: 1 1 auto;
        flex-direction: column;
        margin-right: 10px;
        display: inline-flex;

        .name {
          flex: 1 1 auto;
          font-size: 16px;
          font-weight: $font-weight-semi-bold;
          color: $gray-darker;
          padding-bottom: 5px;
          line-height: 1;
        }

        .subinfo {
          flex: 1 1 auto;
          font-size: 13px;
          padding-bottom: 5px;

          .item {
            color: $gray-darker;
            display: inline-flex;
          }

          .highlight {
            color: $black-almost;
          }
        }

        .gap {
          flex: 100 1 auto;
        }

        .links {
          font-size: 13px;
          flex: 0 1 auto;

          .item {
            margin-right: 7px;
            // ie 10
            cursor: pointer;
            white-space: nowrap;

            &.red {
                color: $red-custom-0;
            }
          }
        }
      }
    }
  }
}

