#stats-counters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .stat-counter {
    text-align: center;
    margin: 20px 30px;
    min-width: 250px;

    .main-text {
      font-size: 20px;
      font-weight: $font-weight-semi-bold;
      color: $black-almost;
      padding-bottom: 10px;

      svg {
        margin-right: 0.2em;
        height: 1em;
        width: 1em;
        top: .1em;
        position: relative;
      }
    }

    .main-count {
      font-size: 60px;
      font-weight: $font-weight-semi-bold;
      color: $brand-primary;
      border-bottom: 1px dotted $gray-dark;
    }

    .details {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .detail {
        margin: 10px;

        .sub-count {
          font-size: 16px;
          color: $black-almost;

          &.red {
            color: $red-custom-0;
          }
        }

        .sub-text {
          font-size: 13px;
        }
      }
    }
  }
}

#stats-lists {
  padding-bottom: 50px;

  .interactive {
    padding: 0 15px;

    @media (min-width: $screen-sm) {
      padding: 0 40px;
    }

    &.row {
      margin-left: 0;
      margin-right: 0;

      .col-sm-6 {
        padding: 0;
      }

      .header {
        padding-top: 25px;
      }

      @media (min-width: $screen-sm) {
        .programs {
          padding-right: 15px;
        }

        .apartments {
          padding-left: 15px;
        }
      }
    }

    .programs-export {
      margin-top: 20px;
    }
  }

  .stat-el {
    padding: 20px 0;
    border-bottom: 1px solid $color-delimiter;
    user-select: none;
    display: flex;
    overflow: hidden;

    @media (max-width: $screen-xs) {
      flex-direction: column;
    }

    &:last-child {
      border-bottom: 0;
    }

    .thumbnail {
      flex: 0 1 auto;
      margin-right: 10px;

      @media (max-width: $screen-xs) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      .image {
        position: relative;
        width: 135px;
        height: 75px;

        @include image-preload-animation;

        @media (max-width: $screen-xs) {
          width: 100%;
          height: 190px;
        }

        &.empty {
          background: $gray-custom-2;
          @media (max-width: $screen-xs) {
            width: 100%;
            height: 55px;
          }
        }

        .overlay {
          width: 100%;
          height: 100%;
          @include overlay-view;
        }

        @include apartment-sold(small);

        .img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }
      }
    }

    .controls {
      flex: 100 1 auto;
      display: inline-flex;

      .info {
        flex: 1 1 auto;
        flex-direction: column;
        margin-right: 10px;
        display: inline-flex;

        .name {
          flex: 1 1 auto;
          font-size: 16px;
          font-weight: $font-weight-semi-bold;
          color: $gray-darker;
          padding-bottom: 5px;
          line-height: 1;
        }

        .subinfo {
          flex: 1 1 auto;
          font-size: 13px;
          padding-bottom: 5px;

          .item {
            color: $gray-darker;
            display: inline-flex;
          }

          .highlight {
            color: $black-almost;
          }
        }

        .gap {
          flex: 100 1 auto;
        }

        .links {
          font-size: 13px;
          flex: 0 1 auto;

          .item {
            margin-right: 7px;
            // ie 10
            cursor: pointer;
            white-space: nowrap;

            &.red {
              span {
                color: $red-custom-0;
              }
            }
          }
        }

        .busy {
          border-bottom: 2px solid white;

          @keyframes switch_anim {
            from {
              border-color: white;
            }

            to {
              border-color: $red-custom-0;
            }
          }

          animation-duration: 1s;
          animation-name: switch_anim;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }

      .counters {
        font-size: 12px;
        font-weight: $font-weight-semi-bold;
        flex: 0 1 auto;
        flex-direction: column;
        white-space: nowrap;
        margin-right: 3px;

        svg {
          height: 1em;
          width: 1em;
          top: .1em;
          position: relative;
        }

        .rating {
          flex: 0 1 auto;
          color: $gray-darker;
          padding-bottom: 2px;
        }

        .shares {
          flex: 0 1 auto;
          color: $gray-darker;
        }
      }
    }
  }
}

