{% macro sliderGallery(imageset) %}
    <div class="container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                 
                 <div class="MultiCarousel-inner">
                   {% for image in imageset.images %} 
                    <div class="item">
                 
                        <div class="pad15">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/storage/files/imagesets/{{ imageset._id }}/{{ image }}" data-target="#image-gallery">
                            <img class="img-responsive" src="/storage/files/imagesets/{{ imageset._id }}/{{ image }}" >
                        </a>
                        </div>
                     
                    </div>
                        {% endfor %}  
                 </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>    
        </div>
    </div>   
{% endmacro %}