{% macro slider(imageset) %}
  <div class="slider loading-circle" data-count="{{ imageset.images | length }}">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for image in imageset.images %}
          <div class="swiper-slide">
            <img src="/storage/files/imagesets/{{ imageset._id }}/{{ image }}">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination swiper-pagination-white"></div>
    </div>
  </div>
{% endmacro %}

{% macro first(imageset) %}
  {%- if imageset.images | length -%}
    /storage/files/imagesets/{{ imageset._id }}/{{ imageset.images[0] }}
  {%- else -%}
    /assets/shared/images/logo-imageset.png
  {%- endif -%}
{% endmacro %}
