{% macro cut(text) %}
  <div class="readmore">
    <div class="content">
      {{ text | safe }}
      <div class="fadeout"></div>
    </div>
    <div class="expand"><a href>{{ __('Expand') }}</a></div>
  </div>
{% endmacro %}
