{% macro cut(header, text, count) %}
  {%- if text | length > count -%}
    <a href class="readmore-modal" data-header="{{ header }}" data-text="{{ text }}">{{ text | truncate(count, true) }}</a>
  {%- else -%}
    {{- text -}}
  {%- endif -%}
{% endmacro %}
