{% macro actions(
  title,
  entity_type,
  entity_id,
  share_url,
  integrate_url,
  counter_rating,
  share_current,
  favorite_enabled,
  favorite_id
  ) %}
<div class="social"
     data-title="{{ title }}"
     data-urlbase="{{ req.protocol }}://{{ req.hostname }}"
     data-entity-type="{{ entity_type }}"
     data-entity-id="{{ entity_id }}"
     data-share-url="{{ share_url }}"
     data-integrate-url="{{ integrate_url }}"
     data-share-current-page="{{ share_current }}"
     data-mobile="{{ template.mobile }}"
     data-favorite-id="{{ favorite_id }}"
>

  <span class="like">
    <span class="icon">{% include 'front/partials/icons/heart.njk' %}</span>
    <span class="icon-liked">{% include 'front/partials/icons/heart-solid.njk' %}</span>
    <span class="count">{{ counter_rating or '' }}</span>
  </span>
  {% if favorite_enabled and template.auth %}
    <span class="favorite">
      <span class="icon-added">
        {% include 'front/partials/icons/favorite.njk' %}
      </span>
      {{ __('Favorite') }}
    </span>
  {% endif %}
  <span class="share">{% include 'front/partials/icons/share.njk' %}{{ __('Share') }}</span>
</div>
{% endmacro %}
