{% macro actions(
  title,
  entity_type,
  entity_id,
  share_url,
  integrate_url,
  share_current,
  favorite_enabled,
  favorite_id
  ) %}
  <div class="social"
       data-title="{{ title }}"
       data-urlbase="{{ req.protocol }}://{{ req.hostname }}"
       data-entity-type="{{ entity_type }}"
       data-entity-id="{{ entity_id }}"
       data-share-url="{{ share_url }}"
       data-integrate-url="{{ integrate_url }}"
       data-share-current-page="{{ share_current }}"
       data-mobile="{{ template.mobile }}"
       data-favorite-id="{{ favorite_id }}"
  >

    <div class="action-no-toggle like">
      <div class="icon-active">
        <img src="/assets/shared/images/tour/sidebars/like-active.svg">
      </div>
      <div class="icon-not-active">
        <img src="/assets/shared/images/tour/sidebars/like.svg">
      </div>
    </div>

    <div class="action-no-toggle share">
      <img src="/assets/shared/images/tour/sidebars/share.svg">
    </div>

    {% if favorite_enabled and template.auth %}
    <div class="action favorite">
      <div class="icon-active">
        <img src="/assets/shared/images/tour/sidebars/favorite-active.svg">
      </div>
      <div class="icon-not-active">
        <img src="/assets/shared/images/tour/sidebars/favorite.svg">
      </div>
    </div>
    {% endif %}
  </div>
{% endmacro %}
