{% macro url(developer) %}
  {%- if not(req.subdomains | length) -%}
    /developers/{{ developer._id }}
  {%- elseif req.subdomains[0] != developer.alias -%}
    /developers/{{ developer._id }}
  {%- else -%}
    /
  {%- endif -%}
{% endmacro %}
