{% extends "back/layout.njk" %}

{% set page = 'settings' %}

{% block content %}
  <div class="setting panel">
    <div class="row">
      <div class="col-md-6">
        <form action="./settings" method="post">
          <div class="form-group">
            <label>Platform info</label>
            <div>
              Hostname: {{ hostname }}, average load: {{ loadavg }}
            </div>
          </div>
          <div class="form-group">
            <label>Memory usage</label>
            <div>
              rss: {{ memory.rss }}, heap total: {{ memory.heapTotal }}, heap used: {{ memory.heapUsed }},  external: {{ memory.external }}
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="logoTourEnabled" {% if settings.logoTourEnabled %} checked {% endif %}>
                  Global tour logo
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Tour logo url</label>
            <input name="logoTourUrl" type="url" class="form-control" value="{{ settings.logoTourUrl }}">
          </div>
          <div class="form-group">
            <label>Search results per page</label>
            <input name="searchResultsPerPage" type="number" min="3" class="form-control"
                   value="{{ settings.searchResultsPerPage }}">
          </div>
          <div class="form-group">
            <label>Search geo max distance</label>
            <input name="searchGeoMaxDistance" type="number" min="1000" class="form-control"
                   value="{{ settings.searchGeoMaxDistance }}">
          </div>
          <div class="form-group">
            <label>Search geo max distance from the user location</label>
            <input name="searchGeoMaxDistanceUser" type="number" min="1000" class="form-control"
                   value="{{ settings.searchGeoMaxDistanceUser }}">
          </div>
          <div class="form-group">
            <label>Search sold items, days</label>
            <input name="searchSoldItems" type="number" min="0" class="form-control"
                   value="{{ settings.searchSoldItems }}">
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="lambdaScenePreviews" {% if settings.lambdaScenePreviews %} checked {% endif %}>
                  Use Lambda for scene previews
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="lambdaTours" {% if settings.lambdaTours %} checked {% endif %}>
                  Use Lambda for tours
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="krpanoLicensed" {% if settings.krpanoLicensed %} checked {% endif %}>
                  KRPano licensed OK
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Mobile app minimal version</label>
            <input name="mobileAppMinimalVersion" type="number" min="0" class="form-control"
                   value="{{ settings.mobileAppMinimalVersion }}">
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="maintenanceMobileApp" {% if settings.maintenanceMobileApp %}checked{% endif %}>
                  Mobile app maintenance
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="notifyNewAppTours" {% if settings.notifyNewAppTours %} checked {% endif %}>
                  Mobile tours email notifications
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label style="color:red;">
                <input type="checkbox" name="allowSceneTypesRemoval" {% if settings.allowSceneTypesRemoval %} checked {% endif %}>
                  Allow scene types removal
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label style="color:red;">
                <input type="checkbox" name="allowLayerTypesRemoval" {% if settings.allowLayerTypesRemoval %} checked {% endif %}>
                  Allow layer types removal
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger rebuild-paths">Rebuild paths</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger rebuild-counters">Rebuild counters</button>
          </div>
          <div class="form-group">
            <label>Send test email to</label>
            <input name="mailTest" type="email" class="form-control" value="">
            <button type="button" class="btn btn-danger mail-test">Mail test</button>
          </div>
          <div class="form-group">
            <label>FCM to</label>
            <input name="fcmTest" type="text" class="form-control" value="">
            <button type="button" class="btn btn-danger fcm-test">FCM test</button>
          </div>
          <!--<div class="form-group">
            <button type="button" class="btn btn-danger fix">Fix</button>
          </div>-->
          <div class="actions">
            <button type="button" class="btn btn-default back-button">{{ __('Cancel') }}</button>
            <button type="submit" class="btn btn-primary">{{ __('Save') }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
